{{!-- {{#light-table table height='65vh' as |t|}}

  {{t.head
    iconSortable='fa fa-sort'
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body as |body|}}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}} --}}




<div class="table-wrapper" style="position: relative; display: block; height: 200px; overflow-y: scroll;">
  <table class="tableFixHead currency-table currency-table_compact table table-borderless table-hover" style="height: 200px;">
    <thead>
      <tr>
        <th>coin</th>
        <th>Price</th>
        <th>change24h</th>
        <th>change1w</th>
        <th>change1m</th>
      </tr>
    </thead>
    {{#vertical-collection
        model
        estimateHeight=27
        staticHeight=true
        bufferSize=7
        renderAll=false
        containerSelector=".table-wrapper"
        tagName="tbody"
        as |item i|}}
          <tr>
            <td>{{item.coin}}</td>
            <td>{{item.price}}</td>
            <td>{{item.change24h}}</td>
            <td>{{item.change1w}}</td>
            <td>{{item.change1m}}</td>
          </tr>
    {{/vertical-collection}}
  </table>
</div>