<footer>
  <div class="container d-flex flex-column flex-md-row justify-content-between pt-4">
    <div class="col-md-2">
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/change/buy-bitcoin-with-cardusd">
        <span>{{t 'footer.buy-links.link-1'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/change/buy-ethereum-with-cardusd">
        <span>{{t 'footer.buy-links.link-2'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/change/buy-ripple-with-cardusd">
        <span>{{t 'footer.buy-links.link-3'}}</span>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/change/buy-litecoin-with-cardusd">
        <span>{{t 'footer.buy-links.link-4'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/change/buy-dash-with-cardusd">
        <span>{{t 'footer.buy-links.link-5'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/change/buy-bitcoin%20cash-with-cardusd">
        <span>{{t 'footer.buy-links.link-6'}}</span>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/news">
        <span>{{t 'footer.news'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/affiliate">
        <span>{{t 'footer.partnership'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/api">
        <span>API</span>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/help">
        <span>{{t 'footer.questions'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/terms-of-use">
        <span>{{t 'footer.terms-of-use'}}</span>
        </a>
      </div>
      <div class="row">
        <a class="footer__link pb-2" href="https://indacoin.com/xx_XX/locale">
        <span>{{t 'footer.change-region'}}</span>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row justify-content-center">
        <a class="mx-3" href='https://twitter.com/indacoin'>
          <img src="{{ENV.rootURL}}ember/images/footer/twitter.svg">
        </a>
        <a class="mx-3" href='https://www.facebook.com/indacoinlimited/'>
          <img src="{{ENV.rootURL}}ember/images/footer/facebook.svg">
        </a>
        <a class="mx-3" href='https://www.instagram.com/indacoin_limited/'>
          <img src="{{ENV.rootURL}}ember/images/footer/instagram.svg">
        </a>
      </div>
      <div class="row justify-content-center">support@indacoin.com</div>
      <div class="row justify-content-center">+44 207 048 25 82</div>
    </div>
    <div class="footer__address col-md-2">
      <p>Indacoin Limited, Suite 4b, 43 Berkeley Square, Mayfair, London, Westminster, United Kingdom, W1J 5FJ Company Number 08924450</p>
    </div>
  </div>
</footer>