<header>
	<nav class="header py-2">
		<div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">

			{{!-- Buy Bitcoin --}}
			<a class="header__item header__item_light py-2 px-2 d-md-inline-block" href="https://indacoin.com/xx_XX/change">
				<span>Buy Bitcoin</span>
			</a>

			{{!-- Trading --}}
			{{#link-to 'trading' class="header__item header__item_light py-2 px-2 d-md-inline-block" tagName="a"}}
				<span>{{t 'header.trading'}}</span>
			{{/link-to}}

			{{!-- Exchange --}}
			{{#link-to 'exchange' class="header__item header__item_light py-2 px-2 d-md-inline-block" tagName="a"}}
				<span>{{t 'header.exchange'}}</span>
			{{/link-to}}

			{{!-- Funds --}}
			<div class="menu-dropdown dropdown">
				<a class="header__item header__item_light py-2 px-2 d-md-inline-block dropdown-toggle" id="menu-dropdown__element" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>{{t 'header.funds.title'}}</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="menu-dropdown__element">
					<button class="menu-dropdown__item dropdown-item" type="button">
						{{#link-to 'funds.withdrawal' class="header__item header__item_light py-2 px-2 d-md-inline-block" tagName="a"}}
							<img src="{{ENV.rootURL}}ember/images/header/withdrawal.png">{{t 'header.funds.withdrawal'}}
						{{/link-to}}
					</button>
					<button class="menu-dropdown__item dropdown-item" type="button">
						{{#link-to 'funds.deposit' class="header__item header__item_light py-2 px-2 d-md-inline-block" tagName="a"}}
							<img src="{{ENV.rootURL}}ember/images/header/deposit.png">{{t 'header.funds.deposit'}}
						{{/link-to}}
					</button>
					<button class="menu-dropdown__item dropdown-item" type="button">
						{{#link-to 'funds.balance' class="header__item header__item_light py-2 px-2 d-md-inline-block" tagName="a"}}
							<img src="{{ENV.rootURL}}ember/images/header/balance.png">{{t 'header.funds.balance'}}
						{{/link-to}}
					</button>
				</div>
			</div>

			{{!-- Indacoin --}}
			{{!-- {{#link-to 'inner' class="header__item header__item__logo py-2 px-2" tagName="a"}}
				<img class="align-text-bottom" src="{{ENV.rootURL}}ember/images/header/indacoin.svg">
			{{/link-to}} --}}

			{{!-- Indacoin --}}
			<a class="header__item header__item__logo header__item_light py-2 px-2 d-md-inline-block" href="https://indacoin.com">
				<span>Indacoin</span>
			</a>

			{{!-- News --}}
			<a class="header__item header__item_light py-2 px-2 d-md-inline-block" href="https://indacoin.com/xx_XX/news">
				<span>News</span>
			</a>

			{{!-- FAQ --}}
			<a class="header__item header__item_light py-2 px-2 d-md-inline-block" href="https://indacoin.com/xx_XX/help">
				<span>FAQ</span>
			</a>

			{{!-- English --}}
			{{language-select}}

			{{!-- Login --}}
			{{#if userSpinner}}
					{{!-- Loading spinner --}}
					<div class="d-flex justify-content-center h-100">
						<div class="d-flex align-self-center">
							<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
						</div>
					</div>
				{{else}}
					<a class="header__item header__item_light header__item__account py-2 px-2 d-md-inline-block" href="#">
						{{#if user}}
							<img src="{{ENV.rootURL}}ember/images/header/account.png">
							<span>{{user}}</span>
						{{else}}
							<img src="{{ENV.rootURL}}ember/images/header/account.png">
							<span>Log in</span>
						{{/if}}
					</a>
			{{/if}}

		</div>
	</nav>
</header>
