/* Specification */

$baseURL: '/exchange'

// Imports
@import "components/coins"
@import "components/currency"
@import "components/spinners"
@import "components/responsive"

@import 'ember-power-select/themes/bootstrap'

$ember-power-select-line-height: 2 !default
$ember-power-select-border-color: #ccc !default
$ember-power-select-trigger-icon-color: #999 !default
$ember-power-select-focus-outline: 0 !default
$ember-power-select-opened-border-radius: 4px !default
$ember-power-select-search-input-border-radius: 3px !default
$ember-power-select-dropdown-margin: 3px !default
$ember-power-select-dropdown-box-shadow: rgba(black, 0.172549) 0px 6px 12px 0px !default
$ember-power-select-highlighted-color: inherit !default
$ember-power-select-highlighted-background: #f5f5f5 !default
$ember-power-select-selected-background: #f5f5f5 !default
$ember-power-select-focus-border-color: #ccc
$ember-power-select-focus-box-shadow: none
$ember-power-select-dropdown-border: 1px solid $ember-power-select-border-color !default
$ember-power-select-dropdown-contiguous-border: $ember-power-select-dropdown-border !default
@import 'ember-power-select'

@import "ember-modal-dialog/ember-modal-structure"
@import "ember-modal-dialog/ember-modal-appearance"

// Colors
$green-button-color: #57d04f
$selected-element: #e9ecef
$text-gray: #656565
$light-gray: #d3d3d3
$error: #ef4b5a
$blue: #12c8db
$orchid: #e15ec8
$pink: #f9dff4
$azure: #178bff

$crypto-color-one: #00cdfd
$crypto-color-two: #404eaa
$crypto-color-three: #bbd5ff
$crypto-color-four: #012a77
$crypto-color-five: #bbd5ff
$crypto-color-six: #012a77
$crypto-color-seven: #0093ff
$crypto-color-eight: #00ffff
$crypto-color-nine: #60d2f5

@font-face
  font-family: 'FuturaBookC Regular'
  src: url('#{$baseURL}/ember/fonts/futurabookc.otf')

@font-face
  font-family: 'FuturaDemiC Regular'
  src: url('#{$baseURL}/ember/fonts/futurademic.otf')

@font-face
  font-family: 'FuturaDemiC Italic'
  src: url('#{$baseURL}/ember/fonts/futurademic-italic.otf')

@font-face
  font-family: 'FuturaFuturisBlackC Regular'
  src: url('#{$baseURL}/ember/fonts/futurafuturisblackc.otf')

@font-face
  font-family: 'FuturaFuturisLightC Regular'
  src: url('#{$baseURL}/ember/fonts/futurafuturislightc.otf')

@font-face
  font-family: 'FuturaLightC Regular'
  src: url('#{$baseURL}/ember/fonts/futuralightc.otf')

@font-face
  font-family: 'Futura-Normal Regulal'
  src: url('#{$baseURL}/ember/fonts/futura-normal-regular.ttf')

body
  font-family: 'FuturaFuturisLightC Regular'
  color: #000000
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body, wrapper
   min-height: 100vh

/* TODO: Взять сглаженный фон, который не режет глаза */
/* TODO: Delete class */
// .flex-fill
//   background-color: #fafafa

.container-box
  width: 100%
  margin: 25px 0
  border: 2px solid $light-gray
  border-radius: 1px
  background-color: white
  padding: 1.25rem
  &.container-box_compact
    padding: 0.5rem 1.25rem
  &.container-box_round
    border-radius: 5px
  &.container-box_border-less
    border: none
  & .container-box__inner
    padding: 1rem 3.5rem 1rem 3.5rem
    &.vdivide
      border-right: 2px solid #e5f9fa

.shadow-box
  width: 100%
  margin: 25px 0
  background-color: white
  -webkit-box-shadow: -5px -5px 40px 0px rgba(0,0,0,0.2)
  -moz-box-shadow: -5px -5px 40px 0px rgba(0,0,0,0.2)
  box-shadow: -5px -5px 40px 0px rgba(0,0,0,0.2)
  & .shadow-box_gradient
    background: -moz-linear-gradient(17.45% -52.3% -45deg,rgba(42, 37, 221, 0.6) 0%,rgba(0, 205, 253, 0.6) 100%)
    background: -webkit-linear-gradient(-45deg, rgba(42, 37, 221, 0.6) 0%, rgba(0, 205, 253, 0.6) 100%)
    background: -webkit-gradient(linear,17.45% -52.3% ,82.55% 152.3% ,color-stop(0,rgba(42, 37, 221, 0.6) ),color-stop(1,rgba(0, 205, 253, 0.6) ))
    background: -o-linear-gradient(-45deg, rgba(42, 37, 221, 0.6) 0%, rgba(0, 205, 253, 0.6) 100%)
    background: -ms-linear-gradient(-45deg, rgba(42, 37, 221, 0.6) 0%, rgba(0, 205, 253, 0.6) 100%)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD', endColorstr='#00CDFD' ,GradientType=0)"
    background: linear-gradient(135deg, rgba(42, 37, 221, 0.6) 0%, rgba(0, 205, 253, 0.6) 100%)
    filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD',endColorstr='#00CDFD' , GradientType=1)
  &.shadow-box_round-big
    border-radius: 12px
    & .shadow-box__inner
      border-radius: 12px
  &.shadow-box_round-medium
    border-radius: 6px
    & .shadow-box__inner
      border-radius: 6px
  & .shadow-box__inner
    padding: 1.25rem
    &.shadow-box__inner_compact
      padding: 0.5rem 1.25rem
    &.shadow-box__inner_wide
      padding: 3rem 4rem 3rem 4rem
      &.vdivide
        border-right: 2px solid #e5f9fa
        border-radius: 0
    &.shadow-box__inner_medium // TODO: merge and rename
      padding: 1rem 3.5rem
      &.vdivide
        border-right: 2px solid #e5f9fa
        border-radius: 0
    &.shadow-box__inner_medium-left // TODO: merge and rename
      padding: 1rem 6rem 1rem 1rem
      &.vdivide
        border-right: 2px solid #e5f9fa
        border-radius: 0
    &.shadow-box__inner_medium-right // TODO: merge and rename
      padding: 1rem 1rem 1rem 3rem
      &.vdivide
        border-right: 2px solid #e5f9fa
        border-radius: 0
    &.shadow-box_menu
      cursor: pointer
      font-family: 'FuturaFuturisLightC Regular'
      font-weight: 700
      padding: 0.7rem 0 0.2em 0
      font-size: 1.3rem
      color: $text-gray
      &.shadow-box_menu_active
        color: #ffffff
        background: -moz-linear-gradient(0% 50% 0deg,rgba(42, 37, 221, 0.77) 0%,rgba(0, 205, 253, 0.77) 100%)
        background: -webkit-linear-gradient(0deg, rgba(42, 37, 221, 0.77) 0%, rgba(0, 205, 253, 0.77) 100%)
        background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(42, 37, 221, 0.77) ),color-stop(1,rgba(0, 205, 253, 0.77) ))
        background: -o-linear-gradient(0deg, rgba(42, 37, 221, 0.77) 0%, rgba(0, 205, 253, 0.77) 100%)
        background: -ms-linear-gradient(0deg, rgba(42, 37, 221, 0.77) 0%, rgba(0, 205, 253, 0.77) 100%)
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD', endColorstr='#00CDFD' ,GradientType=0)"
        background: linear-gradient(90deg, rgba(42, 37, 221, 0.77) 0%, rgba(0, 205, 253, 0.77) 100%)
        filter: alpha(opacity=77) progid:DXImageTransform.Microsoft.Alpha(opacity=77) progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD',endColorstr='#00CDFD' , GradientType=1)

.box
  padding: 0 15px
  border: 2px solid $blue

.table-wrapper
  overflow-y: scroll
  & table
    border-collapse: collapse
    & th
      position: sticky
      top: 0
      background: #ffffff
  &::-webkit-scrollbar-track
    background-color: #ffffff
  &::-webkit-scrollbar
    width: 8px
    background-color: #ffffff
  &::-webkit-scrollbar-thumb
	  background-color: $light-gray

.currency-table
  text-align: center
  table-layout: fixed
  & td, th
    vertical-align: middle
  & thead
    & th
      font-weight: 400
      vertical-align: middle
  &.currency-table_pointer-cursor
    & tbody
      & tr
        cursor: pointer
  & tbody
    font-size: 14px
    & tr.currency-table__no-data
      font-family: 'FuturaLightC Regular'
      font-size: 18px
      cursor: text
      background-color: #fafafa !important
      &:hover
        background-color: #fafafa !important
      & td
        color: #000000 !important
  &.currency-table_compact
    margin-bottom: 0
    & tr, th
      color: $text-gray
    & thead th
      font-size: 14px
  & tbody> tr:hover
    background-color: #dcf7fa
  &.currency-table_hover-pink
    & tbody> tr:hover
      background-color: $pink
  &.currency-table_hover-blue
    & tbody> tr:hover
      background-color: #b8eff4

.block__header
  font-size: 1.6rem
  font-family: 'FuturaFuturisLightC Regular'
  text-transform: uppercase
  font-weight: 700
  color: $text-gray
  padding-left: 20px
  &.block__header_small
    font-size: 1.4rem
    text-transform: none
  &.block__header_regular
    font-weight: 400
    font-size: 1.4rem

.divider
  border-top: 1px solid $blue
  margin-top: 0
  margin-bottom: .5rem

header
  background: -moz-linear-gradient(40.86% -391.13% -66deg,rgba(42, 63, 221, 1) 0%,rgba(23, 147, 235, 1) 41.9%,rgba(7, 222, 248, 1) 81.7%,rgba(0, 251, 253, 1) 100%)
  background: -webkit-linear-gradient(-66deg, rgba(42, 63, 221, 1) 0%, rgba(23, 147, 235, 1) 41.9%, rgba(7, 222, 248, 1) 81.7%, rgba(0, 251, 253, 1) 100%)
  background: -webkit-gradient(linear,40.86% -391.13% ,59.14% 491.13% ,color-stop(0,rgba(42, 63, 221, 1) ),color-stop(0.419,rgba(23, 147, 235, 1) ),color-stop(0.817,rgba(7, 222, 248, 1) ),color-stop(1,rgba(0, 251, 253, 1) ))
  background: -o-linear-gradient(-66deg, rgba(42, 63, 221, 1) 0%, rgba(23, 147, 235, 1) 41.9%, rgba(7, 222, 248, 1) 81.7%, rgba(0, 251, 253, 1) 100%)
  background: -ms-linear-gradient(-66deg, rgba(42, 63, 221, 1) 0%, rgba(23, 147, 235, 1) 41.9%, rgba(7, 222, 248, 1) 81.7%, rgba(0, 251, 253, 1) 100%)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A3FDD', endColorstr='#00FBFD' ,GradientType=0)"
  background: linear-gradient(156deg, rgba(42, 63, 221, 1) 0%, rgba(23, 147, 235, 1) 41.9%, rgba(7, 222, 248, 1) 81.7%, rgba(0, 251, 253, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A3FDD',endColorstr='#00FBFD' , GradientType=1)
  & .header__item
    text-decoration: none
    border-radius: 6px
    & span
      color: white
      font-family: 'FuturaBookC Regular'
      text-transform: uppercase
      margin-left: 0.25rem
    &.header__item_light
      &.active
        background: rgba(255,255,255,.08)
      &:hover
        background: rgba(255,255,255,.08)
    &.header__item__logo
      //width: 130px
      & span
        font-size: 1.5rem
    &.header__item__account
      & span
        font-size: 20px
        text-transform: none
      & img
        vertical-align: text-bottom
  & .language-select
    border-radius: 6px
    &:hover
      background: rgba(255,255,255,.08)
    >.custom-select
      background: none
      font-size: 1rem
      text-transform: uppercase
      font-family: 'FuturaBookC Regular'
      border: none
      color: #ffffff
      &:focus
        box-shadow: none
      >option
        color: #000000
        border-radius: 1rem

.menu-dropdown
  cursor: pointer
  & #menu-dropdown__element:after
    content: none
  & .menu-dropdown__item
    text-transform: uppercase
    font-family: "FuturaBookC Regular"
    padding: 0 10px
    & img
      height: 22px
      margin-right: 10px
    &:active
      background-color: #ffffff

footer
  background-size: 100%
  background-color: #515151
  width: 100%
  color: white
  font-family: 'FuturaBookC Regular'
  & .footer__link
    text-decoration: none
    & span
      color: white
      text-transform: uppercase
    &:hover
      & span
        color: darken(white, 20%)
  & img
    height: 1rem
  & .footer__address
    font-size: 12px

.blue-button
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  color: white
  font-size: 19px
  text-decoration: none
  border: none
  outline: none
  font-family: 'FuturaBookC Regular'
  font-weight: bold
  background-color: $blue
  padding-top: 5px
  padding-bottom: 5px
  width: 100%
  &:hover
    cursor: pointer
    color: #FFFFFF
    background-color: lighten($blue, 2%)
  &:active
    color: #FFFFFF
    background-color: darken($blue, 2%)
  &:focus
    outline: none
    box-shadow: none

  // TODO: refactor buttons to one classes
.green-button
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  color: white
  font-size: 19px
  text-decoration: none
  border: none
  outline: none
  font-family: 'FuturaBookC Regular'
  font-weight: bold
  background-color: $green-button-color
  padding-top: 5px
  padding-bottom: 5px
  width: 100%
  &.green-button_float
    width: auto
    padding-right: 25px
    padding-left: 25px
  &.green-button_medium
    width: auto
    padding-right: 60px
    padding-left: 60px
  &.green-button_large
    width: auto
    padding: 7px 90px
    font-size: 20px
  &.green-button_shadow // TODO: merge shadows
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.4)
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.4)
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.4)
    &:focus
      -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.4)
      -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.4)
      box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.4)
  &.green-button_shadow-light // TODO: merge shadows
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
    &:focus
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
      -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2)
  &:hover
    cursor: pointer
    color: #FFFFFF
    background-color: lighten($green-button-color, 5%)
  &:active
    color: #FFFFFF
    background-color: darken($green-button-color, 5%)
  &:focus
    outline: none
    box-shadow: none

.white-button
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  color: $blue
  font-size: 16px
  padding: 7px 20px 4px 20px
  text-decoration: none
  border: 2px solid $blue
  outline: none
  text-transform: uppercase
  font-family: 'FuturaBookC Regular'
  font-weight: bold
  background-color: white
  &:hover
    cursor: pointer
    color: lighten($blue, 7%)
    border: 2px solid lighten($blue, 7%)
  &:active
    color: #FFFFFF
    color: darken($blue, 2%)
    border: 2px solid darken($blue, 2%)
  &:focus
    outline: none

// Page /funds
.history
  & .table-wrapper
    height: 300px
    &::-webkit-scrollbar-track
      margin-top: 32px
  & table
    & td, th
      padding-top: .5rem
      padding-bottom: 0
    & td:nth-child(-n+4), th:nth-child(-n+4)
      padding-right: .2rem
    & td:nth-child(n+2), th:nth-child(n+2)
      padding-left: .2rem
    & td:first-child, th:first-child
      padding-left: 0
    & td:nth-last-child(1), th:nth-last-child(1)
      padding-right: 0
    & tbody
      font-size: 12px
      color: $text-gray
      > tr
        > td
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap

// Page /funds/balance
.balance
  & .balance__bottom
    text-align: right
    color: $text-gray
    font-size: 0.8rem
    margin-top: 2rem
  & .balance__middle
    & img
      width: 100%
      // width: 8rem
      // height: 8rem
      // margin-left: 1rem
      // margin-top: 0.7rem
  & .balance__crypto
    &::before
      content: ""
      display: inline-block
      width: 15px
      height: 15px
      margin-right: 5px
    &.balance__crypto_color:nth-child(1):before
      background: $crypto-color-one
    &.balance__crypto_color:nth-child(2):before
      background: $crypto-color-two
    &.balance__crypto_color:nth-child(3):before
      background: $crypto-color-three
    &.balance__crypto_color:nth-child(4):before
      background: $crypto-color-four

.top-markets
  & table
    & td, th
      padding: .5rem 0
    & thead
      & th
        color: $text-gray
      & th:nth-child(1)
          width: 32px
    & tbody
      & .sprite
        display: block
      > tr
        > td:nth-child(n+4)
          color: $text-gray
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
        > td:nth-child(3)
          color: $blue
          &.top-markets_negative
            color: $orchid

// Page /funds/balance
.asset-portfolio
  & table
    & td, th
      padding: .5rem 0
    & tbody
      & .sprite
        display: block
      > tr
        > td:nth-child(n+2):nth-child(-n+5)
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
  & .asset-portfolio__info p
    text-align: right
  & .asset-portfolio__icon
    margin-right: 15px
  & .asset-portfolio__short-name
    width: 50px
  & .asset-portfolio__full-name
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

// Page /funds/deposit
.deposit
  & .deposit__address
    text-align: center
    & span:nth-child(1)
      color: $text-gray
  & .balance__pending
    padding-left: 1.5rem
  & .balance__confirmations
    margin-top: 2rem
    & p
      color: $text-gray
      font-size: 0.9rem
      margin-top: 2rem
      text-align: left
  & .deposit__copy-address
    margin-top: 27px
    margin-bottom: 33px

.deposit-history
  & .table-wrapper
    height: 267px
    &::-webkit-scrollbar-track
      margin-top: 40px
    & table
      & td, th
        padding: .5rem 0
      & td
        height: 38px
      & tbody
        & .sprite
          display: block
        & tr:not(:last-child) // TODO: & tr:not(:last-child) not work
          border-bottom: 1px solid #dee2e6
        > tr
          > td:nth-child(n+1):nth-child(-n+7)
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

.cards
  & table
    & td, th
      padding: .5rem 0
    & tbody
      // TODO: normal sprite
      & .sprite-visa
        display: block
        background-image: url('#{$baseURL}/ember/images/other/visa.png')
        height: 33px
        background-repeat: no-repeat


.payment-methods
  margin-top: 20px
  & .payment-methods__menu-title
    color: #d3d3d3
    font-family: "FuturaDemiC Regular"
    font-size: 17px
    text-transform: uppercase
    margin-bottom: 0
    text-align: center
  & .payment-methods__nemu
    cursor: pointer
    &.payment-methods__menu_active
      border: 3px solid $blue
      padding: 19px
      background-color: lighten($blue, 50%)
      & .payment-methods__menu-title
        color: $blue
  & .payment-methods__input
    border: 2px solid #d0d0d0
    &:focus
      box-shadow: none
      border-color: #f0b90b
    &.error
      border-color: $error
  & .payment-methods__error-field
    text-align: center
    color: $error
    height: 24px
  & .payment-methods__line
    margin-top: 8px
    margin-bottom: 8px
    &.payment-methods__line_small
      margin-top: 0
  & .payment-methods__content
    margin-top: 10px
    & .payment-methods__cryptocurrency
      & .sprite
        display: block
      & .payment-methods__text
        color: $text-gray
        font-size: 0.9rem
        text-align: left
      & .payment-methods__wallet
        font-family: "FuturaFuturisLightC Regular"
        font-weight: 700
      & .payment-methods__copy
        color: $blue
        text-transform: uppercase
        font-family: "FuturaDemiC Regular"
        font-size: 12px
        cursor: pointer
        &.payment-methods__copy_copied
          color: $orchid
      & .payment-methods__qrcode
        display: block
        margin: auto

    & .payment-methods__bank
      margin-top: 2.5rem
      margin-bottom: 4.5rem
      color: #808080
      font-size: 17px
      & p
        margin: 0
    & .payment-methods__card
      & .payment-methods__card-image
        display: block
        //height: 210px
        width: 100%
        margin-left: auto
        margin-right: auto
        margin-top: 1rem
        margin-bottom: 1rem
      & .payment-methods__text
        color: #808080
        font-size: 18px
      & .payment-methods__fee
        color: #808080
        font-size: 15px
      & .payment-methods__currency
        & span
          cursor: pointer
          &.payment-methods__currency_active
            color: $blue
      & .payment-methods__currency-label
        position: absolute
        top: 56px
        left: 436px
      & .payment-methods__commision-value
        color: #808080
      & .payment-methods__card-logo
        display: block
        margin-right: 15px
        margin-left: auto
      & .intl-tel-input
        width: 100%

      & .payment-methods__card-front
        background: #b8ecec
        border-radius: .5em
        padding: 1em
        height: 12.5em
        z-index: 1
        position: absolute
        & label[for=payment-methods__card-number]
          font-family: 'FuturaLightC Regular'
          color: rgba(0, 0, 0, .5)
          font-size: 12px
          margin: 0 0 0 15px
        & label[for=payment-methods__full-name]
          font-family: 'FuturaLightC Regular'
          color: rgba(0, 0, 0, .5)
          font-size: 12px
          margin: 0 0 0 15px
        & label[for=payment-methods__valid_thru]
          font-family: 'FuturaLightC Regular'
          color: rgba(0, 0, 0, .5)
          font-size: 12px
          margin: 0
        & input
          border-radius: 0
          border: 1px solid rgba(170, 170, 170, 255)
          font-size: 14px
          &:focus
            box-shadow: none
            //border-color: #f0b90b
          // &.error
          //   border-color: $error

      & .payment-methods__card-back
        background: #cdf3f7
        border-radius: .5em
        padding: 1em
        height: 12.5em
        position: absolute
        width: 100%
        top: 2rem
        right: -6rem
        & label[for=payment-methods__cvc]
          font-family: 'FuturaLightC Regular'
          color: rgba(0, 0, 0, .5)
          font-size: 12px
          margin: 0
          line-height: 12px
        & input
          border-radius: 0
          border: 1px solid rgba(170, 170, 170, 255)
          font-size: 14px
          &:focus
            box-shadow: none

// Page /funds/withdrawal
.withdrawal
  & .withdrawal__information
    margin-top: 2rem
    & p
      color: $text-gray
      font-size: 0.9rem
      text-align: left
  & .withdrawal__comments
    margin-top: 1.5rem
    & p
      color: $blue
      text-align: center
  & .withdrawal__form
    & input
      color: #000000
    & .withdrawal__address
    & .withdrawal__amount
    & .withdrawal__code
    & .withdrawal__available
      color: $text-gray
    & .withdrawal__error-field
      text-align: center
      color: $error
      height: 24px

    // TODO: merge styles
    & .form-control
      border-radius: 0
      border: 1px solid rgba(170, 170, 170, 255)
      &:focus
        box-shadow: none
        border-color: #f0b90b
      &.error
        border-color: $error
    & .withdrawal__input-currency
      position: absolute
      top: 9px
      left: 370px
      color: #b3b3b3ff
    & .form-group
      & > label
        &:first-child
          color: $text-gray
          text-align: right
          padding-right: 0
        &:last-child
          color: $blue



// Page /exchange
.prices
  & .prices__table-begin
    background-image: url('#{$baseURL}/ember/images/exchange/table-background-pink.png')
    background-position-y: bottom
    background-repeat: no-repeat
    background-size: contain
    height: 320px
    & .table-wrapper
      height: 320px
      &::-webkit-scrollbar-track
        margin-top: 27px
  & .prices__table-end
    background-image: url('#{$baseURL}/ember/images/exchange/table-background-blue.png')
    background-position-y: bottom
    background-repeat: no-repeat
    background-size: contain
    height: 320px
    & .table-wrapper
      height: 320px
  & table
    & td, th
      padding: .2rem 0
    & thead
      & th
        color: $text-gray
    & tbody
      color: $text-gray
      > tr
        > td
          color: $text-gray
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
  & .prices__change
    text-align: center
    font-size: 24px
    & .prices__change_decreasing
      color: $blue
    & .prices__change_increasing
      color: $orchid
    & .prices__change_amount
      color: $text-gray
    & .prices__arrow
      > img
        margin-top: 4px

.current-orders
  & .table-wrapper
    height: 216px
    &::-webkit-scrollbar-track
      margin-top: 27px
    & table
      & td, th
        padding: .2rem 0
      & tbody
        > tr
          > td:nth-child(n+2):nth-child(-n+7)
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
    & .prices__change
      text-align: center
      & span:nth-child(1)
        color: $blue
    & .current-orders__action
      color: $blue
      cursor: pointer
      &:hover
        color: darken($blue, 10%)
        text-decoration: underline

// TODO: another table-history
.order-history
  & .table-wrapper
    height: 216px
    &::-webkit-scrollbar-track
      margin-top: 27px
    & table
      & td, th
        padding: .2rem 0
      & tbody
        > tr
          > td:nth-child(n+2):nth-child(-n+7)
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

.currency-chart
  & .currency-chart__header
    color: $text-gray
    & .currency-chart__pair
      > span:nth-child(2)
        font-size: 22px
        > span
          font-weight: bold
          color: #000000
    & .currency-chart__change
      > p:nth-child(1)
        font-size: 14px
      > p:nth-child(2)
        color: $blue
    & .currency-chart__high, .currency-chart__low
      > span:nth-child(1)
        text-align: center
        font-size: 14px
      > span:nth-child(2)
        text-align: center
        font-size: 19px
    & .currency-chart__volume
      > p:nth-child(1)
        font-size: 14px
    & .currency-chart__last-price
      > p
        font-size: 19px
        > span:nth-child(1)
          color: $blue
        > span:nth-child(2)

  & .currency-chart__body
    & span
      font-size: 2rem
      color: $blue

.operations
  margin-top: 10px
  & .box
    padding: 20px 40px 5px 40px
    background-color: #f7f7f7
  & .operations__body
    color: $text-gray
    & .operations__buy
      > p
        > span:nth-child(1)
          font-size: 24px
          color: $text-gray
          font-weight: bold
        > span:nth-child(2)
          font-size: 18px
          color: #000000
          font-weight: bold
          opacity: .4
        > span:nth-child(3)
          font-size: 14px
          color: #000000
          font-weight: bold
          opacity: .4
          line-height: 1rem
  & .operations__form
    & .form-control
      border-radius: 0
      border: 1px solid rgba(170, 170, 170, 255)
      &:focus
        box-shadow: none
        border-color: #f0b90b
      &.error
        border-color: $error
    & .operations__input-currency
      position: absolute
      top: 9px
      left: 230px
      color: #b3b3b3ff
    & .form-group
      & > label
        text-align: right
        padding-right: 0
        &:first-child
          color: $text-gray
        &:last-child
          color: $blue
  & .operations__buy_button
    font-size: 12px
  & .operations__sell-button
    font-size: 12px
  & .nav-pills
    & .nav-item
      margin-right: 2px
      & .nav-link
        border-top: 1px solid #11c7db
        border-left: 1px solid #11c7db
        border-right: 1px solid #11c7db
        border-radius: 0
        color: $text-gray
        padding-top: 4px
        padding-bottom: 4px
        &.active
          background-color: #11c7db
          color: #000000
          opacity: 0.7
  & .operations__error-field
    text-align: center
    color: $error
    height: 24px

.lastest-execution
  margin-top: 10px
  & .table-wrapper
    height: 270px
    &::-webkit-scrollbar-track
      margin-top: 27px
    & table
      & td, th
        padding: .2rem 0
      & thead
        & th
          color: $text-gray
      & tbody
        color: $text-gray
        > tr
          > td
            color: $text-gray
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
          &.lastest-execution_selected
            > td
              color: $blue

.currency-statistics
  margin-top: 10px
  & .table-wrapper
    height: 267px
    &::-webkit-scrollbar-track
      margin-top: 48px
  & table
    & td, th
      padding: .2rem 0
    & thead
      & th
        color: $text-gray
      & th:nth-child(1)
          width: 30px
      & th:nth-child(3)
          width: 80px
      & th:nth-child(4)
        > span
          color: $light-gray
    & tbody
      color: $text-gray
      & .sprite
        display: block
        float: right
      > tr
        &.active
          background-color: #dcf7fa
        > td
          color: $text-gray
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
        > td:nth-child(n+4):nth-child(-n+6)
          &.currency-statistics_positive
            color: $blue
          &.currency-statistics_negative
            color: $orchid
  & .nav-pills
    & .nav-link
      border-radius: 0
      color: $text-gray
      padding: 2px 7px 2px 7px
      &.active
        background-color: #11c7db
        color: #000000
        opacity: 0.7

.error-page
  & .error-page__link
    color: $blue
    cursor: pointer
    &:hover
      color: darken($blue, 10%)
      text-decoration: none

.trades
  & .trades__cryptocurrency
    & .dropdown-menu
      width: 100%
      & .menuItems
        max-height: 300px
        position: relative
        overflow-y: scroll
 
/*****************************************/
/******* start exchange/exchange *********/
/*****************************************/

// TODO: смержить классы и выделить BEM
.exchange
  & .exchange-balance
    min-height: 280px
    & .exchange-balance__info
      font-size: 20px
      margin-left: 12px
    & .exchange-balance__chart
      margin-top: 50px
    & table
      & td, th
        padding: .7rem 0
      & thead
        & th
          color: #cccccc
        & th:nth-child(1)
          width: 200px
        & th:nth-child(2)
          width: 150px
          padding-right: 40px
        & th:nth-child(3)
          width: 100px
        & th:nth-child(4)
          width: 100px
      & tbody
        & tr:not(:last-child) // TODO: & tr:not(:last-child) not work
          border-bottom: 1px solid #dee2e6
        & tr
          & td:nth-child(2)
            color: #7d7d7d
            padding-right: 40px
          & > td.exchange-balance__crypto
            margin-left: 12px
            & > span
              margin-left: 35px
            &::before
              content: ""
              position: absolute
              width: 15px
              height: 15px
              margin-top: 2px
        & tr:nth-child(1) > td.exchange-balance__crypto:before
          background: $crypto-color-one
        & tr:nth-child(2) > td.exchange-balance__crypto:before
          background: $crypto-color-two
        & tr:nth-child(3) > td.exchange-balance__crypto:before
          background: $crypto-color-three
        & tr:nth-child(4) > td.exchange-balance__crypto:before
          background: $crypto-color-four
        & tr:nth-child(5) > td.exchange-balance__crypto:before
          background: $crypto-color-five
        & tr:nth-child(6) > td.exchange-balance__crypto:before
          background: $crypto-color-six
        & tr:nth-child(7) > td.exchange-balance__crypto:before
          background: $crypto-color-seven
        & tr:nth-child(8) > td.exchange-balance__crypto:before
          background: $crypto-color-eight
        & tr:nth-child(9) > td.exchange-balance__crypto:before
          background: $crypto-color-nine
  & .exchange-form__line
    margin-top: 0.4rem
    margin-bottom: 0.4rem
  & .exchange-form__cryptocurrency
    & .sprite
      display: block
    & .exchange-form__text
      color: $text-gray
      font-size: 0.9rem
      text-align: left
    & .exchange-form__wallet
      font-family: "FuturaFuturisLightC Regular"
      font-weight: 700
    & .exchange-form__copy
      color: $blue
      text-transform: uppercase
      font-family: 'FuturaFuturisLightC Regular'
      font-size: 16px
      cursor: pointer
      &.exchange-form__copy_copied
        color: $orchid
        cursor: auto
    & .exchange-form__qrcode
      display: block
      margin: auto
  & .exchange-form__card
    & .exchange-form__amount
      font-size: 18px
      font-weight: bold
    & .exchange-form__card-input
      border: none
      box-shadow: none
      &:focus
        box-shadow: inset 0px 0px 1px 2px #f0b90b
        
        //border-color: #f0b90b
        //border: 2px solid #f0b90b
      &.error
        box-shadow: inset 0px 0px 1px 2px $error
        //border-color: $error

  
    // & input
    //   color: #000000
    // & .exchange-form__error-field
    //   text-align: center
    //   color: $error
    //   height: 24px
    // & .exchange-form__input
    //   border: 1px solid #d0d0d0
    //   &:focus
    //     box-shadow: none
    //     border-color: #f0b90b
    //   &.error
    //     border-color: $error

      // & input
      //   border-radius: 0
      //   border: 1px solid rgba(170, 170, 170, 255)
      //   &:focus
      //     box-shadow: none

    & .exchange-form__card-image
      display: block
      //height: 210px
      width: 100%
      margin-left: auto
      margin-right: auto
      margin-top: 1rem
      margin-bottom: 1rem
    & .exchange-form__text
      color: #808080
      font-size: 18px
    & label[for=exchange-form__terms-of-use]::before
      box-shadow: none
    & .exchange-form__fee
      color: #808080
      font-size: 15px
    & .exchange-form__currency
      & span
        cursor: pointer
        &.exchange-form__currency_active
          color: $blue
    & .exchange-form__currency-label
      position: absolute
      top: 54px
      left: 350px
      font-size: 18px
    & .exchange-form__commision-value
      color: #808080
    & .exchange-form__card-logo
      display: block
      margin-right: 15px
      margin-left: auto
    & .intl-tel-input
      width: 100%
    & .exchange-form__card-front
      background : -moz-linear-gradient(0% 50% 0deg,rgba(94, 111, 221, 1) 0%,rgba(111, 205, 253, 1) 100%)
      background : -webkit-linear-gradient(0deg, rgba(94, 111, 221, 1) 0%, rgba(111, 205, 253, 1) 100%)
      background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(94, 111, 221, 1) ),color-stop(1,rgba(111, 205, 253, 1) ))
      background : -o-linear-gradient(0deg, rgba(94, 111, 221, 1) 0%, rgba(111, 205, 253, 1) 100%)
      background : -ms-linear-gradient(0deg, rgba(94, 111, 221, 1) 0%, rgba(111, 205, 253, 1) 100%)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E6FDD', endColorstr='#6FCDFD' ,GradientType=0)"
      background : linear-gradient(90deg, rgba(94, 111, 221, 1) 0%, rgba(111, 205, 253, 1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E6FDD',endColorstr='#6FCDFD' , GradientType=1)
      border-radius: .5em
      padding: 1em
      height: 12.5em
      z-index: 1
      position: absolute
      & label[for=exchange-form__card-number]
        font-family: 'FuturaLightC Regular'
        color: rgba(0, 0, 0, .5)
        font-size: 12px
        margin: 0 0 0 15px
      & label[for=exchange-form__full-name]
        font-family: 'FuturaLightC Regular'
        color: rgba(0, 0, 0, .5)
        font-size: 12px
        margin: 0 0 0 15px
      & label[for=exchange-form__valid_thru]
        font-family: 'FuturaLightC Regular'
        color: rgba(0, 0, 0, .5)
        font-size: 12px
        margin: 0
      // & input[name=exchange-form__card-number]
      //   font-size: 16px

      & input[name=exchange-form__full-name]
        font-size: 13px
      // & input[name=exchange-form__valid_thru]
      //   font-size: 16px
      // & input[name=exchange-form__cvc]
      //   font-size: 16px

      // & input
      //   border-radius: 0
      //   border: 1px solid rgba(170, 170, 170, 255)
      //   font-size: 14px
      //   &:focus
      //     box-shadow: none
    & .exchange-form__previuos-step
      float: right
      & span
        cursor: pointer
        color: #7d7d7d
        &::before
          width: 12px
          content: " "
          background-image: url('#{$baseURL}/ember/images/exchange/arrow-left.png')
          position: absolute
          height: 12px
          margin-top: 4px
          margin-left: -20px
    & .exchange-form__card-back
      background: -moz-linear-gradient(0% 50% 0deg,rgba(42, 37, 221, 0.38) 0%,rgba(0, 205, 253, 0.38) 100%)
      background: -webkit-linear-gradient(0deg, rgba(42, 37, 221, 0.38) 0%, rgba(0, 205, 253, 0.38) 100%)
      background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(42, 37, 221, 0.38) ),color-stop(1,rgba(0, 205, 253, 0.38) ))
      background: -o-linear-gradient(0deg, rgba(42, 37, 221, 0.38) 0%, rgba(0, 205, 253, 0.38) 100%)
      background: -ms-linear-gradient(0deg, rgba(42, 37, 221, 0.38) 0%, rgba(0, 205, 253, 0.38) 100%)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD', endColorstr='#00CDFD' ,GradientType=0)"
      background: linear-gradient(90deg, rgba(42, 37, 221, 0.38) 0%, rgba(0, 205, 253, 0.38) 100%)
      filter: alpha(opacity=38) progid:DXImageTransform.Microsoft.Alpha(opacity=38) progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD',endColorstr='#00CDFD' , GradientType=1)
      border-radius: .5em
      padding: 1em
      height: 12.5em
      position: absolute
      width: 100%
      top: 2rem
      right: -6rem
      & label[for=exchange-form__cvc]
        font-family: 'FuturaLightC Regular'
        color: rgba(0, 0, 0, .5)
        font-size: 12px
        margin: 0
        line-height: 12px
      & .exchange-form__card-back_line
        height: 48px
        background: -moz-linear-gradient(0% 50% 0deg,rgba(4, 189, 250, 1) 90.53%,rgba(0, 205, 253, 1) 100%)
        background: -webkit-linear-gradient(0deg, rgba(4, 189, 250, 1) 90.53%, rgba(0, 205, 253, 1) 100%)
        background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.9053,rgba(4, 189, 250, 1) ),color-stop(1,rgba(0, 205, 253, 1) ))
        background: -o-linear-gradient(0deg, rgba(4, 189, 250, 1) 90.53%, rgba(0, 205, 253, 1) 100%)
        background: -ms-linear-gradient(0deg, rgba(4, 189, 250, 1) 90.53%, rgba(0, 205, 253, 1) 100%)
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#04BDFA', endColorstr='#00CDFD' ,GradientType=0)"
        background: linear-gradient(90deg, rgba(4, 189, 250, 1) 90.53%, rgba(0, 205, 253, 1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04BDFA',endColorstr='#00CDFD' , GradientType=1)
    & input
      color: #000000
    & .exchange-form__error-field
      text-align: center
      color: $error
      height: 24px
    & .exchange-form__input
      border: 1px solid #d0d0d0
      &:focus
        box-shadow: none
        border-color: #f0b90b
      &.error
        border-color: $error
  & .exchange-history
    & .table-wrapper
      height: 267px
      &::-webkit-scrollbar-track
        margin-top: 40px
      & table
        & td, th
          padding: .5rem 0
        & thead
          & th
            color: #474747
        & td
          height: 38px
        & tbody
          & .sprite
            display: block
          & tr:not(:last-child) // TODO: & tr:not(:last-child) not work
            border-bottom: 1px solid #dee2e6
          > tr
            > td:nth-child(n+1):nth-child(-n+7)
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap

  & .exchange-calculator
    & .exchange-calculator__to
      border-radius: 6px
      border: 1px solid rgba(170, 170, 170, 255)
      font-size: 16px
      color: #000000
      font-size: 18px
      font-weight: bold
      height: 50px
      padding-left: 18px
      &:focus
        box-shadow: none
    & .exchange-calculator__from
      border-radius: 6px
      border: 1px solid rgba(170, 170, 170, 255)
      font-size: 18px
      font-weight: bold
      color: #000000
      height: 50px
      padding-left: 18px
      &:focus
        box-shadow: none
    & .exchange-calculator__rate
      color: #ffffff
      margin-top: -35px
    & .exchange-calculator__commission
      color: #ffffff
      margin-top: -45px
    & .exchange-calculator__white-text
      color: #ffffff
      font-size: 19px
      line-height: 1.25rem
    & .exchange-calculator__error-field
      text-align: center
      color: $error
      height: 24px
    & .exchange-calculator__exchange-button
      margin: 41px 0 15px 0
    & .exchange-calculator__block
      padding-right: 60px
      padding-left: 60px

    // TODO: double
    & .exchange__cryptocurrency
      width: 125px
      height: 50px
      bottom: 50px
      margin-left: auto
      &.show
        bottom: 52px
      & button
        font-size: 18px
        font-weight: bold
        background: none !important
        border: none !important
        height: 100%
        opacity: .64
        text-align: right
        &:active
          background: none !important
        &:focus
          background: none !important
          box-shadow: none !important
        &::after
          content: url(/exchange/ember/images/exchange/dropdown-arrow.png)
          border: none
          margin-left: 17px
          margin-right: 7px
      & .dropdown-menu
        width: 386px
        left: auto !important
        right: 0
        border-radius: 6px 6px 18px 18px
        transform: none !important
        & .search
          border-radius: 0
          border-top: none
          border-left: none
          border-right: none
          border-bottom: 1px solid $light-gray
          padding-left: 40px
          &:focus
            box-shadow: none
        & .search__icon
          &:before
            content: url(/exchange/ember/images/exchange/find.png)
            position: absolute
            width: 14px
            height: 15px
            left: 20px
            top: 16px
        & .menuItems
          max-height: 300px
          position: relative
          overflow-y: scroll
          margin-right: 15px
          margin-left: 8px
          padding-right: 6px
          margin-top: 12px
          &::-webkit-scrollbar-track
            background-color: #ffffff
          &::-webkit-scrollbar
            width: 8px
            background-color: #ffffff
          &::-webkit-scrollbar-thumb
            background-color: $light-gray
          & .dropdown-item
            padding: 4px 0 0 0
            height: 32px
            cursor: pointer
            & .exchange__cryptocurrency__icon
              margin-left: 25px
              margin-right: 19px
              width: 20px
              > span
                display: inline-block
            & .exchange__cryptocurrency__short-name
              width: 90px
              white-space: nowrap
              overflow: hidden
              display: inline-block
            & .exchange__cryptocurrency__full-name
              color: $text-gray
              width: 184px
              white-space: nowrap
              overflow: hidden
              display: inline-block
            &:hover
              color: #fff
              text-decoration: none
              background: -moz-linear-gradient(0% 50% 0deg,rgba(42, 37, 221, 1) 0%,rgba(0, 205, 253, 1) 100%)
              background: -webkit-linear-gradient(0deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
              background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(42, 37, 221, 1) ),color-stop(1,rgba(0, 205, 253, 1) ))
              background: -o-linear-gradient(0deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
              background: -ms-linear-gradient(0deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD', endColorstr='#00CDFD' ,GradientType=0)"
              background: linear-gradient(90deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD',endColorstr='#00CDFD' , GradientType=1)
              & .exchange__cryptocurrency__full-name
                color: #fff
            &:focus
              background-color: #ffffff
              outline: none
            &.selected
              background-color: #e9ecef

    & .exchange__currency
      width:  90px
      height: 50px
      bottom: 49px
      right: 1px
      margin-left: auto
      position: relative
      border: none
      font-size: 18px
      font-weight: bold
      & .exchange__symbol
        width: 20px
        margin-top: 6px
        margin-left: 10px
        margin-right: 10px
      & .exchange__full-name
        width: 266px
        opacity: .64
      & .exchange__short-name
        width: 60px
        opacity: .64


      & .ember-power-select-trigger
        border: none
        height: 48px
        padding: 9px 37px 0 10px
        text-align: right
      & .ember-basic-dropdown-content
        width: 384px
        //margin-top: -52px
        left: auto
        right: 0
        border: none
      & .ember-power-select-status-icon
        border: none
        background-image: url(/exchange/ember/images/exchange/dropdown-arrow.png)
        width: 9px
        height: 6px
        right: 12px
        background-repeat: no-repeat
      & .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon
        transform: none
      & .ember-power-select-option
        &:hover
          color: #fff
          text-decoration: none
          background: -moz-linear-gradient(0% 50% 0deg,rgba(42, 37, 221, 1) 0%,rgba(0, 205, 253, 1) 100%)
          background: -webkit-linear-gradient(0deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
          background: -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(42, 37, 221, 1) ),color-stop(1,rgba(0, 205, 253, 1) ))
          background: -o-linear-gradient(0deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
          background: -ms-linear-gradient(0deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD', endColorstr='#00CDFD' ,GradientType=0)"
          background: linear-gradient(90deg, rgba(42, 37, 221, 1) 0%, rgba(0, 205, 253, 1) 100%)
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A25DD',endColorstr='#00CDFD' , GradientType=1)
        &[aria-current="true"]
          background-color: #ffffff
          outline: none
        &[aria-selected="true"]
          background-color: $selected-element
        //font-size: 18px
        //opacity: .64
        //text-align: center
      & .ember-power-select-selected-item
        margin-left: auto
        & .exchange__symbol
          display: none
        & .exchange__full-name
          display: none
        & .exchange__short-name
          margin-left: auto
          opacity: 0.64


// Page /login
.login