<section class="withdrawal">

  <div class="row mb-4">
    <div class="col-6">
      <h2 class="block__header">
        {{cryptocurrency}} WITHDRAWAL
      </h2>
    </div>
    <div class="col-3 ml-auto">





      {{!-- {{#power-select
        selected=cryptocurrency
        options=cryptocurrencyList
        searchEnabled=false
        onchange=(action "switchCurrency")
        as |bal|}}
          {{bal}}
      {{/power-select}} --}}

      <select class="form-control" onchange={{action 'switchCurrency' value="target.value"}}>
        {{#each balance as |item|}}
          <option value="{{item.currency}}">{{item.currency}}</option>
        {{/each}}
      </select>

        {{!-- <div class="col-md-6">
          {{#power-select
            selected=cryptocurrency
            options=cryptocurrencyList
            searchEnabled=false
            onchange=(action "switchCurrency")
            as |bal|}}
              {{bal}}
          {{/power-select}}
        </div> --}}


        {{!-- {{#power-select
          options=balance
          selected=bal
          searchEnabled=false
          onchange=(action (mut bal))
          as |bal|}}
            {{bal.currency}}
        {{/power-select}} --}}


    </div>
  </div>

  {{!-- <select class="form-control mb-4" onchange={{action 'switchCurrency' value="target.value"}}>
    {{#each balance as |item|}}
      <option value="{{item.currency}}">{{item.currency}}</option>
    {{/each}}
  </select> --}}

  <div class="withdrawal__form">
    <form>
      <div class="form-group row">
        <label for="withdrawal__address" class="col-sm-2 col-form-label">Address:</label>
        <div class="col-sm-10">
          <input type="text" name="withdrawal__address" class="form-control withdrawal__address">
        </div>
        {{!-- <label {{action 'setCurrentWallet'}} for="withdrawal__address" class="col-sm-2 col-form-label">Current</label> --}}
      </div>
      <div class="form-group row">
        <label for="withdrawal__amount" class="col-sm-2 col-form-label">Amount:</label>
        <div class="col-sm-10">
          <input name="withdrawal__amount" value="0" type="text" class="form-control withdrawal__amount">
          <span class="withdrawal__input-currency">{{cryptocurrency}}</span>
          <label for="withdrawal__amount" class="withdrawal__available col col-form-label d-flex justify-content-between">
            <span class="">{{availableMessage}}</span>
            <span class="align-right">{{feesMessage}}</span>
          </label>
        </div>
      </div>

      {{#if isTag}}
      <div class="withdrawal__comments">
        <p>Usually here are some comments to the order</p>
      </div>
      <div class="form-group row">       
        <label for="withdrawal__code" class="col-sm-2 col-form-label">Tag:</label>
        <div class="col-sm-10">
          <input name="withdrawal__code" type="text" class="form-control" id="withdrawal__code">
        </div>
      </div>
      {{/if}}

      <div class="withdrawal__error-field mt-4 mb-3">
        {{errorMessage}}
      </div>

      <div class="form-group row">
        <div class="col-sm-5 m-auto">
          <button {{action 'registerPaymentOut'}} type="submit" class="btn blue-button">Withdraw</button>
        </div>
      </div>

    </form>
  </div>
</section>
