<section class="payment-methods">
  <div class="row">
    <div class="col-12 col-lg-4 d-flex">
      <div class="container-box container-box_round payment-methods__nemu d-flex justify-content-center {{if (eq method 'card') "payment-methods__menu_active"}}" {{action "setPaymentMethod" "card"}}>
        <div class="row">
          <div class="col-5 d-flex">
            <img class="payment-methods__menu-logo m-auto" src="{{ENV.rootURL}}/ember/images/funds/deposit/visa.png" style="height: 23px;" alt="Card">
          </div>
          <div class="col-7 d-flex justify-content-center">
            <h2 class="payment-methods__menu-title m-auto">{{t 'funds.deposit.payment-card'}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 d-flex">
      <div class="container-box container-box_round payment-methods__nemu d-flex justify-content-center {{if (eq method 'bank') "payment-methods__menu_active"}}" {{action "setPaymentMethod" "bank"}}>
        <div class="row">
          <div class="col-5 d-flex">
            <img class="payment-methods__menu-logo m-auto" src="{{ENV.rootURL}}ember/images/funds/deposit/sepa.png" style="height: 23px;" alt="Bank">
          </div>
          <div class="col-7 d-flex justify-content-center">
            <h2 class="payment-methods__menu-title m-auto">{{t 'funds.deposit.bank-transfer'}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 d-flex">
      <div class="container-box container-box_round payment-methods__nemu d-flex justify-content-center {{if (eq method "cryptocurrency") "payment-methods__menu_active"}}" {{action "setPaymentMethod" "cryptocurrency"}}>
        <div class="row">
          <div class="col-5 d-flex">
            <img class="payment-methods__menu-logo m-auto" src="{{ENV.rootURL}}ember/images/funds/deposit/cryptocurrency.png" style="height: 42px;" alt="Cryptocurrency">
          </div>
          <div class="col-7 d-flex justify-content-center">
            <h2 class="payment-methods__menu-title m-auto">{{t 'funds.deposit.cryptocurrency'}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="shadow-box payment-methods__content">
        <div class="shadow-box__inner d-flex flex-column">

          <div class="payment-methods__card {{if (not-eq method 'card') "d-none"}}">
            <div class="row">
              <div class="col-lg-6">
                <div class="shadow-box__inner shadow-box__inner_medium vdivide">
                  <div style="margin-bottom: 16rem;">
                    <div class="row">
                      <div class="col-9">
                        {{!-- TODO: 3 form to 1 --}}
                        <form class="payment-methods__card-front">
                          <img class="payment-methods__card-logo" src="{{ENV.rootURL}}ember/images/funds/deposit/visa.png" style="height: 23px;" alt="Card">
                          <div class="form-group">
                            <label for="payment-methods__card-number">CARD NUMBER</label>
                            <input type="text" class="form-control" name="payment-methods__card-number" id="payment-methods__card-number" placeholder="XXXX XXXX XXXX XXXX" required>
                          </div>
                          <div class="form-group row">
                            <div class="col-8">
                              <label for="payment-methods__full-name">FULL NAME</label>
                              <input type="text" class="form-control" name="payment-methods__full-name" id="payment-methods__full-name" placeholder="Full name" required>
                            </div>
                            <div class="col-4">
                              <label for="payment-methods__valid_thru">VALID THRU</label>
                              <input type="text" class="form-control" name="payment-methods__valid_thru" id="payment-methods__valid_thru" placeholder="__/__" maxlength="5" required>
                            </div>
                          </div>
                        </form>
                        <form class="payment-methods__card-back">
                          <div class="row mt-2" style="height: 48px; background: #2acddf;"></div>
                          <div class="form-group row mt-3">
                            <div class="col-4 ml-auto">
                              <input type="password" class="form-control" name="payment-methods__cvc" id="payment-methods__cvc" placeholder="CVC" maxlength="3" required>
                              <label for="payment-methods__cvc">Digits on the back of the card</label>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <form>
                        <div class="form-group row">
                          <label for="payment-methods__birthday" class="col-sm-2 col-form-label">Birthday</label>
                          <div class="col-sm-10">
                            <input type="text" name="payment-methods__birthday" class="payment-methods__input form-control" id="payment-methods__birthday" placeholder="Your date of birth in format MM/DD/YYYY" required>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="payment-methods__phone" class="col-sm-2 col-form-label">Phone</label>
                          <div class="col-sm-10">
                            <input type="text" name="payment-methods__phone" class="payment-methods__input form-control" id="payment-methods__phone" required>
                          </div>
                          <div class="col">
                          </div>
                        </div>
                        <div class="custom-control custom-checkbox offset-2">
                          <input class="custom-control-input" type="checkbox" name="payment-methods__terms-of-use" id="payment-methods__terms-of-use">
                          <label class="custom-control-label" for="payment-methods__terms-of-use">
                            I agree to the <a href="https://indacoin.com/xx_XX/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of Use</a>
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="shadow-box__inner shadow-box__inner_medium">
                  <div class="d-flex mb-1">
                    <div class="payment-methods__text">
                      Enter amount:
                    </div>
                    <div class="payment-methods__currency ml-auto">
                      <span class="mr-2 {{if (eq currency "USD") "payment-methods__currency_active"}}" {{action "setCurrency" "USD"}}>USD</span>
                      <span class="mr-2 {{if (eq currency "EUR") "payment-methods__currency_active"}}" {{action "setCurrency" "EUR"}}>EUR</span>
                      <span class="mr-2 {{if (eq currency "RUB") "payment-methods__currency_active"}}" {{action "setCurrency" "RUB"}}>RUB</span>
                      <span class="mr-2 {{if (eq currency "AUD") "payment-methods__currency_active"}}" {{action "setCurrency" "AUD"}}>AUD</span>
                      <span class=" {{if (eq currency "GBP") "payment-methods__currency_active"}}" {{action "setCurrency" "GBP"}}>GBP</span>
                    </div>
                  </div>
                  {{input class="payment-methods__amount payment-methods__input form-control" value=amount placeholder="Amount" type="text"}}
                  <span class="payment-methods__currency-label">{{currency}}</span>

                  <div class="row">
                    <div class="col">
                      <div class="payment-methods__fee mt-2">{{feeMessage}}</div>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-6 d-flex justify-content-start">
                      Commision
                    </div>
                    <div class="payment-methods__commision-value col-6 d-flex justify-content-end">
                      {{commision}}
                    </div>
                  </div>
                  <hr class="payment-methods__line">
                  <div class="row">
                    <div class="col-6 d-flex justify-content-start">
                      Total amount
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                      {{totalAmount.text}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="payment-methods__text mt-3 mb-2">
                        It's the easiest way to add funds to your account 
                        (your payment will be processed within a few minutes). 
                        Your card should support secure technology Mastercard® 
                        SecureCode™ or Verified by Visa
                      </div>
                    </div>
                  </div>

                  <div class="payment-methods__error-field">
                    {{paymentMethodsErrorMessage}}
                  </div>

                  <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                      <button {{action "registerPayment"}} type="submit" class="btn green-button green-button_float" disabled={{registerPaymentDisabled}}>Pay {{totalAmount.text}}</button>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="payment-methods__bank {{if (not-eq method 'bank') "d-none"}}">
            <div class="row d-flex justify-content-center">
              <div class="col-7">
                <div class="row">
                  <div class="col-6">
                    <p>Bank:<br>Mistertango</p>
                  </div>
                  <div class="col-4 offset-2">
                    <p>BIC:<br>MIEG LT21</p>
                  </div>
                </div>
                <hr class="payment-methods__line payment-methods__line_small">
                <div class="row">
                  <div class="col-6">
                    <p>Bank address:<br>Purkunkiemo 2, Vilnus</p>
                  </div>
                  <div class="col-4 offset-2">
                    <p>Recipiend:<br>Indacoin Limited</p>
                  </div>
                </div>
                <hr class="payment-methods__line payment-methods__line_small">
                <div class="row">
                  <div class="col-6">
                    <p>Account:<br>LT90 3510 0000 4484 5674</p>
                  </div>
                  <div class="col-4 offset-2">
                    <p>Details:<br>Wallet-56134</p>
                  </div>
                </div>
                <hr class="payment-methods__line payment-methods__line_small">
                <div class="row">
                  <div class="col-9 mt-3">
                    <p>
                      Transfers can only be received through the SEPA system 
                      in EU countries. It might take up to several days to add the 
                      funds to you Indacoin account
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="payment-methods__cryptocurrency mt-4 mb-4 {{if (not-eq method 'cryptocurrency') "d-none"}}">
            <div class="row">
              <div class="col-3">
                <img class="payment-methods__qrcode" alt="QR-code" src="{{qrCodeLink}}">
              </div>
              <div class="col-5">
              
                <select class="form-control">
                  <option>BTC - Bitcoin</option>
                  <option>ETH - Ethereum</option>
                  <option>LTC - Litecoin</option>
                  <option>LXC - Librexcoin</option>
                </select>

                <div class="payment-methods__text mt-3">BTC Deposit Address: </div>
                <div class="payment-methods__wallet mt-1 mb-2">{{crypto-address.wallet}}</div>

                {{!-- {{#if copiedToClipboard}}
                  <span class="payment-methods__copy payment-methods__copy_copied">Address copied</span>
                {{else}}
                  <span class="payment-methods__copy">Copy address</span>
                {{/if}} --}}
                <span class="payment-methods__copy">Copy address</span>

                <div class="payment-methods__text">Only send bitcoin to this address.</div>
                <div class="payment-methods__text">All other currencies could be lost permamently when sending</div>

                <div class="row mt-3">
                  <div class="col d-flex justify-content-left">
                    <button {{action "generateNewAddress"}} type="submit" class="btn green-button green-button_float">Generate new address</button>
                  </div>
                </div>

              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-6 d-flex justify-content-left">
                    Total balance
                  </div>
                  <div class="col-6 d-flex justify-content-left">
                    0.00000007 BTC
                  </div>
                </div>
                <hr class="payment-methods__line">
                <div class="row">
                  <div class="col-6 d-flex justify-content-left">
                    Pending
                  </div>
                  <div class="col-6 d-flex justify-content-left">
                    0.00000007 BTC
                  </div>
                </div>
                <hr class="payment-methods__line">
                <div class="row">
                  <div class="col-6 d-flex justify-content-left">
                    Available balance
                  </div>
                  <div class="col-6 d-flex justify-content-left">
                    0.00000007 BTC
                  </div>
                </div>
                <hr class="payment-methods__line">
                <div class="row">
                  <div class="col-6 d-flex justify-content-left">
                    Comission
                  </div>
                  <div class="col-6 d-flex justify-content-left">
                    2.5%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>