// **************************************************************************************
// ************************* css-sprites for currency dropdown-list *********************
// **************************************************************************************

// http://www.retinaspritegenerator.com/ left-to-right, resolution: standart
// http://css2sass.herokuapp.com/
// var sass = ``;
// sass = sass.replace( /sprite-(.+)\n/g, function($0,$1) {return $0.replace($1, $1.toUpperCase());} )
// sass.replace( /\;/g, '' ).replace(/\s{/g, '').replace(/}\n/g, '')

.sprite
	background-image: url('#{$baseURL}/ember/images/other/sprite.png')

.sprite-1ST
  width: 20px
  height: 20px
  background-position: -20px 0

.sprite-2GIVE
  width: 20px
  height: 20px
  background-position: -40px 0

.sprite-8BT
  width: 20px
  height: 20px
  background-position: -60px 0

.sprite-21M
  width: 20px
  height: 20px
  background-position: -80px 0

.sprite-42
  width: 20px
  height: 20px
  background-position: -100px 0

.sprite-300
  width: 20px
  height: 20px
  background-position: -120px 0

.sprite-ABC
  width: 20px
  height: 20px
  background-position: -140px 0

.sprite-ABY
  width: 20px
  height: 20px
  background-position: -160px 0

.sprite-AC
  width: 20px
  height: 20px
  background-position: -180px 0

.sprite-AC3
  width: 20px
  height: 20px
  background-position: -200px 0

.sprite-ACAT
  width: 20px
  height: 20px
  background-position: -220px 0

.sprite-ACC
  width: 20px
  height: 20px
  background-position: -240px 0

.sprite-ACOIN
  width: 20px
  height: 20px
  background-position: -260px 0

.sprite-ACP
  width: 20px
  height: 20px
  background-position: -280px 0

.sprite-ACT
  width: 20px
  height: 20px
  background-position: -300px 0

.sprite-ADA
  width: 20px
  height: 20px
  background-position: -320px 0

.sprite-ADH
  width: 20px
  height: 20px
  background-position: -340px 0

.sprite-ADST
  width: 20px
  height: 20px
  background-position: -360px 0

.sprite-ADT
  width: 20px
  height: 20px
  background-position: -380px 0

.sprite-ADX
  width: 20px
  height: 20px
  background-position: -400px 0

.sprite-AE
  width: 20px
  height: 20px
  background-position: -420px 0

.sprite-AEON
  width: 20px
  height: 20px
  background-position: -440px 0

.sprite-AGA
  width: 20px
  height: 20px
  background-position: -460px 0

.sprite-AGRS
  width: 20px
  height: 20px
  background-position: -480px 0

.sprite-AION
  width: 20px
  height: 20px
  background-position: -500px 0

.sprite-AIR
  width: 20px
  height: 20px
  background-position: -520px 0

.sprite-ALEX
  width: 20px
  height: 20px
  background-position: -540px 0

.sprite-ALIS
  width: 20px
  height: 20px
  background-position: -560px 0

.sprite-ALL
  width: 20px
  height: 20px
  background-position: -580px 0

.sprite-ALT
  width: 20px
  height: 20px
  background-position: -600px 0

.sprite-AMB
  width: 20px
  height: 20px
  background-position: -620px 0

.sprite-AMM
  width: 20px
  height: 20px
  background-position: -640px 0

.sprite-AMN
  width: 20px
  height: 20px
  background-position: -660px 0

.sprite-AMP
  width: 20px
  height: 20px
  background-position: -680px 0

.sprite-ANI
  width: 20px
  height: 20px
  background-position: -700px 0

.sprite-ANT
  width: 20px
  height: 20px
  background-position: -720px 0

.sprite-APX
  width: 20px
  height: 20px
  background-position: -740px 0

.sprite-ARC
  width: 20px
  height: 20px
  background-position: -760px 0

.sprite-ARCO
  width: 20px
  height: 20px
  background-position: -780px 0

.sprite-ARCT
  width: 20px
  height: 20px
  background-position: -800px 0

.sprite-ARDR
  width: 20px
  height: 20px
  background-position: -820px 0

.sprite-ARG
  width: 20px
  height: 20px
  background-position: -840px 0

.sprite-ARGUS
  width: 20px
  height: 20px
  background-position: -860px 0

.sprite-ARI
  width: 20px
  height: 20px
  background-position: -880px 0

.sprite-ARK
  width: 20px
  height: 20px
  background-position: -900px 0

.sprite-ARN
  width: 20px
  height: 20px
  background-position: -920px 0

.sprite-ART
  width: 20px
  height: 20px
  background-position: -940px 0

.sprite-AST
  width: 20px
  height: 20px
  background-position: -960px 0

.sprite-ATB
  width: 20px
  height: 20px
  background-position: -980px 0

.sprite-ATH
  width: 20px
  height: 20px
  background-position: -1000px 0

.sprite-ATL
  width: 20px
  height: 20px
  background-position: -1020px 0

.sprite-ATM
  width: 20px
  height: 20px
  background-position: -1040px 0

.sprite-ATMOS
  width: 20px
  height: 20px
  background-position: -1060px 0

.sprite-ATOM
  width: 20px
  height: 20px
  background-position: -1080px 0

.sprite-ATS
  width: 20px
  height: 20px
  background-position: -1100px 0

.sprite-AU
  width: 20px
  height: 20px
  background-position: -1120px 0

.sprite-AUC
  width: 20px
  height: 20px
  background-position: -1140px 0

.sprite-AUR
  width: 20px
  height: 20px
  background-position: -1160px 0

.sprite-AURS
  width: 20px
  height: 20px
  background-position: -1180px 0

.sprite-AUTO
  width: 20px
  height: 20px
  background-position: -1200px 0

.sprite-AVH
  width: 20px
  height: 20px
  background-position: -1220px 0

.sprite-AVT
  width: 20px
  height: 20px
  background-position: -1240px 0

.sprite-AXP
  width: 20px
  height: 20px
  background-position: -1260px 0

.sprite-B2G
  width: 20px
  height: 20px
  background-position: -1280px 0

.sprite-B2X
  width: 20px
  height: 20px
  background-position: -1300px 0

.sprite-BANCA
  width: 20px
  height: 20px
  background-position: -1320px 0

.sprite-BANX
  width: 20px
  height: 20px
  background-position: -1340px 0

.sprite-BAR
  width: 20px
  height: 20px
  background-position: -1360px 0

.sprite-BAS
  width: 20px
  height: 20px
  background-position: -1380px 0

.sprite-BAT
  width: 20px
  height: 20px
  background-position: -1400px 0

.sprite-BAY
  width: 20px
  height: 20px
  background-position: -1420px 0

.sprite-BBC
  width: 20px
  height: 20px
  background-position: -1440px 0

.sprite-BBR
  width: 20px
  height: 20px
  background-position: -1460px 0

.sprite-BC
  width: 20px
  height: 20px
  background-position: -1480px 0

.sprite-BCC
  width: 20px
  height: 20px
  background-position: -1500px 0

.sprite-BCD
  width: 20px
  height: 20px
  background-position: -1520px 0

.sprite-BCF
  width: 20px
  height: 20px
  background-position: -1540px 0

.sprite-BCH
  width: 20px
  height: 20px
  background-position: -1560px 0

.sprite-BCN
  width: 20px
  height: 20px
  background-position: -1580px 0

.sprite-BCPT
  width: 20px
  height: 20px
  background-position: -1600px 0

.sprite-BCY
  width: 20px
  height: 20px
  background-position: -1620px 0

.sprite-BDG
  width: 20px
  height: 20px
  background-position: -1640px 0

.sprite-BEAN
  width: 20px
  height: 20px
  background-position: -1660px 0

.sprite-BENJI
  width: 20px
  height: 20px
  background-position: -1680px 0

.sprite-BERN
  width: 20px
  height: 20px
  background-position: -1700px 0

.sprite-BERRY
  width: 20px
  height: 20px
  background-position: -1720px 0

.sprite-BEST
  width: 20px
  height: 20px
  background-position: -1740px 0

.sprite-BETR
  width: 20px
  height: 20px
  background-position: -1760px 0

.sprite-BEZ
  width: 20px
  height: 20px
  background-position: -1780px 0

.sprite-BFT
  width: 20px
  height: 20px
  background-position: -1800px 0

.sprite-BGG
  width: 20px
  height: 20px
  background-position: -1820px 0

.sprite-BIP
  width: 20px
  height: 20px
  background-position: -1840px 0

.sprite-BIS
  width: 20px
  height: 20px
  background-position: -1860px 0

.sprite-BITB
  width: 20px
  height: 20px
  background-position: -1880px 0

.sprite-BITCNY
  width: 20px
  height: 20px
  background-position: -1900px 0

.sprite-BITS
  width: 20px
  height: 20px
  background-position: -1920px 0

.sprite-BKB
  width: 20px
  height: 20px
  background-position: -1940px 0

.sprite-BKCAT
  width: 20px
  height: 20px
  background-position: -1960px 0

.sprite-BKX
  width: 20px
  height: 20px
  background-position: -1980px 0

.sprite-BLITZ
  width: 20px
  height: 20px
  background-position: -2000px 0

.sprite-BLK
  width: 20px
  height: 20px
  background-position: -2020px 0

.sprite-BLOCK
  width: 20px
  height: 20px
  background-position: -2040px 0

.sprite-BLZ
  width: 20px
  height: 20px
  background-position: -2060px 0

.sprite-BMC
  width: 20px
  height: 20px
  background-position: -2080px 0

.sprite-BMH
  width: 20px
  height: 20px
  background-position: -2100px 0

.sprite-BMT
  width: 20px
  height: 20px
  background-position: -2120px 0

.sprite-BNB
  width: 20px
  height: 20px
  background-position: -2140px 0

.sprite-BNC
  width: 20px
  height: 20px
  background-position: -2160px 0

.sprite-BNK
  width: 20px
  height: 20px
  background-position: -2180px 0

.sprite-BNT
  width: 20px
  height: 20px
  background-position: -2200px 0

.sprite-BNX
  width: 20px
  height: 20px
  background-position: -2220px 0

.sprite-BOLI
  width: 20px
  height: 20px
  background-position: -2240px 0

.sprite-BON
  width: 20px
  height: 20px
  background-position: -2260px 0

.sprite-BOP
  width: 20px
  height: 20px
  background-position: -2280px 0

.sprite-BOS
  width: 20px
  height: 20px
  background-position: -2300px 0

.sprite-BOSON
  width: 20px
  height: 20px
  background-position: -2320px 0

.sprite-BPL
  width: 20px
  height: 20px
  background-position: -2340px 0

.sprite-BPTN
  width: 20px
  height: 20px
  background-position: -2360px 0

.sprite-BQX
  width: 20px
  height: 20px
  background-position: -2380px 0

.sprite-BRD
  width: 20px
  height: 20px
  background-position: -2400px 0

.sprite-BRK
  width: 20px
  height: 20px
  background-position: -2420px 0

.sprite-BRO
  width: 20px
  height: 20px
  background-position: -2440px 0

.sprite-BRX
  width: 20px
  height: 20px
  background-position: -2460px 0

.sprite-BSD
  width: 20px
  height: 20px
  background-position: -2480px 0

.sprite-BSTN
  width: 20px
  height: 20px
  background-position: -2500px 0

.sprite-BTA
  width: 20px
  height: 20px
  background-position: -2520px 0

.sprite-BTB
  width: 20px
  height: 20px
  background-position: -2540px 0

.sprite-BTC
  width: 20px
  height: 20px
  background-position: -2560px 0

.sprite-BTC2
  width: 20px
  height: 20px
  background-position: -2580px 0

.sprite-BTCA
  width: 20px
  height: 20px
  background-position: -2600px 0

.sprite-BTCD
  width: 20px
  height: 20px
  background-position: -2620px 0

.sprite-BTCP
  width: 20px
  height: 20px
  background-position: -2640px 0

.sprite-BTCS
  width: 20px
  height: 20px
  background-position: -2660px 0

.sprite-BTG
  width: 20px
  height: 20px
  background-position: -2680px 0

.sprite-BTM
  width: 20px
  height: 20px
  background-position: -2700px 0

.sprite-BTS
  width: 20px
  height: 20px
  background-position: -2720px 0

.sprite-BTX
  width: 20px
  height: 20px
  background-position: -2740px 0

.sprite-BUBO
  width: 20px
  height: 20px
  background-position: -2760px 0

.sprite-BUCKS
  width: 20px
  height: 20px
  background-position: -2780px 0

.sprite-BUMBA
  width: 20px
  height: 20px
  background-position: -2800px 0

.sprite-BURST
  width: 20px
  height: 20px
  background-position: -2820px 0

.sprite-BVB
  width: 20px
  height: 20px
  background-position: -2840px 0

.sprite-BVC
  width: 20px
  height: 20px
  background-position: -2860px 0

.sprite-BWK
  width: 20px
  height: 20px
  background-position: -2880px 0

.sprite-BXC
  width: 20px
  height: 20px
  background-position: -2900px 0

.sprite-BYC
  width: 20px
  height: 20px
  background-position: -2920px 0

.sprite-C2
  width: 20px
  height: 20px
  background-position: -2940px 0

.sprite-C20
  width: 20px
  height: 20px
  background-position: -2960px 0

.sprite-CACH
  width: 20px
  height: 20px
  background-position: -2980px 0

.sprite-CAN
  width: 20px
  height: 20px
  background-position: -3000px 0

.sprite-CANN
  width: 20px
  height: 20px
  background-position: -3020px 0

.sprite-CAP
  width: 20px
  height: 20px
  background-position: -3040px 0

.sprite-CAPP
  width: 20px
  height: 20px
  background-position: -3060px 0

.sprite-CAS
  width: 20px
  height: 20px
  background-position: -3080px 0

.sprite-CAT
  width: 20px
  height: 20px
  background-position: -3100px 0

.sprite-CBX
  width: 20px
  height: 20px
  background-position: -3120px 0

.sprite-CC
  width: 20px
  height: 20px
  background-position: -3140px 0

.sprite-CCB
  width: 20px
  height: 20px
  background-position: -3160px 0

.sprite-CCT
  width: 20px
  height: 20px
  background-position: -3180px 0

.sprite-CDN
  width: 20px
  height: 20px
  background-position: -3200px 0

.sprite-CDT
  width: 20px
  height: 20px
  background-position: -3220px 0

.sprite-CDX
  width: 20px
  height: 20px
  background-position: -3240px 0

.sprite-CENNZ
  width: 20px
  height: 20px
  background-position: -3260px 0

.sprite-CFC
  width: 20px
  height: 20px
  background-position: -3280px 0

.sprite-CFI
  width: 20px
  height: 20px
  background-position: -3300px 0

.sprite-CFT
  width: 20px
  height: 20px
  background-position: -3320px 0

.sprite-CGC
  width: 20px
  height: 20px
  background-position: -3340px 0

.sprite-CHAN
  width: 20px
  height: 20px
  background-position: -3360px 0

.sprite-CHAT
  width: 20px
  height: 18px
  background-position: -3380px 0

.sprite-CHC
  width: 20px
  height: 20px
  background-position: -3400px 0

.sprite-CHESS
  width: 20px
  height: 20px
  background-position: -3420px 0

.sprite-CHIEF
  width: 20px
  height: 20px
  background-position: -3440px 0

.sprite-CHP
  width: 20px
  height: 20px
  background-position: -3460px 0

.sprite-CHSB
  width: 20px
  height: 20px
  background-position: -3480px 0

.sprite-CHX
  width: 20px
  height: 20px
  background-position: -3500px 0

.sprite-CJ
  width: 20px
  height: 20px
  background-position: -3520px 0

.sprite-CL
  width: 20px
  height: 20px
  background-position: -3540px 0

.sprite-CLAM
  width: 20px
  height: 20px
  background-position: -3560px 0

.sprite-CLD
  width: 20px
  height: 20px
  background-position: -3580px 0

.sprite-CLOAK
  width: 20px
  height: 20px
  background-position: -3600px 0

.sprite-CLOUT
  width: 20px
  height: 20px
  background-position: -3620px 0

.sprite-CLR
  width: 20px
  height: 20px
  background-position: -3640px 0

.sprite-CLUB
  width: 20px
  height: 20px
  background-position: -3660px 0

.sprite-CMCT
  width: 20px
  height: 20px
  background-position: -3680px 0

.sprite-CMP
  width: 20px
  height: 20px
  background-position: -3700px 0

.sprite-CMPCO
  width: 20px
  height: 20px
  background-position: -3720px 0

.sprite-CMT
  width: 20px
  height: 20px
  background-position: -3740px 0

.sprite-CND
  width: 20px
  height: 18px
  background-position: -3760px 0

.sprite-CNX
  width: 20px
  height: 20px
  background-position: -3780px 0

.sprite-COAL
  width: 20px
  height: 20px
  background-position: -3800px 0

.sprite-COLX
  width: 20px
  height: 20px
  background-position: -3820px 0

.sprite-COMP
  width: 20px
  height: 20px
  background-position: -3840px 0

.sprite-COPPER
  width: 20px
  height: 20px
  background-position: -3860px 0

.sprite-COR
  width: 20px
  height: 20px
  background-position: -3880px 0

.sprite-COSS
  width: 20px
  height: 20px
  background-position: -3900px 0

.sprite-COV
  width: 20px
  height: 20px
  background-position: -3920px 0

.sprite-COVAL
  width: 20px
  height: 20px
  background-position: -3940px 0

.sprite-CPAY
  width: 20px
  height: 20px
  background-position: -3960px 0

.sprite-CPC
  width: 20px
  height: 20px
  background-position: -3980px 0

.sprite-CPG
  width: 20px
  height: 20px
  background-position: -4000px 0

.sprite-CPN
  width: 20px
  height: 20px
  background-position: -4020px 0

.sprite-CPT
  width: 20px
  height: 20px
  background-position: -4040px 0

.sprite-CPY
  width: 20px
  height: 20px
  background-position: -4060px 0

.sprite-CQST
  width: 20px
  height: 20px
  background-position: -4080px 0

.sprite-CRAVE
  width: 20px
  height: 20px
  background-position: -4100px 0

.sprite-CRB
  width: 20px
  height: 20px
  background-position: -4120px 0

.sprite-CRC
  width: 20px
  height: 20px
  background-position: -4140px 0

.sprite-CREA
  width: 20px
  height: 20px
  background-position: -4160px 0

.sprite-CRM
  width: 20px
  height: 20px
  background-position: -4180px 0

.sprite-CRPT
  width: 20px
  height: 20px
  background-position: -4200px 0

.sprite-CRUR
  width: 20px
  height: 20px
  background-position: -4220px 0

.sprite-CRW
  width: 20px
  height: 20px
  background-position: -4240px 0

.sprite-CRX
  width: 20px
  height: 20px
  background-position: -4260px 0

.sprite-CSC
  width: 20px
  height: 20px
  background-position: -4280px 0

.sprite-CSM
  width: 20px
  height: 20px
  background-position: -4300px 0

.sprite-CSNO
  width: 20px
  height: 20px
  background-position: -4320px 0

.sprite-CTE
  width: 20px
  height: 20px
  background-position: -4340px 0

.sprite-CTIC3
  width: 20px
  height: 20px
  background-position: -4360px 0

.sprite-CTL
  width: 20px
  height: 20px
  background-position: -4380px 0

.sprite-CTR
  width: 20px
  height: 20px
  background-position: -4400px 0

.sprite-CTX
  width: 20px
  height: 20px
  background-position: -4420px 0

.sprite-CURE
  width: 20px
  height: 20px
  background-position: -4440px 0

.sprite-CV2
  width: 20px
  height: 20px
  background-position: -4460px 0

.sprite-CVC
  width: 20px
  height: 20px
  background-position: -4480px 0

.sprite-CVCOIN
  width: 20px
  height: 20px
  background-position: -4500px 0

.sprite-CVH
  width: 20px
  height: 20px
  background-position: -4520px 0

.sprite-CVT
  width: 20px
  height: 20px
  background-position: -4540px 0

.sprite-CXT
  width: 20px
  height: 20px
  background-position: -4560px 0

.sprite-DADI
  width: 20px
  height: 20px
  background-position: -4580px 0

.sprite-DALC
  width: 20px
  height: 20px
  background-position: -4600px 0

.sprite-DAN
  width: 20px
  height: 20px
  background-position: -4620px 0

.sprite-DAO
  width: 20px
  height: 20px
  background-position: -4640px 0

.sprite-DARK
  width: 20px
  height: 20px
  background-position: -4660px 0

.sprite-DAS
  width: 20px
  height: 20px
  background-position: -4680px 0

.sprite-DASH
  width: 20px
  height: 20px
  background-position: -4700px 0

.sprite-DATA
  width: 20px
  height: 20px
  background-position: -4720px 0

.sprite-DATX
  width: 20px
  height: 20px
  background-position: -4740px 0

.sprite-DAXT
  width: 20px
  height: 20px
  background-position: -4760px 0

.sprite-DAY
  width: 20px
  height: 20px
  background-position: -4780px 0

.sprite-DBET
  width: 20px
  height: 20px
  background-position: -4800px 0

.sprite-DBIX
  width: 20px
  height: 20px
  background-position: -4820px 0

.sprite-DCN
  width: 20px
  height: 20px
  background-position: -4840px 0

.sprite-DCR
  width: 20px
  height: 20px
  background-position: -4860px 0

.sprite-DCT
  width: 20px
  height: 20px
  background-position: -4880px 0

.sprite-DCY
  width: 20px
  height: 20px
  background-position: -4900px 0

.sprite-DDF
  width: 20px
  height: 20px
  background-position: -4920px 0

.sprite-DEM
  width: 20px
  height: 20px
  background-position: -4940px 0

.sprite-DENT
  width: 20px
  height: 20px
  background-position: -4960px 0

.sprite-DEUS
  width: 20px
  height: 20px
  background-position: -4980px 0

.sprite-DEV
  width: 20px
  height: 20px
  background-position: -5000px 0

.sprite-DFS
  width: 20px
  height: 20px
  background-position: -5020px 0

.sprite-DGB
  width: 20px
  height: 20px
  background-position: -5040px 0

.sprite-DGD
  width: 20px
  height: 20px
  background-position: -5060px 0

.sprite-DGPT
  width: 20px
  height: 20px
  background-position: -5080px 0

.sprite-DGX
  width: 20px
  height: 20px
  background-position: -5100px 0

.sprite-DIBC
  width: 20px
  height: 20px
  background-position: -5120px 0

.sprite-DICE
  width: 20px
  height: 20px
  background-position: -5140px 0

.sprite-DIM
  width: 20px
  height: 20px
  background-position: -5160px 0

.sprite-DIME
  width: 20px
  height: 20px
  background-position: -5180px 0

.sprite-DIRTY
  width: 20px
  height: 20px
  background-position: -5200px 0

.sprite-DIVX
  width: 20px
  height: 20px
  background-position: -5220px 0

.sprite-DLT
  width: 20px
  height: 20px
  background-position: -5240px 0

.sprite-DMD
  width: 20px
  height: 20px
  background-position: -5260px 0

.sprite-DNA
  width: 20px
  height: 20px
  background-position: -5280px 0

.sprite-DNR
  width: 20px
  height: 20px
  background-position: -5300px 0

.sprite-DNT
  width: 20px
  height: 20px
  background-position: -5320px 0

.sprite-DOGE
  width: 20px
  height: 20px
  background-position: -5340px 0

.sprite-DON
  width: 20px
  height: 20px
  background-position: -5360px 0

.sprite-DOPE
  width: 20px
  height: 20px
  background-position: -5380px 0

.sprite-DOT
  width: 20px
  height: 20px
  background-position: -5400px 0

.sprite-DOVU
  width: 20px
  height: 20px
  background-position: -5420px 0

.sprite-DP
  width: 20px
  height: 20px
  background-position: -5440px 0

.sprite-DPP
  width: 20px
  height: 20px
  background-position: -5460px 0

.sprite-DRG
  width: 20px
  height: 20px
  background-position: -5480px 0

.sprite-DRP
  width: 20px
  height: 20px
  background-position: -5500px 0

.sprite-DRPU
  width: 20px
  height: 20px
  background-position: -5520px 0

.sprite-DRT
  width: 20px
  height: 20px
  background-position: -5540px 0

.sprite-DRXNE
  width: 20px
  height: 20px
  background-position: -5560px 0

.sprite-DSH
  width: 20px
  height: 20px
  background-position: -5580px 0

.sprite-DTB
  width: 20px
  height: 20px
  background-position: -5600px 0

.sprite-DUO
  width: 20px
  height: 20px
  background-position: -5620px 0

.sprite-DYN
  width: 20px
  height: 20px
  background-position: -5640px 0

.sprite-EBET
  width: 20px
  height: 20px
  background-position: -5660px 0

.sprite-EBG
  width: 20px
  height: 20px
  background-position: -5680px 0

.sprite-EBKC
  width: 20px
  height: 20px
  background-position: -5700px 0

.sprite-EBST
  width: 20px
  height: 20px
  background-position: -5720px 0

.sprite-EBTC
  width: 20px
  height: 20px
  background-position: -5740px 0

.sprite-EBTCOLD
  width: 20px
  height: 20px
  background-position: -5760px 0

.sprite-ECA
  width: 20px
  height: 20px
  background-position: -5780px 0

.sprite-ECH
  width: 20px
  height: 20px
  background-position: -5800px 0

.sprite-ECO
  width: 20px
  height: 20px
  background-position: -5820px 0

.sprite-ECOB
  width: 20px
  height: 20px
  background-position: -5840px 0

.sprite-EDC
  width: 20px
  height: 20px
  background-position: -5860px 0

.sprite-EDG
  width: 20px
  height: 20px
  background-position: -5880px 0

.sprite-EDO
  width: 20px
  height: 20px
  background-position: -5900px 0

.sprite-EDRC
  width: 20px
  height: 20px
  background-position: -5920px 0

.sprite-EET
  width: 20px
  height: 20px
  background-position: -5940px 0

.sprite-EFL
  width: 20px
  height: 20px
  background-position: -5960px 0

.sprite-EGC
  width: 20px
  height: 20px
  background-position: -5980px 0

.sprite-EJOY
  width: 20px
  height: 20px
  background-position: -6000px 0

.sprite-EKO
  width: 20px
  height: 20px
  background-position: -6020px 0

.sprite-ELC
  width: 20px
  height: 20px
  background-position: -6040px 0

.sprite-ELE
  width: 20px
  height: 20px
  background-position: -6060px 0

.sprite-ELF
  width: 20px
  height: 20px
  background-position: -6080px 0

.sprite-ELLA
  width: 20px
  height: 20px
  background-position: -6100px 0

.sprite-ELP
  width: 20px
  height: 20px
  background-position: -6120px 0

.sprite-EMB
  width: 20px
  height: 20px
  background-position: -6140px 0

.sprite-EMC
  width: 20px
  height: 20px
  background-position: -6160px 0

.sprite-EMC2
  width: 20px
  height: 20px
  background-position: -6180px 0

.sprite-EMD
  width: 20px
  height: 20px
  background-position: -6200px 0

.sprite-EMGO
  width: 20px
  height: 20px
  background-position: -6220px 0

.sprite-EMOT
  width: 20px
  height: 20px
  background-position: -6240px 0

.sprite-ENG
  width: 20px
  height: 20px
  background-position: -6260px 0

.sprite-ENJ
  width: 20px
  height: 20px
  background-position: -6280px 0

.sprite-ENRG
  width: 20px
  height: 20px
  background-position: -6300px 0

.sprite-EOS
  width: 20px
  height: 20px
  background-position: -6320px 0

.sprite-EPC
  width: 20px
  height: 20px
  background-position: -6340px 0

.sprite-EQT
  width: 20px
  height: 20px
  background-position: -6360px 0

.sprite-ERC
  width: 20px
  height: 20px
  background-position: -6380px 0

.sprite-ERO
  width: 20px
  height: 20px
  background-position: -6400px 0

.sprite-ERT
  width: 20px
  height: 20px
  background-position: -6420px 0

.sprite-ERY
  width: 20px
  height: 20px
  background-position: -6440px 0

.sprite-ETBS
  width: 20px
  height: 20px
  background-position: -6460px 0

.sprite-ETC
  width: 20px
  height: 20px
  background-position: -6480px 0

.sprite-ETH
  width: 20px
  height: 20px
  background-position: -6500px 0

.sprite-ETHD
  width: 20px
  height: 20px
  background-position: -6520px 0

.sprite-ETN
  width: 20px
  height: 20px
  background-position: -6540px 0

.sprite-ETP
  width: 20px
  height: 20px
  background-position: -6560px 0

.sprite-ETT
  width: 20px
  height: 20px
  background-position: -6580px 0

.sprite-ETZ
  width: 20px
  height: 20px
  background-position: -6600px 0

.sprite-EUC
  width: 20px
  height: 20px
  background-position: -6620px 0

.sprite-EVIL
  width: 20px
  height: 20px
  background-position: -6640px 0

.sprite-EVN
  width: 20px
  height: 20px
  background-position: -6660px 0

.sprite-EVO
  width: 20px
  height: 20px
  background-position: -6680px 0

.sprite-EVR
  width: 20px
  height: 20px
  background-position: -6700px 0

.sprite-EVX
  width: 20px
  height: 20px
  background-position: -6720px 0

.sprite-EXCL
  width: 20px
  height: 20px
  background-position: -6740px 0

.sprite-EXN
  width: 20px
  height: 20px
  background-position: -6760px 0

.sprite-EXP
  width: 20px
  height: 20px
  background-position: -6780px 0

.sprite-EZT
  width: 20px
  height: 20px
  background-position: -6800px 0

.sprite-FACE
  width: 20px
  height: 20px
  background-position: -6820px 0

.sprite-FAIR
  width: 20px
  height: 20px
  background-position: -6840px 0

.sprite-FANS
  width: 20px
  height: 20px
  background-position: -6860px 0

.sprite-FAZZ
  width: 20px
  height: 20px
  background-position: -6880px 0

.sprite-FC2
  width: 20px
  height: 20px
  background-position: -6900px 0

.sprite-FCN
  width: 20px
  height: 20px
  background-position: -6920px 0

.sprite-FCT
  width: 20px
  height: 20px
  background-position: -6940px 0

.sprite-FDZ
  width: 20px
  height: 20px
  background-position: -6960px 0

.sprite-FFC
  width: 20px
  height: 20px
  background-position: -6980px 0

.sprite-FJC
  width: 20px
  height: 20px
  background-position: -7000px 0

.sprite-FLASH
  width: 20px
  height: 20px
  background-position: -7020px 0

.sprite-FLAX
  width: 20px
  height: 20px
  background-position: -7040px 0

.sprite-FLDC
  width: 20px
  height: 20px
  background-position: -7060px 0

.sprite-FLN
  width: 20px
  height: 20px
  background-position: -7080px 0

.sprite-FLO
  width: 20px
  height: 20px
  background-position: -7100px 0

.sprite-FLP
  width: 20px
  height: 20px
  background-position: -7120px 0

.sprite-FLT
  width: 20px
  height: 20px
  background-position: -7140px 0

.sprite-FONZ
  width: 20px
  height: 20px
  background-position: -7160px 0

.sprite-FORT
  width: 20px
  height: 20px
  background-position: -7180px 0

.sprite-FOTA
  width: 20px
  height: 20px
  background-position: -7200px 0

.sprite-FRC
  width: 20px
  height: 20px
  background-position: -7220px 0

.sprite-FRD
  width: 20px
  height: 20px
  background-position: -7240px 0

.sprite-FREC
  width: 20px
  height: 20px
  background-position: -7260px 0

.sprite-FRK
  width: 20px
  height: 20px
  background-position: -7280px 0

.sprite-FRN
  width: 20px
  height: 20px
  background-position: -7300px 0

.sprite-FST
  width: 20px
  height: 20px
  background-position: -7320px 0

.sprite-FT
  width: 20px
  height: 20px
  background-position: -7340px 0

.sprite-FTC
  width: 20px
  height: 20px
  background-position: -7360px 0

.sprite-FTX
  width: 20px
  height: 20px
  background-position: -7380px 0

.sprite-FUEL
  width: 20px
  height: 20px
  background-position: -7400px 0

.sprite-FUN
  width: 20px
  height: 20px
  background-position: -7420px 0

.sprite-FUTX
  width: 20px
  height: 20px
  background-position: -7440px 0

.sprite-FUZZ
  width: 20px
  height: 20px
  background-position: -7460px 0

.sprite-FXT
  width: 20px
  height: 20px
  background-position: -7480px 0

.sprite-FYN
  width: 20px
  height: 20px
  background-position: -7500px 0

.sprite-FYP
  width: 20px
  height: 20px
  background-position: -7520px 0

.sprite-GAIA
  width: 20px
  height: 20px
  background-position: -7540px 0

.sprite-GAM
  width: 20px
  height: 14px
  background-position: -7560px 0

.sprite-GAME
  width: 20px
  height: 20px
  background-position: -7580px 0

.sprite-GAP
  width: 20px
  height: 20px
  background-position: -7600px 0

.sprite-GAS
  width: 20px
  height: 20px
  background-position: -7620px 0

.sprite-GAY
  width: 20px
  height: 20px
  background-position: -7640px 0

.sprite-GBG
  width: 20px
  height: 20px
  background-position: -7660px 0

.sprite-GBX
  width: 20px
  height: 20px
  background-position: -7680px 0

.sprite-GBYTE
  width: 20px
  height: 20px
  background-position: -7700px 0

.sprite-GCC
  width: 20px
  height: 20px
  background-position: -7720px 0

.sprite-GCN
  width: 20px
  height: 20px
  background-position: -7740px 0

.sprite-GCR
  width: 20px
  height: 20px
  background-position: -7760px 0

.sprite-GDC
  width: 20px
  height: 20px
  background-position: -7780px 0

.sprite-GEERT
  width: 20px
  height: 20px
  background-position: -7800px 0

.sprite-GEMZ
  width: 20px
  height: 20px
  background-position: -7820px 0

.sprite-GEO
  width: 20px
  height: 20px
  background-position: -7840px 0

.sprite-GET
  width: 20px
  height: 20px
  background-position: -7860px 0

.sprite-GIN
  width: 20px
  height: 20px
  background-position: -7880px 0

.sprite-GLD
  width: 20px
  height: 20px
  background-position: -7900px 0

.sprite-GNO
  width: 20px
  height: 20px
  background-position: -7920px 0

.sprite-GNR
  width: 20px
  height: 20px
  background-position: -7940px 0

.sprite-GNT
  width: 20px
  height: 20px
  background-position: -7960px 0

.sprite-GNX
  width: 20px
  height: 20px
  background-position: -7980px 0

.sprite-GOLOS
  width: 20px
  height: 20px
  background-position: -8000px 0

.sprite-GPL
  width: 20px
  height: 20px
  background-position: -8020px 0

.sprite-GPU
  width: 20px
  height: 20px
  background-position: -8040px 0

.sprite-GRC
  width: 20px
  height: 20px
  background-position: -8060px 0

.sprite-GRMD
  width: 20px
  height: 20px
  background-position: -8080px 0

.sprite-GRN
  width: 20px
  height: 20px
  background-position: -8100px 0

.sprite-GRS
  width: 20px
  height: 20px
  background-position: -8120px 0

.sprite-GRW
  width: 20px
  height: 20px
  background-position: -8140px 0

.sprite-GRWI
  width: 20px
  height: 20px
  background-position: -8160px 0

.sprite-GTO
  width: 20px
  height: 20px
  background-position: -8180px 0

.sprite-GUN
  width: 20px
  height: 20px
  background-position: -8200px 0

.sprite-GUP
  width: 20px
  height: 20px
  background-position: -8220px 0

.sprite-GVT
  width: 20px
  height: 11px
  background-position: -8240px 0

.sprite-GXG
  width: 20px
  height: 20px
  background-position: -8260px 0

.sprite-GXS
  width: 20px
  height: 20px
  background-position: -8280px 0

.sprite-HAC
  width: 20px
  height: 20px
  background-position: -8300px 0

.sprite-HAL
  width: 20px
  height: 20px
  background-position: -8320px 0

.sprite-HAND
  width: 20px
  height: 20px
  background-position: -8340px 0

.sprite-HAV
  width: 20px
  height: 20px
  background-position: -8360px 0

.sprite-HAVI
  width: 20px
  height: 20px
  background-position: -8380px 0

.sprite-HBC
  width: 20px
  height: 20px
  background-position: -8400px 0

.sprite-HBN
  width: 20px
  height: 20px
  background-position: -8420px 0

.sprite-HBZ
  width: 20px
  height: 20px
  background-position: -8440px 0

.sprite-HC
  width: 20px
  height: 20px
  background-position: -8460px 0

.sprite-HDG
  width: 20px
  height: 20px
  background-position: -8480px 0

.sprite-HDLB
  width: 20px
  height: 20px
  background-position: -8500px 0

.sprite-HEAT
  width: 20px
  height: 20px
  background-position: -8520px 0

.sprite-HERO
  width: 20px
  height: 20px
  background-position: -8540px 0

.sprite-HGT
  width: 20px
  height: 20px
  background-position: -8560px 0

.sprite-HIRE
  width: 20px
  height: 20px
  background-position: -8580px 0

.sprite-HLM
  width: 20px
  height: 20px
  background-position: -8600px 0

.sprite-HMQ
  width: 20px
  height: 20px
  background-position: -8620px 0

.sprite-HOLD
  width: 20px
  height: 20px
  background-position: -8640px 0

.sprite-HPC
  width: 20px
  height: 20px
  background-position: -8660px 0

.sprite-HQX
  width: 20px
  height: 20px
  background-position: -8680px 0

.sprite-HRB
  width: 20px
  height: 20px
  background-position: -8700px 0

.sprite-HSR
  width: 20px
  height: 20px
  background-position: -8720px 0

.sprite-HST
  width: 20px
  height: 20px
  background-position: -8740px 0

.sprite-HUSH
  width: 20px
  height: 20px
  background-position: -8760px 0

.sprite-HVN
  width: 20px
  height: 20px
  background-position: -8780px 0

.sprite-HXX
  width: 20px
  height: 20px
  background-position: -8800px 0

.sprite-HYP
  width: 20px
  height: 20px
  background-position: -8820px 0

.sprite-I0C
  width: 20px
  height: 20px
  background-position: -8840px 0

.sprite-IC
  width: 20px
  height: 20px
  background-position: -8860px 0

.sprite-ICN
  width: 20px
  height: 20px
  background-position: -8880px 0

.sprite-ICO
  width: 20px
  height: 20px
  background-position: -8900px 0

.sprite-ICOS
  width: 20px
  height: 20px
  background-position: -8920px 0

.sprite-ICX
  width: 20px
  height: 20px
  background-position: -8940px 0

.sprite-IDH
  width: 20px
  height: 20px
  background-position: -8960px 0

.sprite-IFC
  width: 20px
  height: 20px
  background-position: -8980px 0

.sprite-IFLT
  width: 20px
  height: 20px
  background-position: -9000px 0

.sprite-IFT
  width: 20px
  height: 20px
  background-position: -9020px 0

.sprite-IGNIS
  width: 20px
  height: 20px
  background-position: -9040px 0

.sprite-IML
  width: 20px
  height: 20px
  background-position: -9060px 0

.sprite-IMS
  width: 20px
  height: 20px
  background-position: -9080px 0

.sprite-IN
  width: 20px
  height: 20px
  background-position: -9100px 0

.sprite-INCNT
  width: 20px
  height: 20px
  background-position: -9120px 0

.sprite-IND
  width: 20px
  height: 20px
  background-position: -9140px 0

.sprite-INDI
  width: 20px
  height: 20px
  background-position: -9160px 0

.sprite-INFX
  width: 20px
  height: 20px
  background-position: -9180px 0

.sprite-INK
  width: 20px
  height: 20px
  background-position: -9200px 0

.sprite-INN
  width: 20px
  height: 20px
  background-position: -9220px 0

.sprite-INPAY
  width: 20px
  height: 20px
  background-position: -9240px 0

.sprite-INS
  width: 20px
  height: 20px
  background-position: -9260px 0

.sprite-INSN
  width: 20px
  height: 20px
  background-position: -9280px 0

.sprite-INSUR
  width: 20px
  height: 20px
  background-position: -9300px 0

.sprite-INT
  width: 20px
  height: 20px
  background-position: -9320px 0

.sprite-IOC
  width: 20px
  height: 20px
  background-position: -9340px 0

.sprite-ION
  width: 20px
  height: 20px
  background-position: -9360px 0

.sprite-IOP
  width: 20px
  height: 20px
  background-position: -9380px 0

.sprite-IOST
  width: 20px
  height: 20px
  background-position: -9400px 0

.sprite-IOTA
  width: 20px
  height: 20px
  background-position: -9420px 0

.sprite-IPL
  width: 20px
  height: 20px
  background-position: -9440px 0

.sprite-IQT
  width: 20px
  height: 20px
  background-position: -9460px 0

.sprite-IRL
  width: 20px
  height: 20px
  background-position: -9480px 0

.sprite-ITC
  width: 20px
  height: 20px
  background-position: -9500px 0

.sprite-ITI
  width: 20px
  height: 20px
  background-position: -9520px 0

.sprite-IXC
  width: 20px
  height: 20px
  background-position: -9540px 0

.sprite-IXT
  width: 20px
  height: 20px
  background-position: -9560px 0

.sprite-IZE
  width: 20px
  height: 20px
  background-position: -9580px 0

.sprite-JBC
  width: 20px
  height: 20px
  background-position: -9600px 0

.sprite-JBS
  width: 20px
  height: 20px
  background-position: -9620px 0

.sprite-JET
  width: 20px
  height: 20px
  background-position: -9640px 0

.sprite-JNT
  width: 20px
  height: 20px
  background-position: -9660px 0

.sprite-JOT
  width: 20px
  height: 20px
  background-position: -9680px 0

.sprite-KARM
  width: 20px
  height: 20px
  background-position: -9700px 0

.sprite-KASH
  width: 20px
  height: 20px
  background-position: -9720px 0

.sprite-KAYI
  width: 20px
  height: 20px
  background-position: -9740px 0

.sprite-KBR
  width: 20px
  height: 20px
  background-position: -9760px 0

.sprite-KDC
  width: 20px
  height: 20px
  background-position: -9780px 0

.sprite-KED
  width: 20px
  height: 20px
  background-position: -9800px 0

.sprite-KEK
  width: 20px
  height: 20px
  background-position: -9820px 0

.sprite-KGB
  width: 20px
  height: 20px
  background-position: -9840px 0

.sprite-KICK
  width: 20px
  height: 20px
  background-position: -9860px 0

.sprite-KIN
  width: 20px
  height: 20px
  background-position: -9880px 0

.sprite-KING
  width: 20px
  height: 20px
  background-position: -9900px 0

.sprite-KMD
  width: 20px
  height: 20px
  background-position: -9920px 0

.sprite-KNC
  width: 20px
  height: 20px
  background-position: -9940px 0

.sprite-KOBO
  width: 20px
  height: 20px
  background-position: -9960px 0

.sprite-KORE
  width: 20px
  height: 20px
  background-position: -9980px 0

.sprite-KOT
  width: 20px
  height: 20px
  background-position: -10000px 0

.sprite-KRB
  width: 20px
  height: 20px
  background-position: -10020px 0

.sprite-KURT
  width: 20px
  height: 20px
  background-position: -10040px 0

.sprite-KUSH
  width: 20px
  height: 20px
  background-position: -10060px 0

.sprite-LA
  width: 20px
  height: 20px
  background-position: -10080px 0

.sprite-LANA
  width: 20px
  height: 20px
  background-position: -10100px 0

.sprite-LAT
  width: 20px
  height: 20px
  background-position: -10120px 0

.sprite-LATX
  width: 20px
  height: 20px
  background-position: -10140px 0

.sprite-LBC
  width: 20px
  height: 20px
  background-position: -10160px 0

.sprite-LCP
  width: 20px
  height: 20px
  background-position: -10180px 0

.sprite-LDOGE
  width: 20px
  height: 20px
  background-position: -10200px 0

.sprite-LDS
  width: 20px
  height: 20px
  background-position: -10220px 0

.sprite-LEA
  width: 20px
  height: 20px
  background-position: -10240px 0

.sprite-LEAF
  width: 20px
  height: 20px
  background-position: -10260px 0

.sprite-LEMON
  width: 20px
  height: 20px
  background-position: -10280px 0

.sprite-LEND
  width: 20px
  height: 20px
  background-position: -10300px 0

.sprite-LFTC
  width: 20px
  height: 20px
  background-position: -10320px 0

.sprite-LGD
  width: 20px
  height: 20px
  background-position: -10340px 0

.sprite-LIFE
  width: 20px
  height: 20px
  background-position: -10360px 0

.sprite-LINA
  width: 20px
  height: 20px
  background-position: -10380px 0

.sprite-LINDA
  width: 20px
  height: 20px
  background-position: -10400px 0

.sprite-LINK
  width: 20px
  height: 20px
  background-position: -10420px 0

.sprite-LINX
  width: 20px
  height: 20px
  background-position: -10440px 0

.sprite-LIT
  width: 20px
  height: 20px
  background-position: -10460px 0

.sprite-LIVE
  width: 20px
  height: 20px
  background-position: -10480px 0

.sprite-LMC
  width: 20px
  height: 20px
  background-position: -10500px 0

.sprite-LNC
  width: 20px
  height: 20px
  background-position: -10520px 0

.sprite-LND
  width: 20px
  height: 20px
  background-position: -10540px 0

.sprite-LOC
  width: 20px
  height: 20px
  background-position: -10560px 0

.sprite-LOKI
  width: 20px
  height: 20px
  background-position: -10580px 0

.sprite-LOOK
  width: 20px
  height: 20px
  background-position: -10600px 0

.sprite-LOT
  width: 20px
  height: 20px
  background-position: -10620px 0

.sprite-LRC
  width: 20px
  height: 20px
  background-position: -10640px 0

.sprite-LSK
  width: 20px
  height: 20px
  background-position: -10660px 0

.sprite-LTB
  width: 20px
  height: 20px
  background-position: -10680px 0

.sprite-LTC
  width: 20px
  height: 20px
  background-position: -10700px 0

.sprite-LTCU
  width: 20px
  height: 20px
  background-position: -10720px 0

.sprite-LUC
  width: 20px
  height: 20px
  background-position: -10740px 0

.sprite-LUN
  width: 20px
  height: 20px
  background-position: -10760px 0

.sprite-LUX
  width: 20px
  height: 20px
  background-position: -10780px 0

.sprite-LWF
  width: 20px
  height: 20px
  background-position: -10800px 0

.sprite-LYC
  width: 20px
  height: 20px
  background-position: -10820px 0

.sprite-LYL
  width: 20px
  height: 20px
  background-position: -10840px 0

.sprite-LYNX
  width: 20px
  height: 20px
  background-position: -10860px 0

.sprite-MAC
  width: 20px
  height: 20px
  background-position: -10880px 0

.sprite-MAG
  width: 20px
  height: 20px
  background-position: -10900px 0

.sprite-MAGE
  width: 20px
  height: 20px
  background-position: -10920px 0

.sprite-MAGN
  width: 20px
  height: 20px
  background-position: -10940px 0

.sprite-MAID
  width: 20px
  height: 20px
  background-position: -10960px 0

.sprite-MAN
  width: 20px
  height: 20px
  background-position: -10980px 0

.sprite-MANA
  width: 20px
  height: 20px
  background-position: -11000px 0

.sprite-MAR
  width: 20px
  height: 20px
  background-position: -11020px 0

.sprite-MARKS
  width: 20px
  height: 20px
  background-position: -11040px 0

.sprite-MARS
  width: 20px
  height: 20px
  background-position: -11060px 0

.sprite-MARX
  width: 20px
  height: 20px
  background-position: -11080px 0

.sprite-MATRX
  width: 20px
  height: 20px
  background-position: -11100px 0

.sprite-MBRS
  width: 20px
  height: 20px
  background-position: -11120px 0

.sprite-MCAP
  width: 20px
  height: 20px
  background-position: -11140px 0

.sprite-MCI
  width: 20px
  height: 20px
  background-position: -11160px 0

.sprite-MCO
  width: 20px
  height: 20px
  background-position: -11180px 0

.sprite-MDA
  width: 20px
  height: 20px
  background-position: -11200px 0

.sprite-MEK
  width: 20px
  height: 20px
  background-position: -11220px 0

.sprite-MEME
  width: 20px
  height: 20px
  background-position: -11240px 0

.sprite-MER
  width: 20px
  height: 19px
  background-position: -11260px 0

.sprite-MESH
  width: 20px
  height: 20px
  background-position: -11280px 0

.sprite-MGO
  width: 20px
  height: 20px
  background-position: -11300px 0

.sprite-MGX
  width: 20px
  height: 20px
  background-position: -11320px 0

.sprite-MINEX
  width: 20px
  height: 20px
  background-position: -11340px 0

.sprite-MINT
  width: 20px
  height: 20px
  background-position: -11360px 0

.sprite-MIPS
  width: 20px
  height: 20px
  background-position: -11380px 0

.sprite-MITH
  width: 20px
  height: 20px
  background-position: -11400px 0

.sprite-MITHRIL
  width: 20px
  height: 20px
  background-position: -11420px 0

.sprite-MITX
  width: 20px
  height: 20px
  background-position: -11440px 0

.sprite-MLD
  width: 20px
  height: 20px
  background-position: -11460px 0

.sprite-MLITE
  width: 20px
  height: 20px
  background-position: -11480px 0

.sprite-MLN
  width: 20px
  height: 20px
  background-position: -11500px 0

.sprite-MNE
  width: 20px
  height: 20px
  background-position: -11520px 0

.sprite-MNM
  width: 20px
  height: 20px
  background-position: -11540px 0

.sprite-MOD
  width: 20px
  height: 20px
  background-position: -11560px 0

.sprite-MOIN
  width: 20px
  height: 20px
  background-position: -11580px 0

.sprite-MOJO
  width: 20px
  height: 20px
  background-position: -11600px 0

.sprite-MONA
  width: 20px
  height: 20px
  background-position: -11620px 0

.sprite-MONK
  width: 20px
  height: 20px
  background-position: -11640px 0

.sprite-MORPH
  width: 20px
  height: 20px
  background-position: -11660px 0

.sprite-MOTO
  width: 20px
  height: 20px
  background-position: -11680px 0

.sprite-MPK
  width: 20px
  height: 20px
  background-position: -11700px 0

.sprite-MRC
  width: 20px
  height: 20px
  background-position: -11720px 0

.sprite-MRV
  width: 20px
  height: 20px
  background-position: -11740px 0

.sprite-MRY
  width: 20px
  height: 20px
  background-position: -11760px 0

.sprite-MSC
  width: 20px
  height: 20px
  background-position: -11780px 0

.sprite-MSP
  width: 20px
  height: 20px
  background-position: -11800px 0

.sprite-MST
  width: 20px
  height: 20px
  background-position: -11820px 0

.sprite-MTC
  width: 20px
  height: 20px
  background-position: -11840px 0

.sprite-MTH
  width: 20px
  height: 20px
  background-position: -11860px 0

.sprite-MTL
  width: 20px
  height: 20px
  background-position: -11880px 0

.sprite-MTLMC
  width: 20px
  height: 20px
  background-position: -11900px 0

.sprite-MTNC
  width: 20px
  height: 20px
  background-position: -11920px 0

.sprite-MTR
  width: 20px
  height: 20px
  background-position: -11940px 0

.sprite-MTX
  width: 20px
  height: 20px
  background-position: -11960px 0

.sprite-MUE
  width: 20px
  height: 20px
  background-position: -11980px 0

.sprite-MUSIC
  width: 20px
  height: 20px
  background-position: -12000px 0

.sprite-MYB
  width: 20px
  height: 20px
  background-position: -12020px 0

.sprite-MYST
  width: 20px
  height: 20px
  background-position: -12040px 0

.sprite-NANJ
  width: 20px
  height: 20px
  background-position: -12060px 0

.sprite-NANO
  width: 20px
  height: 20px
  background-position: -12080px 0

.sprite-NAV
  width: 20px
  height: 20px
  background-position: -12100px 0

.sprite-NAVI
  width: 20px
  height: 20px
  background-position: -12120px 0

.sprite-NBT
  width: 20px
  height: 20px
  background-position: -12140px 0

.sprite-NCASH
  width: 20px
  height: 20px
  background-position: -12160px 0

.sprite-NCT
  width: 20px
  height: 20px
  background-position: -12180px 0

.sprite-NDAO
  width: 20px
  height: 20px
  background-position: -12200px 0

.sprite-NDC
  width: 20px
  height: 20px
  background-position: -12220px 0

.sprite-NEBL
  width: 20px
  height: 20px
  background-position: -12240px 0

.sprite-NEO
  width: 20px
  height: 20px
  background-position: -12260px 0

.sprite-NEOS
  width: 20px
  height: 20px
  background-position: -12280px 0

.sprite-NETKO
  width: 20px
  height: 20px
  background-position: -12300px 0

.sprite-NEU
  width: 20px
  height: 20px
  background-position: -12320px 0

.sprite-NEVA
  width: 20px
  height: 20px
  background-position: -12340px 0

.sprite-NEXO
  width: 20px
  height: 20px
  background-position: -12360px 0

.sprite-NKA
  width: 20px
  height: 20px
  background-position: -12380px 0

.sprite-NLC2
  width: 20px
  height: 20px
  background-position: -12400px 0

.sprite-NLG
  width: 20px
  height: 20px
  background-position: -12420px 0

.sprite-NLX
  width: 20px
  height: 20px
  background-position: -12440px 0

.sprite-NMC
  width: 20px
  height: 20px
  background-position: -12460px 0

.sprite-NMR
  width: 20px
  height: 20px
  background-position: -12480px 0

.sprite-NMS
  width: 20px
  height: 20px
  background-position: -12500px 0

.sprite-NOAH
  width: 20px
  height: 20px
  background-position: -12520px 0

.sprite-NOBL
  width: 20px
  height: 20px
  background-position: -12540px 0

.sprite-NOTE
  width: 20px
  height: 20px
  background-position: -12560px 0

.sprite-NSR
  width: 20px
  height: 20px
  background-position: -12580px 0

.sprite-NTK
  width: 20px
  height: 20px
  background-position: -12600px 0

.sprite-NTO
  width: 20px
  height: 20px
  background-position: -12620px 0

.sprite-NULS
  width: 20px
  height: 20px
  background-position: -12640px 0

.sprite-NVC
  width: 20px
  height: 20px
  background-position: -12660px 0

.sprite-NXC
  width: 20px
  height: 20px
  background-position: -12680px 0

.sprite-NXS
  width: 20px
  height: 20px
  background-position: -12700px 0

.sprite-NXT
  width: 20px
  height: 20px
  background-position: -12720px 0

.sprite-NYAN
  width: 20px
  height: 20px
  background-position: -12740px 0

.sprite-NZDT
  width: 20px
  height: 20px
  background-position: -12760px 0

.sprite-OAX
  width: 20px
  height: 14px
  background-position: -12780px 0

.sprite-ODN
  width: 20px
  height: 20px
  background-position: -12800px 0

.sprite-OFF
  width: 20px
  height: 20px
  background-position: -12820px 0

.sprite-OK
  width: 20px
  height: 20px
  background-position: -12840px 0

.sprite-OMG
  width: 20px
  height: 20px
  background-position: -12860px 0

.sprite-OMNI
  width: 20px
  height: 20px
  background-position: -12880px 0

.sprite-ONION
  width: 20px
  height: 20px
  background-position: -12900px 0

.sprite-ONT
  width: 20px
  height: 20px
  background-position: -12920px 0

.sprite-OPAL
  width: 20px
  height: 20px
  background-position: -12940px 0

.sprite-OPC
  width: 20px
  height: 20px
  background-position: -12960px 0

.sprite-OPT
  width: 20px
  height: 20px
  background-position: -12980px 0

.sprite-ORE
  width: 20px
  height: 20px
  background-position: -13000px 0

.sprite-ORME
  width: 20px
  height: 20px
  background-position: -13020px 0

.sprite-OSC
  width: 20px
  height: 20px
  background-position: -13040px 0

.sprite-OST
  width: 20px
  height: 20px
  background-position: -13060px 0

.sprite-OTN
  width: 20px
  height: 20px
  background-position: -13080px 0

.sprite-OTX
  width: 20px
  height: 20px
  background-position: -13100px 0

.sprite-OXY
  width: 20px
  height: 20px
  background-position: -13120px 0

.sprite-PAK
  width: 20px
  height: 20px
  background-position: -13160px 0

.sprite-PART
  width: 20px
  height: 20px
  background-position: -13180px 0

.sprite-PASC
  width: 20px
  height: 20px
  background-position: -13200px 0

.sprite-PASL
  width: 20px
  height: 20px
  background-position: -13220px 0

.sprite-PAT
  width: 20px
  height: 20px
  background-position: -13240px 0

.sprite-PAY
  width: 20px
  height: 20px
  background-position: -13260px 0

.sprite-PBL
  width: 20px
  height: 20px
  background-position: -13280px 0

.sprite-PCC
  width: 20px
  height: 20px
  background-position: -13300px 0

.sprite-PCL
  width: 20px
  height: 20px
  background-position: -13320px 0

.sprite-PCOIN
  width: 20px
  height: 20px
  background-position: -13340px 0

.sprite-PDC
  width: 20px
  height: 20px
  background-position: -13360px 0

.sprite-PENG
  width: 20px
  height: 20px
  background-position: -13380px 0

.sprite-PEPECASH
  width: 20px
  height: 20px
  background-position: -13400px 0

.sprite-PF
  width: 20px
  height: 20px
  background-position: -13420px 0

.sprite-PHR
  width: 20px
  height: 20px
  background-position: -13440px 0

.sprite-PHS
  width: 20px
  height: 20px
  background-position: -13460px 0

.sprite-PIE
  width: 20px
  height: 20px
  background-position: -13480px 0

.sprite-PIGGY
  width: 20px
  height: 20px
  background-position: -13500px 0

.sprite-PING
  width: 20px
  height: 20px
  background-position: -13520px 0

.sprite-PINK
  width: 20px
  height: 20px
  background-position: -13540px 0

.sprite-PIVX
  width: 20px
  height: 20px
  background-position: -13560px 0

.sprite-PIX
  width: 20px
  height: 20px
  background-position: -13580px 0

.sprite-PKB
  width: 20px
  height: 20px
  background-position: -13600px 0

.sprite-PKT
  width: 20px
  height: 20px
  background-position: -13620px 0

.sprite-PLBT
  width: 20px
  height: 20px
  background-position: -13640px 0

.sprite-PLR
  width: 20px
  height: 20px
  background-position: -13660px 0

.sprite-PLU
  width: 20px
  height: 20px
  background-position: -13680px 0

.sprite-PND
  width: 20px
  height: 20px
  background-position: -13700px 0

.sprite-PNT
  width: 20px
  height: 20px
  background-position: -13720px 0

.sprite-POA
  width: 20px
  height: 15px
  background-position: -13740px 0

.sprite-POE
  width: 20px
  height: 20px
  background-position: -13760px 0

.sprite-POST
  width: 20px
  height: 20px
  background-position: -13780px 0

.sprite-POSW
  width: 20px
  height: 20px
  background-position: -13800px 0

.sprite-POT
  width: 20px
  height: 20px
  background-position: -13820px 0

.sprite-POWR
  width: 20px
  height: 20px
  background-position: -13840px 0

.sprite-PPC
  width: 20px
  height: 20px
  background-position: -13860px 0

.sprite-PPT
  width: 20px
  height: 20px
  background-position: -13880px 0

.sprite-PRE
  width: 20px
  height: 20px
  background-position: -13900px 0

.sprite-PROC
  width: 20px
  height: 20px
  background-position: -13920px 0

.sprite-PTC
  width: 20px
  height: 20px
  background-position: -13940px 0

.sprite-PTOY
  width: 20px
  height: 20px
  background-position: -13960px 0

.sprite-PXC
  width: 20px
  height: 20px
  background-position: -13980px 0

.sprite-QAU
  width: 20px
  height: 20px
  background-position: -14000px 0

.sprite-QBT
  width: 20px
  height: 20px
  background-position: -14020px 0

.sprite-QCN
  width: 20px
  height: 20px
  background-position: -14040px 0

.sprite-QRK
  width: 20px
  height: 20px
  background-position: -14060px 0

.sprite-QRL
  width: 20px
  height: 20px
  background-position: -14080px 0

.sprite-QSP
  width: 20px
  height: 20px
  background-position: -14100px 0

.sprite-QTUM
  width: 20px
  height: 20px
  background-position: -14120px 0

.sprite-QVT
  width: 20px
  height: 20px
  background-position: -14140px 0

.sprite-QWARK
  width: 20px
  height: 20px
  background-position: -14160px 0

.sprite-RADS
  width: 20px
  height: 20px
  background-position: -14180px 0

.sprite-RAIN
  width: 20px
  height: 20px
  background-position: -14200px 0

.sprite-RBIES
  width: 20px
  height: 20px
  background-position: -14220px 0

.sprite-RBT
  width: 20px
  height: 20px
  background-position: -14240px 0

.sprite-RBY
  width: 20px
  height: 20px
  background-position: -14260px 0

.sprite-RC
  width: 20px
  height: 20px
  background-position: -14280px 0

.sprite-RCN
  width: 20px
  height: 20px
  background-position: -14300px 0

.sprite-RDD
  width: 20px
  height: 20px
  background-position: -14320px 0

.sprite-RDN
  width: 20px
  height: 20px
  background-position: -14340px 0

.sprite-RED
  width: 20px
  height: 20px
  background-position: -14360px 0

.sprite-REP
  width: 20px
  height: 20px
  background-position: -14380px 0

.sprite-REQ
  width: 20px
  height: 20px
  background-position: -14400px 0

.sprite-RISE
  width: 20px
  height: 20px
  background-position: -14420px 0

.sprite-RIYA
  width: 20px
  height: 20px
  background-position: -14440px 0

.sprite-RKC
  width: 20px
  height: 20px
  background-position: -14460px 0

.sprite-RLC
  width: 20px
  height: 20px
  background-position: -14480px 0

.sprite-RNS
  width: 20px
  height: 20px
  background-position: -14500px 0

.sprite-RNTB
  width: 20px
  height: 20px
  background-position: -14520px 0

.sprite-RPX
  width: 20px
  height: 20px
  background-position: -14540px 0

.sprite-RVT
  width: 20px
  height: 20px
  background-position: -14560px 0

.sprite-SALT
  width: 20px
  height: 20px
  background-position: -14580px 0

.sprite-SAN
  width: 20px
  height: 20px
  background-position: -14600px 0

.sprite-SAR
  width: 20px
  height: 20px
  background-position: -14620px 0

.sprite-SBC
  width: 20px
  height: 20px
  background-position: -14640px 0

.sprite-SBD
  width: 20px
  height: 20px
  background-position: -14660px 0

.sprite-SBTC
  width: 20px
  height: 20px
  background-position: -14680px 0

.sprite-SC
  width: 20px
  height: 20px
  background-position: -14700px 0

.sprite-SCC
  width: 20px
  height: 20px
  background-position: -14720px 0

.sprite-SCORE
  width: 20px
  height: 20px
  background-position: -14740px 0

.sprite-SCOT
  width: 20px
  height: 20px
  background-position: -14760px 0

.sprite-SCT
  width: 20px
  height: 20px
  background-position: -14780px 0

.sprite-SDC
  width: 20px
  height: 20px
  background-position: -14800px 0

.sprite-SEL
  width: 20px
  height: 20px
  background-position: -14820px 0

.sprite-SENT
  width: 20px
  height: 20px
  background-position: -14840px 0

.sprite-SEQ
  width: 20px
  height: 20px
  background-position: -14860px 0

.sprite-SFC
  width: 20px
  height: 20px
  background-position: -14880px 0

.sprite-SHIFT
  width: 20px
  height: 20px
  background-position: -14900px 0

.sprite-SHIP
  width: 20px
  height: 20px
  background-position: -14920px 0

.sprite-SIA
  width: 20px
  height: 20px
  background-position: -14940px 0

.sprite-SIB
  width: 20px
  height: 20px
  background-position: -14960px 0

.sprite-SIG
  width: 20px
  height: 20px
  background-position: -14980px 0

.sprite-SISA
  width: 20px
  height: 20px
  background-position: -15000px 0

.sprite-SJCX
  width: 20px
  height: 20px
  background-position: -15020px 0

.sprite-SKR
  width: 20px
  height: 20px
  background-position: -15040px 0

.sprite-SKY
  width: 20px
  height: 20px
  background-position: -15060px 0

.sprite-SLG
  width: 20px
  height: 20px
  background-position: -15080px 0

.sprite-SLR
  width: 20px
  height: 20px
  background-position: -15100px 0

.sprite-SLS
  width: 20px
  height: 20px
  background-position: -15120px 0

.sprite-SMC
  width: 20px
  height: 20px
  background-position: -15140px 0

.sprite-SMT
  width: 20px
  height: 20px
  background-position: -15160px 0

.sprite-SNC
  width: 20px
  height: 20px
  background-position: -15180px 0

.sprite-SNM
  width: 20px
  height: 20px
  background-position: -15200px 0

.sprite-SNRG
  width: 20px
  height: 20px
  background-position: -15220px 0

.sprite-SNT
  width: 20px
  height: 20px
  background-position: -15240px 0

.sprite-SOC
  width: 20px
  height: 20px
  background-position: -15260px 0

.sprite-SOIL
  width: 20px
  height: 20px
  background-position: -15280px 0

.sprite-SONG
  width: 20px
  height: 20px
  background-position: -15300px 0

.sprite-SPACE
  width: 20px
  height: 20px
  background-position: -15320px 0

.sprite-SPD
  width: 20px
  height: 20px
  background-position: -15340px 0

.sprite-SPF
  width: 20px
  height: 20px
  background-position: -15360px 0

.sprite-SPHR
  width: 20px
  height: 20px
  background-position: -15380px 0

.sprite-SPN
  width: 20px
  height: 20px
  background-position: -15400px 0

.SPRite-spr
  width: 18px
  height: 20px
  background-position: -15420px 0

.sprite-SPT
  width: 20px
  height: 20px
  background-position: -15438px 0

.sprite-SQL
  width: 20px
  height: 20px
  background-position: -15458px 0

.sprite-SRC
  width: 20px
  height: 20px
  background-position: -15478px 0

.sprite-SRN
  width: 20px
  height: 20px
  background-position: -15498px 0

.sprite-STAK
  width: 20px
  height: 20px
  background-position: -15518px 0

.sprite-STAR
  width: 20px
  height: 20px
  background-position: -15538px 0

.sprite-START
  width: 20px
  height: 20px
  background-position: -15558px 0

.sprite-STEEM
  width: 20px
  height: 20px
  background-position: -15578px 0

.sprite-STORJ
  width: 20px
  height: 20px
  background-position: -15598px 0

.sprite-STORM
  width: 20px
  height: 20px
  background-position: -15618px 0

.sprite-STQ
  width: 20px
  height: 20px
  background-position: -15638px 0

.sprite-STRAT
  width: 20px
  height: 20px
  background-position: -15658px 0

.sprite-STU
  width: 20px
  height: 20px
  background-position: -15678px 0

.sprite-STX
  width: 20px
  height: 20px
  background-position: -15698px 0

.sprite-SUB
  width: 20px
  height: 20px
  background-position: -15718px 0

.sprite-SUR
  width: 20px
  height: 20px
  background-position: -15738px 0

.sprite-SWFTC
  width: 20px
  height: 20px
  background-position: -15758px 0

.sprite-SWIFT
  width: 20px
  height: 20px
  background-position: -15778px 0

.sprite-SWT
  width: 20px
  height: 20px
  background-position: -15798px 0

.sprite-SXC
  width: 20px
  height: 20px
  background-position: -15818px 0

.sprite-SYNC
  width: 20px
  height: 20px
  background-position: -15838px 0

.sprite-SYNX
  width: 20px
  height: 20px
  background-position: -15858px 0

.sprite-SYS
  width: 20px
  height: 20px
  background-position: -15878px 0

.sprite-TAAS
  width: 20px
  height: 20px
  background-position: -15898px 0

.sprite-TAJ
  width: 20px
  height: 20px
  background-position: -15918px 0

.sprite-TAU
  width: 20px
  height: 20px
  background-position: -15938px 0

.sprite-TEK
  width: 20px
  height: 20px
  background-position: -15958px 0

.sprite-TEL
  width: 20px
  height: 20px
  background-position: -15978px 0

.sprite-TFL
  width: 20px
  height: 20px
  background-position: -15998px 0

.sprite-TGC
  width: 20px
  height: 20px
  background-position: -16018px 0

.sprite-TGT
  width: 20px
  height: 20px
  background-position: -16038px 0

.sprite-THC
  width: 20px
  height: 20px
  background-position: -16058px 0

.sprite-TIO
  width: 20px
  height: 20px
  background-position: -16078px 0

.sprite-TIX
  width: 20px
  height: 20px
  background-position: -16098px 0

.sprite-TKA
  width: 20px
  height: 20px
  background-position: -16118px 0

.sprite-TKR
  width: 20px
  height: 20px
  background-position: -16138px 0

.sprite-TKS
  width: 20px
  height: 20px
  background-position: -16158px 0

.sprite-TKY
  width: 20px
  height: 20px
  background-position: -16178px 0

.sprite-TNB
  width: 20px
  height: 20px
  background-position: -16198px 0

.sprite-TNT
  width: 20px
  height: 20px
  background-position: -16218px 0

.sprite-TRAC
  width: 20px
  height: 20px
  background-position: -16238px 0

.sprite-TRIG
  width: 20px
  height: 20px
  background-position: -16258px 0

.sprite-TRST
  width: 20px
  height: 20px
  background-position: -16278px 0

.sprite-TRUE
  width: 20px
  height: 20px
  background-position: -16298px 0

.sprite-TRUMP
  width: 20px
  height: 20px
  background-position: -16318px 0

.sprite-TRUST
  width: 20px
  height: 20px
  background-position: -16338px 0

.sprite-TRX
  width: 20px
  height: 20px
  background-position: -16358px 0

.sprite-TTC
  width: 20px
  height: 20px
  background-position: -16378px 0

.sprite-TUSD
  width: 20px
  height: 20px
  background-position: -16398px 0

.sprite-TX
  width: 20px
  height: 20px
  background-position: -16418px 0

.sprite-UBQ
  width: 20px
  height: 20px
  background-position: -16438px 0

.sprite-UET
  width: 20px
  height: 20px
  background-position: -16458px 0

.sprite-UIS
  width: 20px
  height: 20px
  background-position: -16478px 0

.sprite-UKG
  width: 20px
  height: 20px
  background-position: -16498px 0

.sprite-UNB
  width: 20px
  height: 20px
  background-position: -16518px 0

.sprite-UNIFY
  width: 20px
  height: 20px
  background-position: -16538px 0

.sprite-UNITS
  width: 20px
  height: 20px
  background-position: -16558px 0

.sprite-UNITY
  width: 20px
  height: 20px
  background-position: -16578px 0

.sprite-USDT
  width: 20px
  height: 20px
  background-position: -16598px 0

.sprite-UTK
  width: 20px
  height: 20px
  background-position: -16618px 0

.sprite-UTNP
  width: 20px
  height: 20px
  background-position: -16638px 0

.sprite-UTT
  width: 20px
  height: 20px
  background-position: -16658px 0

.sprite-VEE
  width: 20px
  height: 20px
  background-position: -16678px 0

.sprite-VEN
  width: 20px
  height: 20px
  background-position: -16698px 0

.sprite-VERI
  width: 20px
  height: 20px
  background-position: -16718px 0

.sprite-VIA
  width: 20px
  height: 20px
  background-position: -16738px 0

.sprite-VIB
  width: 17px
  height: 20px
  background-position: -16758px 0

.sprite-VIBE
  width: 20px
  height: 20px
  background-position: -16775px 0

.sprite-VIOR
  width: 20px
  height: 20px
  background-position: -16795px 0

.sprite-VISIO
  width: 20px
  height: 20px
  background-position: -16815px 0

.sprite-VME
  width: 20px
  height: 20px
  background-position: -16835px 0

.sprite-VNL
  width: 20px
  height: 20px
  background-position: -16855px 0

.sprite-VOX
  width: 20px
  height: 20px
  background-position: -16875px 0

.sprite-VPN
  width: 20px
  height: 20px
  background-position: -16895px 0

.sprite-VRC
  width: 20px
  height: 20px
  background-position: -16915px 0

.sprite-VRM
  width: 20px
  height: 20px
  background-position: -16935px 0

.sprite-VTC
  width: 20px
  height: 20px
  background-position: -16955px 0

.sprite-VTR
  width: 20px
  height: 20px
  background-position: -16975px 0

.sprite-VUC
  width: 20px
  height: 20px
  background-position: -16995px 0

.sprite-W3C
  width: 20px
  height: 20px
  background-position: -17015px 0

.sprite-WABI
  width: 20px
  height: 20px
  background-position: -17035px 0

.sprite-WAVES
  width: 20px
  height: 20px
  background-position: -17055px 0

.sprite-WAX
  width: 20px
  height: 20px
  background-position: -17075px 0

.sprite-WC
  width: 20px
  height: 20px
  background-position: -17095px 0

.sprite-WDC
  width: 20px
  height: 20px
  background-position: -17115px 0

.sprite-WINGS
  width: 20px
  height: 20px
  background-position: -17135px 0

.sprite-WRC
  width: 20px
  height: 20px
  background-position: -17155px 0

.sprite-WSX
  width: 20px
  height: 20px
  background-position: -17175px 0

.sprite-WTC
  width: 20px
  height: 20px
  background-position: -17195px 0

.sprite-XAI
  width: 20px
  height: 20px
  background-position: -17215px 0

.sprite-XBC
  width: 20px
  height: 20px
  background-position: -17235px 0

.sprite-XBS
  width: 20px
  height: 20px
  background-position: -17255px 0

.sprite-XCI
  width: 20px
  height: 20px
  background-position: -17275px 0

.sprite-XCP
  width: 20px
  height: 20px
  background-position: -17295px 0

.sprite-XCRE
  width: 20px
  height: 20px
  background-position: -17315px 0

.sprite-XCT
  width: 20px
  height: 20px
  background-position: -17335px 0

.sprite-XDN
  width: 20px
  height: 10px
  background-position: -17355px 0

.sprite-XEL
  width: 20px
  height: 20px
  background-position: -17375px 0

.sprite-XEM
  width: 20px
  height: 20px
  background-position: -17395px 0

.sprite-XID
  width: 20px
  height: 20px
  background-position: -17415px 0

.sprite-XJO
  width: 20px
  height: 20px
  background-position: -17435px 0

.sprite-XLM
  width: 16px
  height: 20px
  background-position: -17455px 0

.sprite-XLR
  width: 20px
  height: 20px
  background-position: -17471px 0

.sprite-XMC
  width: 20px
  height: 20px
  background-position: -17491px 0

.sprite-XMG
  width: 16px
  height: 20px
  background-position: -17511px 0

.sprite-XMO
  width: 20px
  height: 20px
  background-position: -17527px 0

.sprite-XMR
  width: 20px
  height: 20px
  background-position: -17547px 0

.sprite-XMY
  width: 20px
  height: 20px
  background-position: -17567px 0

.sprite-XPD
  width: 20px
  height: 20px
  background-position: -17587px 0

.sprite-XPM
  width: 20px
  height: 20px
  background-position: -17607px 0

.sprite-XRA
  width: 20px
  height: 20px
  background-position: -17627px 0

.sprite-XRP
  width: 20px
  height: 20px
  background-position: -17647px 0

.sprite-XSPEC
  width: 20px
  height: 20px
  background-position: -17667px 0

.sprite-XST
  width: 20px
  height: 20px
  background-position: -17687px 0

.sprite-XTZ
  width: 20px
  height: 20px
  background-position: -17707px 0

.sprite-XUC
  width: 20px
  height: 20px
  background-position: -17727px 0

.sprite-XVC
  width: 20px
  height: 20px
  background-position: -17747px 0

.sprite-XVG
  width: 20px
  height: 20px
  background-position: -17767px 0

.sprite-XWC
  width: 20px
  height: 20px
  background-position: -17787px 0

.sprite-XZC
  width: 20px
  height: 20px
  background-position: -17807px 0

.sprite-YBC
  width: 20px
  height: 20px
  background-position: -17827px 0

.sprite-YOYO
  width: 20px
  height: 20px
  background-position: -17847px 0

.sprite-YOYOW
  width: 20px
  height: 20px
  background-position: -17867px 0

.sprite-ZCL
  width: 20px
  height: 20px
  background-position: -17887px 0

.sprite-ZEC
  width: 20px
  height: 20px
  background-position: -17907px 0

.sprite-ZEIT
  width: 20px
  height: 20px
  background-position: -17927px 0

.sprite-ZEN
  width: 17px
  height: 20px
  background-position: -17947px 0

.sprite-ZER
  width: 20px
  height: 20px
  background-position: -17964px 0

.sprite-ZET
  width: 20px
  height: 20px
  background-position: -17984px 0

.sprite-ZIL
  width: 20px
  height: 20px
  background-position: -18004px 0

.sprite-ZNY
  width: 20px
  height: 20px
  background-position: -18024px 0

.sprite-ZPT
  width: 20px
  height: 20px
  background-position: -18044px 0

.sprite-ZRC
  width: 20px
  height: 20px
  background-position: -18064px 0

.sprite-ZRX
  width: 20px
  height: 20px
  background-position: -18084px 0

.sprite-ZSC
  width: 20px
  height: 20px
  background-position: -18104px 0

.sprite-ZSE
  width: 20px
  height: 20px
  background-position: -18124px 0

.sprite-С2
  width: 20px
  height: 20px
  background-position: -18144px 0

.sprite-СVT
  width: 20px
  height: 20px
  background-position: -18164px 0

.sprite-СС
  width: 20px
  height: 14px
  background-position: -18184px 0