// **************************************************************************************
// ************************* css-sprites for currency dropdown-list *********************
// **************************************************************************************

// http://www.retinaspritegenerator.com/ left-to-right, resolution: standart
// http://css2sass.herokuapp.com/
// var sass = ``;
// sass = sass.replace( /sprite-(.+)\n/g, function($0,$1) {return $0.replace($1, $1.toUpperCase());} )
// sass.replace( /\;/g, '' ).replace(/\s{/g, '').replace(/}\n/g, '')

.currency
	background-image: url('#{$baseURL}/ember/images/exchange/currency.png')

.currency-AUD
  width: 20px
  height: 20px
  background-position: -1px -1px
.currency-BTC
  width: 20px
  height: 20px
  background-position: -23px -1px
.currency-EUR
  width: 20px
  height: 20px
  background-position: -45px -1px
.currency-GBP
  width: 20px
  height: 20px
  background-position: -67px -1px
.currency-RUB
  width: 20px
  height: 20px
  background-position: -89px -1px
.currency-USD
  width: 20px
  height: 20px
  background-position: -111px -1px