// Media-queries
@media screen and (max-width: 576px)
  .top-markets table tr
    & th:nth-child(4), & td:nth-child(4)
      display: none
    & th:nth-child(6), & td:nth-child(6)
      display: none
    & th:nth-child(7), & td:nth-child(7)
      display: none

  .asset-portfolio table tr
    & th:nth-child(n+2):nth-child(-n+5), & td:nth-child(n+2):nth-child(-n+5)
      display: none

// @media screen and (min-width: 1200px)
//   .exchange-page