<section class="currency-statistics">
  <div class="mr-auto">
    <ul class="nav nav-pills" id="currency-statistics__tabs" role="tablist">
      {{#each tickerPairs.quotes as |quote|}}
        <li class="nav-item" {{action 'setQuote' quote}}>
          <a class="nav-link" id="currency-statistics__{{quote}}-tab" data-toggle="pill" href="#{{quote}}" role="tab" aria-controls="{{quote}}" aria-selected="true">{{quote}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="container-box container-box_compact d-flex flex-column mt-0">
    <div class="row">
      <div class="col">
        <div class="table-wrapper">
          <table class="currency-table currency-table_pointer-cursor currency-table_compact table table-borderless table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Coin</th>
                <th>Price</th>
                <th><span>Change: </span>24h</th>
                <th>1w</th>
                <th>1m</th>
              </tr>
            </thead>
            {{#vertical-collection
                currencyTableData
                estimateHeight=27
                staticHeight=true
                bufferSize=7
                renderAll=false
                containerSelector=".currency-statistics .table-wrapper"
                tagName="tbody"
                as |record i|}}
                  <tr {{action 'setPair' record.base record.quote}} class="currency-table__row-{{record.base}} {{if (eq pair (concat record.base '_' record.quote)) " active"}}">
                    
                    <td>
                      <span class="sprite sprite-{{record.base}}"></span>
                    </td>
                    <td>{{record.base}}</td>

                    <td>
                      {{#if record.price}}
                        ${{record.price}}
                      {{else}}
                        &#8211;
                      {{/if}}
                    </td>

                    {{#if record.changeDay}}
                      <td class="{{if (lt record.changeDay 0) "currency-statistics_negative" "currency-statistics_positive"}}">{{record.changeDay}}%</td>
                    {{else}}
                      <td>&#8211;</td>
                    {{/if}}

                    {{#if record.changeWeek}}
                      <td class="{{if (lt record.changeWeek 0) "currency-statistics_negative" "currency-statistics_positive"}}">{{record.changeWeek}}%</td>
                    {{else}}
                      <td>&#8211;</td>
                    {{/if}}

                    {{#if record.changeMonth}}
                      <td class="{{if (lt record.changeMonth 0) "currency-statistics_negative" "currency-statistics_positive"}}">{{record.changeMonth}}%</td>
                    {{else}}
                      <td>&#8211;</td>
                    {{/if}}

                  </tr>
            {{/vertical-collection}}
          </table>
        </div>
      </div>
    </div>
  </div>
</section>