<section class="operations">
  <div class="d-flex">
    <div class="">
      <ul class="nav nav-pills" id="operations__tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="operations__limit-tab" data-toggle="pill" href="#limit" role="tab" aria-controls="limit" aria-selected="true">Limit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="operations__market-tab" data-toggle="pill" href="#market" role="tab" aria-controls="market" aria-selected="false">Market</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="operations__stop-limit-tab" data-toggle="pill" href="#stop-limit" role="tab" aria-controls="stop-limit" aria-selected="false">Stop-Limit</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-6">
        <button {{action "setOperationType" "buy"}} class="btn blue-button operations__buy_button">Buy {{pairBase}}</button>
      </div>
      <div class="col-6">
        <button {{action "setOperationType" "sell"}} class="btn blue-button operations__sell-button">Sell {{pairBase}}</button>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="operations__body">
      <div class="row">
        <div class="col">
          <div class="tab-content">
            <div class="tab-pane active" id="limit" role="tabpanel" aria-labelledby="operations__limit-tab">
              <div class="operations__buy">
                <p class="d-flex justify-content-between">
                  <span class="mt-auto mb-auto">{{getOperationType}} {{pairBase}}</span>

                  {{#if (eq operationType 'buy')}}
                    <span class="mt-auto mb-auto">Available: {{availableQuote}} {{pairQuote}}</span>
                  {{else}}
                    <span class="mt-auto mb-auto">Available: {{availableBase}} {{pairBase}}</span>
                  {{/if}}

                  {{!-- <span class="mt-auto mb-auto ml-auto mr-2">Available:</span>
                  <span class="mt-auto mb-auto">{{availableQuote}} {{pairQuote}}<br>{{availableBase}} {{pairBase}}</span> --}}
                  {{!-- <span class="mt-auto mb-auto">Available: {{available}} {{pairQuote}}</span> --}}
                </p>
              </div>
              <div class="operations__form">
                <form id="limit-form">
                  <div class="form-group row">
                    <label for="operations__price" class="col-sm-2 col-form-label">Price:</label>
                    <div class="col-sm-10">
                      <input id="operations__price_num" type="number" step="0.00000001" min="0.00000001" class="operations__price form-control" key-up="changeLimitPrice">
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__amount" class="col-sm-2 col-form-label">Amount:</label>
                    <div class="col-sm-10">
                      <input type="number" step="1" min="1" class="operations__amount form-control">
                      <span class="operations__input-currency">{{pairBase}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__total" class="col-sm-2 col-form-label">Total:</label>
                    <div class="col-sm-10">
                      <input type="number" min="0.00000001" class="operations__total form-control">
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>
                  <div class="operations__error-field">
                    {{limitErrorMessage}}
                  </div>
                  <div class="form-group row">
                    <div class="col ml-auto mr-auto mt-4">
                      <button {{action "addNewOrder"}} type="submit" class="btn blue-button">{{getOperationType}} {{pairBase}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="market" role="tabpanel" aria-labelledby="operations__market-tab">
              <div class="operations__buy">
                <p class="d-flex justify-content-between">
                  <span class="mt-auto mb-auto">{{getOperationType}} {{pairBase}}</span>

                  {{#if (eq operationType 'buy')}}
                    <span class="mt-auto mb-auto">Available: {{availableQuote}} {{pairQuote}}</span>
                  {{else}}
                    <span class="mt-auto mb-auto">Available: {{availableBase}} {{pairBase}}</span>
                  {{/if}}

                  {{!-- <span class="mt-auto mb-auto ml-auto mr-2">Available:</span>
                  <span class="mt-auto mb-auto">{{availableQuote}} {{pairQuote}}<br>{{availableBase}} {{pairBase}}</span> --}}
                  {{!-- <span class="mt-auto mb-auto">Available: {{available}} {{pairQuote}}</span> --}}
                </p>
              </div>
              <div class="operations__form">
                <form>
                  <div class="form-group row">
                    <label for="operations__price" class="col-sm-2 col-form-label">Price:</label>
                    <div class="col-sm-10">
                      <input type="text" class="operations__price form-control" value="Market price" disabled>
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__amount" class="col-sm-2 col-form-label">Amount:</label>
                    <div class="col-sm-10">
                      <input type="number" step="1" min="1" class="operations__amount form-control">
                      <span class="operations__input-currency">{{pairBase}}</span>
                    </div>
                  </div>

                  <div class="operations__error-field">
                    {{!-- Your balance is not enough --}}
                    {{marketErrorMessage}}
                  </div>

                  <div class="form-group row">
                    <div class="col ml-auto mr-auto mt-5">
                      <button {{action "marketOperation"}} type="submit" class="btn blue-button">{{getOperationType}} {{pairBase}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="stop-limit" role="tabpanel" aria-labelledby="operations__stop-limit-tab">
              <div class="operations__buy">
                <p class="d-flex justify-content-between">
                  <span class="mt-auto mb-auto">{{getOperationType}} {{pairBase}}</span>

                  {{#if (eq operationType 'buy')}}
                    <span class="mt-auto mb-auto">Available: {{availableQuote}} {{pairQuote}}</span>
                  {{else}}
                    <span class="mt-auto mb-auto">Available: {{availableBase}} {{pairBase}}</span>
                  {{/if}}

                  {{!-- <span class="mt-auto mb-auto ml-auto mr-2">Available:</span> --}}
                  {{!-- <span class="mt-auto mb-auto">{{availableQuote}} {{pairQuote}}<br>{{availableBase}} {{pairBase}}</span> --}}
                  {{!-- <span class="mt-auto mb-auto">Available: {{available}} {{pairQuote}}</span> --}}
                </p>
              </div>
              <div class="operations__form">
                <form>
                  <div class="form-group row">
                    <label for="operations__stop" class="col-sm-2 col-form-label">Stop:</label>
                    <div class="col-sm-10">
                      <input type="number" step="0.00000001" min="0.00000001" class="operations__stop form-control">
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__stop" class="col-sm-2 col-form-label">Loss:</label>
                    <div class="col-sm-10">
                      <input type="number" step="0.00000001" min="0.00000001" class="operations__bid-price form-control">
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__limit" class="col-sm-2 col-form-label">Limit:</label>
                    <div class="col-sm-10">
                      <input type="number" step="0.00000001" min="0.00000001" class="operations__limit form-control">
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__amount" class="col-sm-2 col-form-label">Amount:</label>
                    <div class="col-sm-10">
                      <input type="number" step="1" min="1" class="operations__amount form-control">
                      <span class="operations__input-currency">{{pairBase}}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="operations__total" class="col-sm-2 col-form-label">Total:</label>
                    <div class="col-sm-10">
                      <input type="number" min="0.00000001" class="operations__total form-control">
                      <span class="operations__input-currency">{{pairQuote}}</span>
                    </div>
                  </div>


                  <div class="operations__error-field">
                    {{!-- Your balance is not enough --}}
                    {{stopLimitErrorMessage}}
                  </div>


                  <div class="form-group row">
                    <div class="col ml-auto mr-auto mt-5">
                      <button {{action "addNewOrderStopLoss"}} type="submit" class="btn blue-button">{{getOperationType}} {{pairBase}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="market" role="tabpanel" aria-labelledby="operations__market">Market content</div>
            <div class="tab-pane" id="stop-limit" role="tabpanel" aria-labelledby="operations__stop-limit">Stop limit content</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>