<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Indaexchange</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{rootURL}}cdn/bootstrap.min.css" type="text/css" media="all">

    <link rel="stylesheet" href="{{rootURL}}cdn/export.css" type="text/css" media="all">

    <link rel="icon" type="image/png" href="{{rootURL}}ember/favicon.ico">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/indaexchange.css">
    <link rel="stylesheet" href="{{rootURL}}cdn/intlTelInput.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/indaexchange.js"></script>

    {{content-for "body-footer"}}

    <script src="{{rootURL}}cdn/Chart.bundle.min.js"></script>
    <script src="{{rootURL}}cdn/Chart.min.js"></script>

    <script src="{{rootURL}}cdn/plotly-latest.min.js"></script>

    <script src="{{rootURL}}cdn/jquery-3.3.1.slim.min.js"></script>
    <script src="{{rootURL}}cdn/popper.min.js"></script>
    <script src="{{rootURL}}cdn/bootstrap.min.js"></script>


    <script src="{{rootURL}}cdn/intlTelInput.js"></script>
    <script src="{{rootURL}}cdn/utils.js"></script>

    <script src="{{rootURL}}cdn/jquery.mask.min.js"></script>
    <!-- TODO: сшить в один бандл -->


  </body>
</html>
