<div class="row">
  <div class="col-12 col-lg-3 d-flex">
    <div class="shadow-box shadow-box_round-medium">
      <div class="shadow-box__inner shadow-box_menu d-flex justify-content-center {{if (eq method 'exchange') "shadow-box_menu_active"}}"
        {{action "setPaymentMethod" "exchange"}}>
        EXCHANGE
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 d-flex">
    <div class="shadow-box shadow-box_round-medium">
      <div class="shadow-box__inner shadow-box_menu d-flex justify-content-center {{if (eq method 'deposit') "shadow-box_menu_active"}}"
        {{action "setPaymentMethod" "deposit"}}>
        DEPOSIT
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 d-flex">
    <div class="shadow-box shadow-box_round-medium">
      <div class="shadow-box__inner shadow-box_menu d-flex justify-content-center {{if (eq method 'withdrawal') "shadow-box_menu_active"}}"
        {{action "setPaymentMethod" "withdrawal"}}>
        WITHDRAWAL
      </div>
    </div>
  </div>

  <div class="col-12 d-flex">
    <div class="shadow-box shadow-box_round-big mt-0 {{if (not-eq method 'exchange') "d-none"}}">

      <div class="shadow-box__inner shadow-box_gradient shadow-box__inner_wide flex-column {{if (not-eq exchangeStep 1) "d-none"}}">
        <div class="exchange-calculator">
          <form class="exchange-calculator__form mt-4">
            <div class="row">
              <div class="col-6 exchange-calculator__block">
                <div class="form-group row">
                  <div class="col">
                    {{input value=amount name="exchange-calculator__from" type="text" autocomplete="off" placeholder="You have"
                    class="form-control exchange-calculator__from"}}
                    <div class="exchange__currency">
                      {{#power-select
                        renderInPlace=true
                        options=currencyList
                        selected=currencySelected
                        searchEnabled=false
                        onchange=(action "switchCurrency")
                        as |bal|}}
                        <div class="item d-flex justify-content-column">
                          <div class="exchange__symbol currency currency-{{bal.shortName}}"></div>
                          <div class="exchange__full-name">{{bal.fullName}}</div>
                          <div class="exchange__short-name">{{bal.shortName}}</div>
                        </div>
                          {{!-- {{bal}} --}}
                      {{/power-select}}
                    </div>
                    <label for="exchange-calculator__from" class="exchange-calculator__rate col col-form-label d-flex justify-content-between">
                      <span>1 {{currency}} ~ {{currencyPrice}} {{cryptoCurrency}}</span>
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col">
                    <input name="exchange-calculator__to" type="text" placeholder="You get" class="form-control exchange-calculator__to" autocomplete="off">

                    <div class="exchange__cryptocurrency dropdown">

                      <button class="btn btn-block dropdown-toggle exchange__cryptocurrency-value" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BTC
                      </button>

                      <div class="dropdown-menu" aria-labelledby="dropdown_user">
                        <form class="px-2">
                          <i class="search__icon"></i>
                          {{input value=filter type="search" class="form-control search" placeholder="Type a currency..." autocomplete="off" autofocus="autofocus"}}
                        </form>
                        <div class="menuItems">
                          {{#vertical-collection filteredCryptocurrency
                            estimateHeight=32
                            staticHeight=true
                            bufferSize=7
                            renderAll=false
                            as |item i|}}
                            <div {{action "switchCryptoCurrency" item.short_name}} class="dropdown-item d-flex {{if (eq cryptoCurrency item.short_name) "selected"}}">
                              <div class="exchange__cryptocurrency__icon">
                                <span class="sprite sprite-{{item.short_name}}"></span>
                              </div>
                              <div class="exchange__cryptocurrency__short-name">{{item.short_name}}</div>
                              <div class="ml-2 exchange__cryptocurrency__full-name">{{item.name}}</div>
                            </div>
                          {{/vertical-collection}}
                        </div>
                        <div style="display:none;" class="dropdown-header dropdown_empty">No entry found</div>
                      </div>
                    </div>

                    <label for="exchange-calculator__to" class="exchange-calculator__commission col col-form-label d-flex justify-content-between">
                      <span>Commission {{commision}}</span>
                      <span class="align-right">
                        <img src="{{ENV.rootURL}}ember/images/exchange/visa-white.png" style="height: 20px;">
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-6 d-flex flex-column exchange-calculator__block">
                <p class="exchange-calculator__white-text">Amount of cryptocurrency you will get is an approximate
                  value and could differ because of the crypto market high volatility</p>
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <button {{action "nextStep"}} type="submit" class="exchange-calculator__exchange-button btn green-button green-button_large green-button_shadow">Exchange</button>
                  </div>
                </div>
                <div class="exchange-calculator__error-field">
                  {{limitErrorMessage}}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="shadow-box__inner shadow-box__inner_medium flex-column {{if (not-eq exchangeStep 2) "d-none"}}">
        <div class="exchange-form__card">
          <div class="row">
            <div class="col-lg-6">
              <div class="shadow-box__inner shadow-box__inner_medium-left vdivide">
                <div class="row">
                  <div class="col">
                    <form>
                      <div class="form-group row">
                        <label for="exchange-form__birthday" class="col-sm-2 col-form-label">Birthday</label>
                        <div class="col-sm-10">
                          <input type="text" name="exchange-form__birthday" class="exchange-form__input form-control"
                            id="exchange-form__birthday" placeholder="MM/DD/YYYY" required autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exchange-form__phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                          <input type="text" name="exchange-form__phone" class="exchange-form__input form-control" id="exchange-form__phone"
                            required autocomplete="off">
                        </div>
                        <div class="col">
                        </div>
                      </div>
                      {{!-- <div class="form-group row">
                        <label for="exchange-form__sms" class="col-sm-2 col-form-label">Code</label>
                        <div class="col-sm-10">
                          <input type="text" name="exchange-form__sms" placeholder="Enter SMS code" class="exchange-form__input form-control"
                            required>
                        </div>
                        <div class="col">
                        </div>
                      </div> --}}
                      <div class="custom-control custom-checkbox offset-2">
                        <input class="custom-control-input" type="checkbox" name="exchange-form__terms-of-use" id="exchange-form__terms-of-use" autocomplete="off">
                        <label class="custom-control-label" for="exchange-form__terms-of-use">
                          I agree to the <a href="https://indacoin.com/xx_XX/terms-of-use" target="_blank" rel="noopener noreferrer">Terms
                            of Use</a>
                        </label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="shadow-box__inner shadow-box__inner_medium-right">
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <div class="exchange-form__previuos-step">
                      <span {{action "prevStep"}}>Return</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="exchange-form__text mt-3 mb-2">
                      Keep your phone next to you — you will receive a
                      call from Indacoin with the 4-digit code, which
                      should be entered on your order page. The phone
                      number should be associated with your credit card
                      information.
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col d-flex justify-content-center">
                    <button {{action "nextStep"}} type="submit" class="btn green-button green-button_float green-button_large green-button_shadow-light"
                      disabled={{registerPaymentDisabled}}>Next</button>
                  </div>
                </div>
                <div class="exchange-form__error-field mt-3">
                  {{paymentMethodsPhoneErrorMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow-box__inner shadow-box__inner_medium flex-column {{if (not-eq exchangeStep 3) "d-none"}}">
        <div class="exchange-form__card">
          <div class="row">
            <div class="col-lg-6">
              <div class="shadow-box__inner shadow-box__inner_medium-left vdivide">
                <div class="d-flex mb-1">
                  <div class="exchange-form__text">
                    Enter amount:
                  </div>
                </div>
                {{input class="exchange-form__amount exchange-form__input form-control" value=amount
                placeholder="Amount" type="text" autocomplete="off"}}
                {{!-- <input class="exchange-form__amount exchange-form__input form-control" value={{this.amount}}
                  placeholder="Amount" type="text"> --}}
                <span class="exchange-form__currency-label">{{currency}}</span>
                <div class="row">
                  <div class="col">
                    <div class="exchange-form__fee mt-2 mb-2">{{feeMessage}}</div>
                  </div>
                </div>
                <div style="margin-bottom: 16rem;">
                  <div class="row">
                    <div class="col-9">
                      {{!-- TODO: 3 form to 1 --}}
                      <form class="exchange-form__card-front">
                        <img class="exchange-form__card-logo" src="{{ENV.rootURL}}ember/images/exchange/visa-white.png"
                          style="height: 23px;" alt="Card">
                        <div class="form-group">
                          <label for="exchange-form__card-number">CARD NUMBER</label>
                          <input type="text" class="exchange-form__card-input form-control" name="exchange-form__card-number"
                            id="exchange-form__card-number" placeholder="XXXX       XXXX       XXXX       XXXX"
                            required autocomplete="off">
                        </div>
                        <div class="form-group row">
                          <div class="col-8 pr-1">
                            <label for="exchange-form__full-name">FULL NAME</label>
                            <input type="text" class="exchange-form__card-input form-control" name="exchange-form__full-name"
                              id="exchange-form__full-name" placeholder="XXXXXX   XXXXXX" required autocomplete="off">
                          </div>
                          <div class="col-4 pl-2">
                            <label for="exchange-form__valid_thru">VALID THRU</label>
                            <input type="text" class="exchange-form__card-input form-control" name="exchange-form__valid_thru"
                              id="exchange-form__valid_thru" placeholder="__/__" maxlength="5" required autocomplete="off">
                          </div>
                        </div>
                      </form>
                      <form class="exchange-form__card-back">
                        <div class="exchange-form__card-back_line row mt-2" style="height: 48px; background: #04bdfa;"></div>
                        <div class="form-group row mt-3">
                          <div class="col-4 ml-auto">
                            <input type="password" class="exchange-form__card-input form-control" name="exchange-form__cvc"
                              id="exchange-form__cvc" placeholder="CVC" maxlength="3" autocomplete="off" required autocomplete="off">
                            <label for="exchange-form__cvc">Digits on the back of the card</label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="shadow-box__inner shadow-box__inner_medium-right">
                <div class="row">
                  <div class="col">
                    <div class="exchange-form__previuos-step">
                      <span {{action "prevStep"}}>Return</span>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6 d-flex justify-content-start">
                    Commision
                  </div>
                  <div class="exchange-form__commision-value col-6 d-flex justify-content-end">
                    {{commision}}
                  </div>
                </div>
                <hr class="exchange-form__line">
                <div class="row">
                  <div class="col-6 d-flex justify-content-start">
                    Total amount
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    {{totalAmount.text}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="exchange-form__text mt-3 mb-2">
                      It's the easiest way to add funds to your account
                      (your payment will be processed within a few minutes).
                      Your card should support secure technology Mastercard®
                      SecureCode™ or Verified by Visa
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col d-flex justify-content-center">
                    <button {{action "registerPayment"}} type="submit" class="btn green-button green-button_float green-button_large green-button_shadow-light"
                      disabled={{registerPaymentDisabled}}>Pay {{totalAmount.text}}</button>
                  </div>
                </div>
                <div class="exchange-form__error-field mt-3">
                  {{paymentMethodsErrorMessage}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow-box shadow-box_round-medium mt-0 {{if (not-eq method 'deposit') "d-none"}}">
      <div class="shadow-box__inner shadow-box__inner_wide d-flex flex-column">
        <div class="exchange-form__cryptocurrency">
          <div class="row">
            <div class="col-3">
              <img class="exchange-form__qrcode" alt="QR-code" src="{{qrCodeLink}}">
            </div>
            <div class="col-5">

              <select class="form-control">
                <option>BTC - Bitcoin</option>
                <option>ETH - Ethereum</option>
                <option>LTC - Litecoin</option>
                <option>LXC - Librexcoin</option>
              </select>

              <div class="exchange-form__text mt-3">BTC Deposit Address: </div>
              <div class="exchange-form__wallet mt-1 mb-2">{{crypto-address.wallet}}</div>

              {{!-- <span class="exchange-form__copy">Copy address</span> --}}

              {{#if copiedToClipboard}}
              <span class="exchange-form__copy exchange-form__copy_copied">Address copied</span>
              {{else}}
              <span class="exchange-form__copy" {{action "copy"}}>Copy address</span>
              {{/if}}


              <div class="exchange-form__text">Only send bitcoin to this address.</div>
              <div class="exchange-form__text">All other currencies could be lost permamently when sending</div>

              <div class="row mt-3">
                <div class="col d-flex justify-content-left">
                  <button {{action "generateNewAddress"}} type="submit" class="btn green-button green-button_float">Generate
                    new address</button>
                </div>
              </div>

            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6 d-flex justify-content-left">
                  Total balance
                </div>
                <div class="col-6 d-flex justify-content-left">
                  0.00000007 BTC
                </div>
              </div>
              <hr class="exchange-form__line">
              <div class="row">
                <div class="col-6 d-flex justify-content-left">
                  Pending
                </div>
                <div class="col-6 d-flex justify-content-left">
                  0.00000007 BTC
                </div>
              </div>
              <hr class="exchange-form__line">
              <div class="row">
                <div class="col-6 d-flex justify-content-left">
                  Available balance
                </div>
                <div class="col-6 d-flex justify-content-left">
                  0.00000007 BTC
                </div>
              </div>
              <hr class="exchange-form__line">
              <div class="row">
                <div class="col-6 d-flex justify-content-left">
                  Comission
                </div>
                <div class="col-6 d-flex justify-content-left">
                  2.5%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow-box shadow-box_round-medium mt-0 {{if (not-eq method 'withdrawal') "d-none"}}">
      <div class="shadow-box__inner shadow-box__inner_wide d-flex flex-column">
        <div class="trading-withdrawal">
          withdrawal
        </div>
      </div>
    </div>
  </div>
</div>