{{#if currentlyLoading}}
  <div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0;">
    <div class="d-flex justify-content-center" style="height: 100%;">
      <div class="d-flex align-self-center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 d-flex">
        <div class="shadow-box">
          <div class="shadow-box__inner d-flex flex-column">
            <section class="balance">
              <h2 class="block__header">
                {{t 'exchange.balance'}}
              </h2>
              <div class="balance__middle d-flex">
                <div class="row">
                  <div class="col-md-5">
                    {{funds/balance/balances-chart balance=balance currency=model.currency}}
                  </div>
                  <div class="col-md-7">
                    <div class="row mb-4">
                      <div class="col-md-6">{{totalPrice}}</div>
                      {{!-- <div class="col-md-6">
                        5.94 USD ≈ 0.0009
                      </div> --}}


                      <div class="col-md-6">
                        {{#power-select
                          renderInPlace=true
                          selected=cryptocurrency
                          options=cryptocurrencyList
                          searchEnabled=false
                          onchange=(action "switchCurrency")
                          as |bal|}}
                            {{bal}}
                        {{/power-select}}
                      </div>


                      {{!-- <div class="col-md-6">
                        {{#power-select
                          selected=bal.currency
                          options=balance
                          searchEnabled=false
                          onchange=(action "switchCurrency")
                          as |bal|}}
                            {{bal.currency}}
                        {{/power-select}}
                      </div> --}}


                        {{!-- {{#power-select
                          selected=destination
                          options=cities
                          onchange=(action "chooseDestination")
                          as |name|
                        }}
                          {{name}}
                        {{/power-select}} --}}


                      {{!-- <div class="col-md-6">
                        <select class="form-control" onchange={{action 'switchCurrency' value="target.value"}}>
                          {{#each balance as |item|}}
                            <option value="{{item.currency}}">{{item.currency}}</option>
                          {{/each}}
                        </select>
                      </div> --}}
                    </div>
                    <div class="row">

                      {{#each balance as |item|}}
                        <div class="balance__crypto balance__crypto_color col-md-6 mb-1">{{item.currency}}</div>
                      {{/each}}

                    </div>
                  </div>
                </div>
              </div>
              
              <div class="balance__bottom">{{exchangeRate}}</div>
              {{!-- <div class="balance__bottom">
                Current exchange rate: BTC/USD=6602.6
              </div> --}}
            </section>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 d-flex">
        <div class="shadow-box">
          <div class="shadow-box__inner d-flex flex-column">
            <section class="top-markets">
              <h2 class="block__header">
                {{t 'exchange.top-markets.title'}}
              </h2>
              <div class="row">
                <div class="col-md-12">
                  <table class="currency-table table table-borderless table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>{{t 'exchange.top-markets.market'}}</th>
                        <th>{{t 'exchange.top-markets.change'}}</th>
                        <th>{{t 'exchange.top-markets.total'}}</th>
                        <th>{{t 'exchange.top-markets.volume'}}</th>
                        <th>{{t 'exchange.top-markets.high'}}</th>
                        <th>{{t 'exchange.top-markets.low'}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span class="sprite sprite-BTC"></span>
                        </td>
                        <td>ETN/BTC</td>
                        <td class="top-markets_negative">-2.14%</td>
                        <td>45.84712321</td>
                        <td>0.58379</td>
                        <td>0.58379</td>
                        <td>0.58379</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="sprite sprite-DOGE"></span>
                        </td>
                        <td>DOGE/BTC</td>
                        <td class="top-markets_negative">-11.04%</td>
                        <td>24.548379</td>
                        <td>0.84379</td>
                        <td>0.84379</td>
                        <td>0.84379</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="sprite sprite-XEM"></span>
                        </td>
                        <td>NEM/BTC</td>
                        <td>0.9%</td>
                        <td>47.58379</td>
                        <td>0.879</td>
                        <td>0.879</td>
                        <td>0.879</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="sprite sprite-DASH"></span>
                        </td>
                        <td>DASH/BTC</td>
                        <td>1.97%</td>
                        <td>45.84758379</td>
                        <td>111124758379</td>
                        <td>0.475379</td>
                        <td>0.4758379</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <section class="asset-portfolio">
      <div class="row ml-4">
        <div class="col">
          <h2 class="block__header">
            {{t 'exchange.asset-portfolio.title'}}
          </h2>
        </div>
      </div>
      <form>
        <div class="row ml-4">
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <div class="col-md-3">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
              Hide small assets
            </label>
          </div>
          <div class="asset-portfolio__info col-md-3 mr-4 ml-auto">
            <p>Asset change history</p>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <div class="shadow-box">
            <div class="shadow-box__inner d-flex flex-column">
              <table class="currency-table table table-borderless table-hover">
                <thead>
                  <tr>
                    <th>{{t 'exchange.asset-portfolio.coins'}}</th>
                    <th>{{t 'exchange.asset-portfolio.amount'}}</th>
                    <th>{{t 'exchange.asset-portfolio.frozen'}}</th>
                    <th>{{t 'exchange.asset-portfolio.available'}}</th>
                    <th>{{t 'exchange.asset-portfolio.market-value'}}</th>
                    <th style="width: 170px;">{{t 'exchange.asset-portfolio.operation'}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-BCH"></span>
                      <span class="asset-portfolio__short-name">BCH</span>
                      <span class="asset-portfolio__full-name">Bitcoin Cash</span>
                    </td>
                    <td>0.1788934</td>
                    <td>0.94512</td>
                    <td>0.124556</td>
                    <td>6184926.12 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-BTC"></span>
                      <span class="asset-portfolio__short-name">BTC</span>
                      <span class="asset-portfolio__full-name">Bitcoin</span>
                    </td>
                    <td>0.1784</td>
                    <td>7.942323512</td>
                    <td>0.12423556</td>
                    <td>19.80 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-LTC"></span>
                      <span class="asset-portfolio__short-name">LTC</span>
                      <span class="asset-portfolio__full-name">Litecoin</span>
                    </td>
                    <td>22.134</td>
                    <td>19.93232312</td>
                    <td>0.556</td>
                    <td>341221.13 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-XRP"></span>
                      <span class="asset-portfolio__short-name">XRP</span>
                      <span class="asset-portfolio__full-name">Ripple</span>
                    </td>
                    <td>0.00178238934</td>
                    <td>0.00094512</td>
                    <td>0.000000124556</td>
                    <td>0.02 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-BCH"></span>
                      <span class="asset-portfolio__short-name">BCH</span>
                      <span class="asset-portfolio__full-name">Bitcoin Cash</span>
                    </td>
                    <td>0.1788934</td>
                    <td>0.94512</td>
                    <td>0.124556</td>
                    <td>6184926.12 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-BTC"></span>
                      <span class="asset-portfolio__short-name">BTC</span>
                      <span class="asset-portfolio__full-name">Bitcoin</span>
                    </td>
                    <td>0.1784</td>
                    <td>7.942323512</td>
                    <td>0.12423556</td>
                    <td>19.80 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-LTC"></span>
                      <span class="asset-portfolio__short-name">LTC</span>
                      <span class="asset-portfolio__full-name">Litecoin</span>
                    </td>
                    <td>22.134</td>
                    <td>19.93232312</td>
                    <td>0.556</td>
                    <td>341221.13 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-XRP"></span>
                      <span class="asset-portfolio__short-name">XRP</span>
                      <span class="asset-portfolio__full-name">Ripple</span>
                    </td>
                    <td>0.00178238934</td>
                    <td>0.00094512</td>
                    <td>0.000000124556</td>
                    <td>0.02 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex justify-content-left">
                      <span class="asset-portfolio__icon sprite sprite-BCH"></span>
                      <span class="asset-portfolio__short-name">BCH</span>
                      <span class="asset-portfolio__full-name">Bitcoin Cash</span>
                    </td>
                    <td>0.1788934</td>
                    <td>0.94512</td>
                    <td>0.124556</td>
                    <td>6184926.12 USD</td>
                    <td class="d-flex justify-content-around">
                      <a href="#">Deposit</a>
                      <a href="#">Withdraw</a>
                      <a href="#">Trade</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{/if}}