{{#if currentlyLoading}}
  <div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0;">
    <div class="d-flex justify-content-center" style="height: 100%;">
      <div class="d-flex align-self-center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">

    {{funds/deposit/payment-methods qrCodeLink=qrCodeLink crypto-address=crypto-address}}

    <div class="row">
      <div class="col">
        <h2 class="block__header ml-4 mt-3">History</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex">
        <div class="shadow-box mt-0">
          <div class="shadow-box__inner d-flex flex-column">
            <section class="deposit-history">
              <div class="table-wrapper">
                <table class="currency-table table table-borderless table-hover">
                  <thead>
                    <tr>
                      <th>Deposit time</th>
                      <th style="width: 270px;">Amount</th>
                      <th>Deposit address</th>
                      <th>TXID</th>
                      <th>Method</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  {{#vertical-collection
                      model.history-user
                      estimateHeight=38
                      staticHeight=true
                      bufferSize=7
                      renderAll=false
                      containerSelector=".deposit-history .table-wrapper"
                      tagName="tbody"
                      as |record i|}}
                        <tr>
                          <td>{{record.date}}</td>
                          <td>{{record.total}} {{record.total_cur}} via {{t (concat "cash-in." record.typeId) }}</td>
                          <td>{{if record.add_info record.add_info "—"}}</td>
                          <td>{{record.txid}}</td>
                          <td>{{record.operation_type}}</td>
                          <td>{{t (concat "deposit.statuses." record.status) }}</td>
                        </tr>
                  {{/vertical-collection}}
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

  </div>


  {{!-- TODO: delete css assets files --}}

  {{!-- <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-flex">
        <div class="shadow-box">
          <div class="shadow-box__inner d-flex flex-column">
            <section class="deposit">
              <div class="row">
                <div class="col-6">
                  <h2 class="block__header">
                    {{t 'funds.deposit.title'}}
                  </h2>
                </div>
                <div class="col-6">
                  <select class="form-control">
                    <option>BTC</option>
                    <option>ETH</option>
                    <option>LTC</option>
                    <option>LXC</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="deposit__address mt-3">
                    <p>
                      <span>BTC Address: </span>
                      <span>{{crypto-address.wallet}}</span>
                    </p>
                    <div class="col ml-auto">
                        <img alt="QR-code" src="{{qrCodeLink}}">
                    </div>
                    <div class="deposit__copy-address">
                      <div class="row">
                        <div class="col-lg-6 m-auto">
                          <button type="submit" class="white-button">Copy address</button>
                        </div>
                      </div>
                    </div>
                    <div class="deposit__pending">
                      <div class="row">
                        <div class="col-4 d-flex justify-content-left">
                          Total balance
                        </div>
                        <div class="col-8 d-flex justify-content-left">
                          0.00000007 BTC
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4 d-flex justify-content-left">
                          Pending
                        </div>
                        <div class="col-8 d-flex justify-content-left">
                          0.00000007 BTC
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4 d-flex justify-content-left">
                          Available balance
                        </div>
                        <div class="col-8 d-flex justify-content-left">
                          0.00000007 BTC
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-lg-11">
                        <div class="balance__confirmations">
                          <p>Coins will be deposited immediately after 2 network confirmations After making a deposit, you can track its progress on the history page.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex">
        <div class="shadow-box">
          <div class="shadow-box__inner">
            <section class="history">
              <h2 class="block__header">
                {{t 'funds.history.title'}}
              </h2>
              <div class="row">
                <div class="col-md-12">
                  <table class="currency-table table table-borderless table-hover">
                    <thead>
                      <tr>
                        <th>Deposit time</th>
                        <th>Amount (BTC)</th>
                        <th>Deposit address</th>
                        <th>Status</th>
                        <th>TXID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                      <tr>
                        <td>2018.07.03 23:15</td>
                        <td>0.00000007 BTC</td>
                        <td>1GV99sFH21cD92uHhySQKf1e2PWvtbRtP1</td>
                        <td>Completed</td>
                        <td>je3DxkD5d1mD</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
{{/if}}