<div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0;">
  <div class="d-flex justify-content-center" style="height: 100%;">
    <div class="d-flex align-self-center">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>