{{#if currentlyLoading}}
  <div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0;">
    <div class="d-flex justify-content-center" style="height: 100%;">
      <div class="d-flex align-self-center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-flex">
        <div class="shadow-box">
          <div class="shadow-box__inner d-flex flex-column">
            {{funds/withdrawal/withdrawal-form balance=balance currency=model.currency}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex">
        <div class="shadow-box">
          <div class="shadow-box__inner d-flex flex-column">
            <section class="history">
              <h2 class="block__header">
                {{t 'funds.history.title'}}
              </h2>
              <div class="row">
                <div class="col-md-12">
                  <section class="withdrawal-history">
                    <div class="table-wrapper">
                      <table class="currency-table table table-borderless table-hover">
                        <thead>
                          <tr>
                            <th>Deposit time</th>
                            <th>Amount</th>
                            <th>Method</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        {{#vertical-collection
                            model.history-user
                            estimateHeight=38
                            staticHeight=true
                            bufferSize=7
                            renderAll=false
                            containerSelector=".withdrawal-history .table-wrapper"
                            tagName="tbody"
                            as |record i|}}
                              <tr>
                                <td>{{record.date}}</td>
                                <td>{{record.total}} {{record.total_cur}}</td>
                                <td>{{record.operation_type}}</td>
                                <td>{{t (concat "deposit.statuses." record.status) }}</td>
                              </tr>
                        {{/vertical-collection}}
                      </table>
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}