<section class="trades">
  <div class="row mt-3">
    <div class="col d-flex">
      <div class="container-box d-flex flex-column">
        <h1 class="block__header">Trades</h1>
          <form id="trades__form">
            <div class="form-group row">
              <label for="withdrawal__address" class="col-1 col-form-label">From:</label>
              <div class="col-3">
                {{#power-select
                  renderInPlace=true
                  selected=cryptocurrency
                  options=cryptocurrencyList
                  searchEnabled=false
                  onchange=(action "switchCurrency")
                  as |bal|}}
                    {{bal}}
                {{/power-select}}
              </div>
              <div class="col-3">
                <input name="trades__amount-in" type="text" class="form-control" id="trades__amount-in">
              </div>
              <label for="withdrawal__address" class="col-2 col-form-label">{{bal.currency}}</label>
            </div>
            <div class="form-group row">
              <label for="withdrawal__address" class="col-1 col-form-label">To:</label>
              <div class="col-3">


                {{!-- {{#power-select
                  options=currency
                  selected=item
                  onchange=(action (mut item))
                  as |item|}}
                    {{item.name}} ({{item.short_name}})
                {{/power-select}} --}}





                <div class="trades__cryptocurrency dropdown">
                  <button class="btn btn-sm btn-light btn-block dropdown-toggle trades__cryptocurrency-value" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Bictoin (BTC)
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdown_user">
                      <form class="px-2 py-1">
                          {{input value=filter type="search" class="form-control search"  placeholder="Search..." autofocus="autofocus"}}
                      </form>
                      <div class="menuItems">
                          {{!-- <input type="button" class="dropdown-item" type="button" value="Test1">
                          <input type="button" class="dropdown-item" type="button" value="Test2">
                          <input type="button" class="dropdown-item" type="button" value="Test3"> --}}

                        {{#vertical-collection filteredCryptocurrency
                          estimateHeight=32
                          staticHeight=true
                          bufferSize=7
                          renderAll=false
                          as |item i|}}
                          <input type="button" class="dropdown-item" type="button" value="{{item.name}} ({{item.short_name}})">
                        {{/vertical-collection}}

                      </div>
                      <div style="display:none;" class="dropdown-header dropdown_empty">No entry found</div>
                  </div>
                </div>



          {{!-- <div class="selectpicker" id="selectpicker" data-live-search="true">
            {{#vertical-collection currency
              containerSelector=".bootstrap-select"
              tagName="ul"
              occlusionTagName="selectpicker"
              shouldRecycle=false
              estimateHeight=20
              staticHeight=true
              bufferSize=7
              renderAll=false
              as |item i|}}
              <option data-tokens="{{item.short_name}}">{{item.name}} ({{item.short_name}})</option>
            {{/vertical-collection}}
          </div> --}}









                {{!-- {{#power-select
                  options=currency
                  selected=item
                  onchange=(action (mut item))
                  as |item|}}
                    {{item.name}} ({{item.short_name}})
                {{/power-select}} --}}
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="trades__amount-out" disabled>
              </div>
              <label for="withdrawal__address" class="col-1 col-form-label">{{item.name}}</label>
            </div>
            <div class="form-group row">
              <div class="col-3 offset-2">
                <button {{action 'createOrderEx'}} type="submit" class="btn blue-button">Exchange</button>
              </div>
            </div>
          </form>
          <p>Market fee 3% is included</p>
      </div>
    </div>
  </div>
</section>