<form id="phone-verification-form" class="mt-3">
  <div class="form-group row">
    <label for="phone-verification-form__code" class="col-2 col-form-label">Code from autodealer</label>
    <div class="col-2">
      <input type="text" class="phone-verification-form__code form-control" key-up="changeLimitPrice">
    </div>
    <div class="col-2">
      <button {{action "checkPhoneAuthCode"}} type="submit" class="btn blue-button">Submit</button>
    </div>
    <div class="col-3">
      <p class="align-middle">Attemps: {{phoneVerification.attemptsAuthorizationCode}}</p>
    </div>
  </div>
</form>