<div class="container">
  <section class="cards">

    <div class="row mt-3">
      <div class="col d-flex">
        <div class="container-box d-flex flex-column">
          <h1 class="block__header">Verification</h1>
          <p>We accept only 3D-Secured bankcards (Verified by Visa or MasterCard SecureCode). If it is the first time you use the card, you will first have to enter a secret code, which could be found on your bank statement and then enter a code that will be sent to your mobile phone number.</p>
        </div>
      </div>
    </div>

    {{#if phoneVerification}}
      {{cards/phone-verification phoneVerification=phoneVerification}}
    {{/if}}

    <div class="row">
      <div class="col d-flex">
        <div class="container-box d-flex flex-column">
          <table class="currency-table table table-borderless table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th style="width: 60px;"></th>
                <th>Card number</th>
                <th>Limit</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each model.cards as |record|}}
                <tr>
                  <td>{{record.created_at}}</td>
                  <td><span class="sprite-{{record.card_type}}"></span></td>
                  <td>{{record.card_number}}</td>
                  <td>{{record.limit_remain}}</td>
                  <td>{{record.status_string}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
