<div class="container">
  <section class="error-page">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center mt-5">
          <h1 class="error-page__header block__header">Error</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <h1 class="error-page__header block__header block__header_small">Something was broke or you are not autorize</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <a  class="error-page__link" style="font-size: 30px;" href="https://indacoin.com/xx_XX/login">Please, login\signup</a>
        </div>
      </div>
    </div>
  </section>
</div>