{{#if currentlyLoading}}
  <div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0;">
    <div class="d-flex justify-content-center" style="height: 100%;">
      <div class="d-flex align-self-center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <section class="exchange">
      <div class="row">
        <div class="col-12 d-flex">
          <div class="shadow-box shadow-box_round-big">
            <div class="shadow-box__inner d-flex flex-column">

              <section class="exchange-balance">
                <div class="row">
                  <div class="col-3">
                    <h2 class="block__header">
                      {{t 'exchange.balance'}}
                    </h2>
                    <div class="exchange-balance__chart d-flex justify-content-center">
                      {{funds/balance/balances-chart balance=balance currency=model.currency}}
                    </div>
                  </div>
                  <div class="col-9 pr-5">
                    <div class="row">
                      <div class="exchange-balance__info">
                        Wallet amount ≈ {{balanceList.total}} USD
                      </div>
                    </div>
                    <div class="row">
                      <table class="currency-table table table-borderless table-hover">
                        <thead>
                          <tr>
                            <th></th>
                            <th class="text-right">Name</th>
                            <th>USD eq.</th>
                            <th>Price</th>
                            <th>1d</th>
                            <th>7d</th>
                            <th>1m</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{#each balanceList.list as |item|}}
                          <tr>
                            <td class="exchange-balance__crypto exchange-balance__crypto_color d-flex justify-content-left">
                              <span>{{item.amount}} {{item.shortName}}</span>
                            </td>
                            <td class="text-right">{{if item.name item.name item.shortName}}</td>
                            <td class="{{if item.usdEq "font-weight-bold"}}">{{if item.usdEq (concat "$" item.usdEq) "—"}}</td>
                            <td class="{{if item.price "font-weight-bold"}}">{{if item.price (concat "$" item.price) "—"}}</td>
                            <td>{{if item.changeDay (concat item.changeDay "%") "—"}}</td>
                            <td>{{if item.changeWeek (concat item.changeWeek "%") "—"}}</td>
                            <td>{{if item.changeMonth (concat item.changeMonth "%") "—"}}</td>
                          </tr>
                        {{/each}}


                          {{!-- <tr>
                            <td class="exchange-balance__crypto exchange-balance__crypto_color d-flex justify-content-left">
                              <span>1.07 BTC</span>
                            </td>
                            <td class="text-right">Dash</td>
                            <td class="font-weight-bold">$123</td>
                            <td class="{{if item.price "font-weight-bold"}}">$123.12</td>
                            <td>123%</td>
                            <td>-0.56%</td>
                            <td>50%</td>
                          </tr> --}}


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>

    {{exchange/exchange-operations}}

    <div class="row">
      <div class="col">
        <h2 class="block__header block__header_regular ml-4 mt-3">History</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex">
        <div class="container-box container-box_border-less d-flex flex-column mt-0">
          <section class="exchange-history">
            <div class="table-wrapper">
              <table class="currency-table table table-borderless table-hover">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th style="width: 270px;">Amount</th>
                    <th>Deposit address</th>
                    <th>TXID</th>
                    <th>Method</th>
                    <th>Status</th>
                  </tr>
                </thead>
                {{#vertical-collection
                    model.history-user
                    estimateHeight=38
                    staticHeight=true
                    bufferSize=7
                    renderAll=false
                    containerSelector=".exchange-history .table-wrapper"
                    tagName="tbody"
                    as |record i|}}
                      <tr>
                        <td>{{record.date}}</td>
                        <td>{{record.total}} {{record.total_cur}} via {{t (concat "cash-in." record.typeId) }}</td>
                        <td>{{if record.add_info record.add_info "—"}}</td>
                        <td>{{record.txid}}</td>
                        <td>{{record.operation_type}}</td>
                        <td>{{t (concat "deposit.statuses." record.status) }}</td>
                      </tr>
                {{/vertical-collection}}
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>

    </section>
  </div>
{{/if}}