{{!-- <div class="row">
  <div class="col-12 d-flex">
    <div class="shadow-box mt-0">
      <div class="shadow-box__inner d-flex flex-column">
        asdasdasd
      </div>
    </div>
  </div>
</div> --}}

<div class="container">
  <section class="login d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <div class="shadow-box shadow-box_round-big">
          <div class="shadow-box__inner d-flex flex-column">
            asdasd
          </div>
        </div>
      </div>
    </div>
  </section>
</div>