<div class="container">
  <h1>Orders</h1>
  <div class="row">
    <div class="col-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt soluta sequi nulla, minus illo alias fuga molestiae facere. Reprehenderit amet cum sequi maiores minima quisquam, impedit quos ex consequatur.
      Culpa est possimus placeat id dolor iure ad facere, magni beatae tempore consectetur soluta aut. Porro possimus, rerum incidunt vel at, deleniti quaerat perspiciatis ut voluptatibus voluptate doloremque laborum pariatur!
      Dolore ratione delectus, tempore nostrum non atque earum tempora nesciunt temporibus labore, nihil debitis facilis ad impedit quo libero repudiandae officiis. Voluptatum exercitationem molestias vero cum optio error nulla! Cumque.
    </div>
    <div class="col-sm">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum porro incidunt natus ipsum ad recusandae fuga, vitae suscipit sed quae aspernatur laborum maxime unde dicta tenetur obcaecati sit dolorum architecto!
      Fugiat enim soluta, dolore eveniet deserunt quas ratione nesciunt officia id ducimus esse culpa exercitationem mollitia et tempore ipsa quia consequatur quo aliquid minima ex accusantium possimus! Enim, odit dolorem.
      Corrupti nesciunt aliquid consectetur error, illum velit totam veritatis repellendus officia distinctio, magnam aliquam ut labore, hic odio optio eaque sit voluptate eos beatae sequi vitae! Dicta obcaecati nam voluptatem.
    </div>
  </div>
</div>