{{!-- Modal added --}}
{{!-- <button {{action (action "toggleModal")}}>Toggle Modal</button> --}}

{{#if isShowingDeleteQuestion}}
  {{#modal-dialog
      onClose=(action (mut isShowingDeleteQuestion) false)
      hasOverlay=false
      clickOutsideToClose=false
  }}
    <h1>Question</h1>
    <p>Delete order #</p>
    <button onclick={{action (mut isShowingDeleteQuestion) false}}>Close</button>
  {{/modal-dialog}}
{{/if}}

{{#if currentlyLoading}}
  <div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0;">
    <div class="d-flex justify-content-center" style="height: 100%;">
      <div class="d-flex align-self-center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="exchange-page container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="row">
          <div class="col">
            <section class="prices">
              <div class="container-box container-box_compact d-flex flex-column">
                <div class="row">
                  <div class="col-md-12">
                    <div class="prices__table-begin">
                      {{#if orderbookSpinner}}
                          {{!-- Loading spinner --}}
                          <div class="d-flex justify-content-center h-100">
                            <div class="d-flex align-self-center">
                              <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                          </div>
                      {{else}}
                        <div class="table-wrapper">
                          <table class="currency-table currency-table_pointer-cursor currency-table_compact currency-table_hover-pink table table-borderless table-hover">
                            <thead>
                              <tr>
                                <th>Price {{pairQuote}}</th>
                                <th>Amount {{pairBase}}</th>
                                <th>Total {{pairQuote}}</th>
                              </tr>
                            </thead>
                            {{#if chartData.decreasing}}
                              {{#vertical-collection
                                  chartData.decreasing
                                  estimateHeight=27
                                  staticHeight=true
                                  bufferSize=7
                                  renderAll=false
                                  containerSelector=".prices__table-begin .table-wrapper"
                                  tagName="tbody"
                                  as |record i|}}
                                    <tr {{action 'setPrice' record.price}}>
                                      <td>{{record.price}}</td>
                                      <td>{{record.base_amount}}</td>
                                      <td>{{record.quote_amount}}</td>
                                    </tr>
                              {{/vertical-collection}}
                            {{else}}
                            <tbody>
                              <tr class="currency-table__no-data">
                                <td colspan="3">No have open orders</td>
                              </tr>
                            </tbody>
                            {{/if}}
                          </table>
                        </div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>

              {{#if orderbookSpinner}}
                <div class="prices__change d-flex justify-content-center">
                  <div class="row">
                    <div class="col">Loading...</div>
                  </div>
                </div>
              {{else}}
                {{#if orderBookLastPrice}}
                  <div class="prices__change d-flex justify-content-center">
                    <div class="row">
                      <div class="col-5">
                        <div class="d-flex justify-content-end">
                          {{#if (eq orderBookLastPrice.type 'bid')}}
                            <span class="prices__change_decreasing mt-auto mb-auto">{{orderBookLastPrice.price}}</span>
                          {{else}}
                            <span class="prices__change_increasing mt-auto mb-auto">{{orderBookLastPrice.price}}</span>
                          {{/if}}
                        </div>
                      </div>
                      <div class="col-1">
                        <div class="prices__arrow d-flex justify-content-center">
                          {{#if (eq orderBookLastPrice.type 'bid')}}
                            <img src="{{ENV.rootURL}}ember/images/exchange/arrow-up.png">
                          {{else}}
                            <img src="{{ENV.rootURL}}ember/images/exchange/arrow-down.png">
                          {{/if}}
                        </div>
                      </div>
                      <div class="col-5 mt-auto mb-auto d-flex justify-content-start">
                        <span class="prices__change_amount">$&nbsp;{{orderBookLastPrice.fee_amount}}</span>
                      </div>
                    </div>
                  </div>
                {{else}}
                  <div class="prices__change d-flex justify-content-center">
                    <div class="row">
                      <div class="col">&mdash;</div>
                    </div>
                  </div>
                {{/if}}
              {{/if}}

              <div class="payment-methods__content container-box container-box_compact d-flex flex-column mt-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="prices__table-end">
                      {{#if orderbookSpinner}}
                          {{!-- Loading spinner --}}
                          <div class="d-flex justify-content-center h-100">
                            <div class="d-flex align-self-center">
                              <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                          </div>
                      {{else}}
                        <div class="table-wrapper">
                          <table class="currency-table currency-table_compact currency-table_pointer-cursor currency-table_hover-blue table table-borderless table-hover">
                            {{#if chartData.increasing}}
                              {{#vertical-collection
                                chartData.increasing
                                estimateHeight=27
                                staticHeight=true
                                bufferSize=7
                                renderAll=false
                                containerSelector=".prices__table-end .table-wrapper"
                                tagName="tbody"
                                as |record i|}}
                                  <tr {{action 'setPrice' record.price}}>
                                    <td>{{record.price}}</td>
                                    <td>{{record.base_amount}}</td>
                                    <td>{{record.quote_amount}}</td>
                                  </tr>
                              {{/vertical-collection}}
                            {{else}}
                              <tbody>
                                <tr class="currency-table__no-data">
                                  <td colspan="3">No have open orders</td>
                                </tr>
                              </tbody>
                            {{/if}}
                          </table>
                        </div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <section class="currency-chart">
          <div class="box" style="margin: 25px 0 10px;">
            <div class="currency-chart__header">
              <div class="row">
                <div class="col" style="height: 60px; padding: 0; background-color: #f7f7f7;">
                  <div class="row h-100">
                    <div class="col-2">
                      <div class="d-flex justify-content-center h-100">
                        <div class="currency-chart__pair d-flex mt-auto mb-auto">
                          <span class="sprite sprite-{{pairQuote}} mt-auto mb-auto mr-3"></span>
                          <span>{{chartPair}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="d-flex justify-content-center h-100">
                        <div class="currency-chart__last-price d-flex flex-column mt-auto mb-auto">
                          <p class="mb-0">
                            {{#if orderBookLastPrice}}
                              <span class="mr-3">{{orderBookLastPrice.price}}</span>
                              <span>$&nbsp;{{orderBookLastPrice.fee_amount}}</span>
                            {{else}}
                              &#8211;
                            {{/if}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-2">
                      <div class="d-flex justify-content-center h-100">
                        <div class="currency-chart__low d-flex flex-column mt-auto mb-auto">
                          <span>24h change</span>
                          <span>
                            {{#if tickerInfo.high}}
                              {{tickerInfo.high}}
                            {{else}}
                              &#8211;
                            {{/if}}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-2">
                      <div class="d-flex justify-content-center h-100">
                        <div class="currency-chart__low d-flex flex-column mt-auto mb-auto">
                          <span>24h low</span>
                          <span>
                            {{#if tickerInfo.low}}
                              {{tickerInfo.low}}
                            {{else}}
                              &#8211;
                            {{/if}}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-2">
                      <div class="d-flex justify-content-center h-100">
                        <div class="currency-chart__low d-flex flex-column mt-auto mb-auto">
                          <span>24h Volume/Value</span>
                          <span>&#8211;</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-1 ml-auto">
                      <div class="d-flex justify-content-center h-100">
                        <div class="currency-chart__theme d-flex mt-auto mb-auto">
                          <a href="#" class="mr-4">
                            <img src="{{ENV.rootURL}}ember/images/exchange/moon.png" alt="Dark themen">
                          </a>
                          <a href="#">
                            <img src="{{ENV.rootURL}}ember/images/exchange/sun.png" alt="Light theme">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box" style="margin-bottom: 10px; height: 330px;  padding: 0;">
            <div class="currency-chart__body h-100 w-100">
              {{#if pairSpinner}}
                  {{!-- Loading spinner --}}
                  <div class="d-flex justify-content-center h-100">
                    <div class="d-flex align-self-center">
                      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                  </div>
                {{else}}
                  {{#if currencyChartData}}
                    {{trading/currency-chart currencyChartData=currencyChartData}}
                  {{else}}
                    <div class="d-flex h-100">
                      <span class="m-auto">No graph data</span>
                    </div>
                  {{/if}}
              {{/if}}
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-12 col-lg-4">
            <section class="lastest-execution">
              <h2 class="block__header block__header_small">Lastest Execution</h2>
              <div class="container-box container-box_compact d-flex flex-column mt-0">
                <div class="row">
                  <div class="col">
                    <div class="table-wrapper">
                      {{#if historyTradeSpinner}}
                          {{!-- Loading spinner --}}
                          <div class="d-flex justify-content-center h-100">
                            <div class="d-flex align-self-center">
                              <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                          </div>
                      {{else}}
                        <table class="currency-table currency-table_pointer-cursor currency-table_compact table table-borderless table-hover">
                          <thead>
                            <tr>
                              <th>Price {{pairQuote}}</th>
                              <th>Amount {{pairBase}}</th>
                              <th>Time</th>
                            </tr>
                          </thead>
                          {{#if model.history-trade}}
                            {{#vertical-collection
                                model.history-trade
                                estimateHeight=27
                                staticHeight=true
                                bufferSize=7
                                renderAll=false
                                containerSelector=".lastest-execution .table-wrapper"
                                tagName="tbody"
                                as |record i|}}
                                  <tr {{action 'setPrice' record.price}} data-toggle="tooltip" data-placement="right" title="{{timestamp-to-date record.timestamp}}">
                                    <td>{{record.price}}</td>
                                    <td>{{record.base}}</td>
                                    <td>{{timestamp-to-time record.timestamp}}</td>
                                  </tr>
                            {{/vertical-collection}}
                          {{else}}
                          <tbody>
                            <tr class="currency-table__no-data">
                              <td colspan="3">No have operations history</td>
                            </tr>
                          </tbody>
                          {{/if}}
                        </table>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-12 col-lg-4">
            {{trading/trade-operations pair=pair pairBase=pairBase pairQuote=pairQuote availableBase=availableBase availableQuote=availableQuote model=model updatePair=(action "updatePair")}}
          </div>
          <div class="col-12 col-lg-4">
            {{trading/currency-statistics pair=pair pairBase=pairBase pairQuote=pairQuote selectedQuote=selectedQuote tickerPairs=tickerPairs currencyTableData=currencyTableData}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 d-flex">
        <div class="container-box d-flex flex-column">
          <section class="current-orders">
            <h2 class="block__header block__header_small">
              Current Orders
            </h2>
            <hr class="divider">
            <div class="table-wrapper">
              {{#if pairSpinner}}
                {{!-- Loading spinner --}}
                <div class="d-flex justify-content-center h-100">
                  <div class="d-flex align-self-center">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                  </div>
                </div>
              {{else}}
                <table class="currency-table currency-table_compact table table-borderless table-hover">
                  <thead>
                    <tr>
                      <th>Pair</th>
                      <th>Order Time</th>
                      <th>Side</th>
                      <th>Order Price</th>
                      <th>Order Amount</th>
                      <th>Unexecuted</th>
                      <th>Fee</th>
                      <th></th>
                    </tr>
                  </thead>
                  {{#vertical-collection
                    currentOrdersData
                    estimateHeight=27
                    staticHeight=true
                    bufferSize=7
                    renderAll=false
                    containerSelector=".current-orders .table-wrapper"
                    tagName="tbody"
                    as |record i|}}
                      <tr class="order-{{record.orderId}}">
                        <td>{{record.pair}}</td>
                        <td>{{timestamp-to-time record.time}}</td>
                        {{#if record.side}}
                          <td>Buyer</td>
                        {{else}}
                          <td>Seller</td>
                        {{/if}}
                        <td>{{record.orderPrice}} {{get-base record.pair}}</td>
                        <td>{{record.orderAmount}} {{get-base record.pair}}</td>
                        <td>{{record.unexecuted}} {{get-quote record.pair}}</td>
                        <td>{{if (gt record.executed "0") (concat record.executed " " (get-base record.pair)) "—"}}</td>
                        <td>
                          <span {{action "deleteOrder" record.orderId}} class="current-orders__action">Cancel</span>
                        </td>
                      </tr>
                  {{/vertical-collection}}
                </table>
              {{/if}}
            </div>
          </section>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex">
        <div class="container-box d-flex flex-column">
          <section class="order-history">
            <h2 class="block__header block__header_small">
              Order History
            </h2>
            <hr class="divider">
            <div class="table-wrapper">
              {{#if historyUserSpinner}}
                {{!-- Loading spinner --}}
                <div class="d-flex justify-content-center h-100">
                  <div class="d-flex align-self-center">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                  </div>
                </div>
              {{else}}
                <table class="currency-table currency-table_compact table table-borderless table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Price</th>
                      <th>Amount</th>
                      <th>Total</th>
                      <th>Comission</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  {{#vertical-collection
                      model.history-user
                      estimateHeight=27
                      staticHeight=true
                      bufferSize=7
                      renderAll=false
                      containerSelector=".order-history .table-wrapper"
                      tagName="tbody"
                      as |record i|}}
                        <tr>
                          <td>{{record.date}}</td>
                          <td>{{record.operation_type}}</td>
                          <td>{{record.price}}</td>
                          <td>{{record.amount}}</td>
                          <td>{{record.total}}</td>
                          <td>{{record.fee}}</td>
                          <td>{{record.status}}</td>
                        </tr>
                  {{/vertical-collection}}
                </table>
              {{/if}}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
{{/if}}
